[2021-06-24 20:55] cunnaneaq opened #168 "Summary pages after [SIBCANC3Y] and [CHILDCANC3Y]"
In the Module 1 specs document, it states:

"Summary screen to appear after questions have been exhausted for each sibling: Here is a summary of the information you shared about sibling [initials/nickname]. If any of the information is incorrect, please select the “Back” button to edit your answers. If all of the information is correct, please select the “Next” button to move forward"

and

"Summa

[2021-07-22 13:40] cusackjm opened #27 "[WORK4] (mod 1), HORMED4_5 (mod 2), HORMED2_5 (mod 2) able to enter a number of years worked that is greater than participant's age. "
For the question [WORK4] "How many years have you worked in that job X?" I was able to enter a number of years greater than my age. 

[2021-07-22 13:42] cusackjm opened #169 "No unit listed for response boxes in [WEIGHTTHIS]"
At [WEIGHTTHIS] "The next questions ask about how much you weighed at different times in your life. If you don’t remember your exact weight, please make your best guess. If you were pregnant at any of these times, how much did you weigh before your pregnancy? How much did you weigh when you were..." there is no unit listed like the previous pages - i.e., #Pounds (lbs)

[2021-07-22 13:46] cusackjm opened #174 ""to" should not be included between "including" and "the" in [SEX]"
Typo ("to" should not be between "including" and "the") in [SEX] "Later questions in this survey will ask about surgeries and medical procedures, including to the sex organs you were born with. We want to ask questions that will make sense for you." 

[2021-07-22 13:53] cusackjm opened #175 "[MHGROUP9] the answer choice "UTERUS REMOVED (A HYSTERECTOMY)" is inconsistent with others because of the "a" before hysterectomy. "
[MHGROUP9] in the question "Have you ever had any of these surgeries? Select all that apply." the answer choice "UTERUS REMOVED (A HYSTERECTOMY)" is inconsistent with others because of the "a" before hysterectomy. 

[2021-07-23 20:50] cusackjm opened #26 "Headings and intro descriptions on separate screens"
“Medications” header and INTROMED are on separate pages and should be on same one
Same error for “Physical Activity” header and [INTROPA]
Same error for “Sleep” and [SLEEPINTRO]

[2021-07-23 20:54] cusackjm opened #25 "Formatting issue for [SITTING], [SLHABIT1], and [HOUSE1] in various browser sizes"
[SITTING] question and responses are on different pages, shouldn’t these be on same page?

[SITTING] responses also have weird format if screen is smaller. With small screen, I am getting a soft error for missing a response, but I have put all the responses in. The formatting in the larger screen also looks weird, with text squished.

Issue also occurs for [HOUSE1] and [SLHABIT1]

Example smaller

[2021-07-23 20:55] cusackjm opened #24 "Uncapitalize PER in “days PER week” and “days PER month” in the follow-up for pain relievers, metformin, insulin,"
![image](https://user-images.githubusercontent.com/85582895/126840589-07c065e5-3ba8-4099-a872-fe0e00b24911.png)

[2021-07-23 21:02] cusackjm opened #23 "[PAINREL3] Can fill in text box and still click 77-don't know"
same issue as https://github.com/episphere/connectApp/issues/161 in module 1

[2021-07-23 21:03] cusackjm opened #22 "[PAINREL4] and [PAINREL6] can fill in # of years that is greater than the respondent’s age"
Same issue as https://github.com/episphere/connectApp/issues/180 in module 1

[2021-07-23 21:04] cusackjm opened #21 "[METFOR4] was able to submit “0” years in text box"

[2021-07-23 21:05] cusackjm opened #20 "[PREG8] and [SHIFTWORK] text formatting looks weird"
![image](https://user-images.githubusercontent.com/85582895/126841469-72c0e207-da0e-475d-8f9e-cec9a1296913.png)

[2021-07-26 16:38] cusackjm opened #19 "Issue with questionnaire start placement with different accounts using the same browser"
when logging out of one account and logging back in on a different account, but using the same browser, the 2nd participant is brought to the same place in the survey that they first participant left off at. This does not happen if a different browser is used.

Example: I signed out of Daniel DCEG at the women's health questions. Using the same internet browser, I signed into Irina Institute and w

[2021-07-26 16:48] cusackjm opened #18 "Heading for [PREG] should not be on same line as supporting sentence"
![image](https://user-images.githubusercontent.com/85582895/127027438-55a4f539-7133-4675-a3da-8cdf947b6144.png)

[2021-07-26 16:53] cusackjm opened #17 "Skip pattern missed [INTROWH] and went directly to menstrual health history section [MENSHIS]."
Skip pattern missed [INTROWH] and went directly to menstrual health history section [MENSHIS].

Was correct in being taken to MENSHIS (participant SEX/GENDER= 00 FEMALE), but should have seen the INTROWH heading/intro screen first

[2021-07-26 18:24] cusackjm opened #16 "Incorrect skip pattern for WORKACT"
WORK=1 and was not taken to WORKACT section. Instead, was incorrectly skipped to INTROSITTING

[2021-07-26 18:35] cusackjm opened #15 "Incorrect skip pattern from [SLEEPSCHA]"
Was not skipped to [INTROSLESCH1], when I selected 0 at [SLEEPSCHA]. Was incorrectly skipped right to [SLEEP1A]

[2021-07-26 19:27] cunnaneaq opened #14 "Incorrect Skip Pattern for [PRESHOR5]"
On the specs document it does not direct any of the answers to [PRESHOR6] “In total, how many months or years have you used [MED FROM PRESHOR2]”.

I entered an age for [PRESHOR5] and it led directly to Physical Activity.  Based on previous loops/questions, [PRESHOR6] should appear regardless of whether an age is entered or there is no response.

![Screen Shot 2021-07-26 at 3 24 35 PM](https://user

[2021-07-26 19:35] cunnaneaq opened #13 "[HOUSE2] Skip Pattern Issue"
I did not get the table for [HOUSE2].  It went straight from [HOUSE1] to [LAWN] even though I selected that I did some of the activities in [HOUSE1].  The instructions state "ONLY DISPLAY ITEMS IN [HOUSE2] THAT =/= "NEVER" OR NON-RESPONSE IN [HOUSE1]"

[HOUSE2] asks, "On the days you did [this/these] household or shopping [activity/activities], about how much time per day did you spend doing [this

[2021-07-26 19:47] cunnaneaq opened #12 "[SLEEP] Piped text issues"
[SLEEP1A], [SLEEP1D], [SLEEP1F], [SLEEP1I], [SLEEP1L], [SLEEP1M] --> questions should pipe text from [SLEEPSCHA] to say either “most days” if [SLEEPSCHA] = 00 or “work days” if [SLEEPSCHA] = 01.

Mine says neither and I selected (01) YES for [SLEEPSCHA].  Screen shot below is an example from one of the questions.
![Screen Shot 2021-07-26 at 3 46 38 PM](https://user-images.githubusercontent.com/839

[2021-07-26 19:57] cunnaneaq opened #11 "Not able to submit at the end of the module"
Not allowing me to actually submit my survey.  I get to the end and click “Submit Survey”, then “Submit” at the reminder message, and when I am brought back to the Dashboard I see this (screenshot).  This is true even after I tried logging out and logging back in and submitting again.

![Screen Shot 2021-07-26 at 3 17 08 PM](https://user-images.githubusercontent.com/83971268/127050663-95ab1c75-c4c

[2021-07-27 18:32] cunnaneaq opened #10 "Additional sentence to be added to the end of [PAINREL2], etc. questions"
For the medications section for the questions that say, “During the time(s) that you were taking _____, about how many days per week OR days per month did you take it?”  There was additional language added to the end of the question that should state, “Please choose whichever makes the most sense for you”

[PAINREL2], [CHOLHTN2], [METFOR2A], [INSULIN2A], [ACIDSUP2]

[2021-07-27 18:41] cunnaneaq opened #8 "Reproductive Health Intro Screen - add an enter between heading and sentence"
Reproductive Health intro screen.  “Reproductive Health” and the intro sentence should be on separate lines.  See screenshot

![Screen Shot 2021-07-27 at 2 41 35 PM](https://user-images.githubusercontent.com/83971268/127209843-313cbbc9-d9ec-4a1c-8a92-f9453c8e71be.png)

[2021-08-02 20:25] cunnaneaq opened #171 ""Age at diagnosis" to "Age at surgery" for surgical procedures (same thing for year)"
In the "Surgical Procedures" section (questions A81 - A99) the words next to the text boxes say, "Age at diagnosis" or "Year of diagnosis."  Some examples are in the screenshot below.  This is the phrasing on the [Mod 1 specs document](https://nih.app.box.com/file/730484306528?s=5318vt30x10esg1weyuc8m9ml13tcf9h).

It may be misleading to have "diagnosis" for a surgical procedure.  Instead should w

[2021-08-05 15:12] cunnaneaq opened #9 "Did not see [INTROSLESCH2 - SLEEP2N],"
In Module 1, at [WORK] I selected that I work full time.

In Module 2, I selected (1) YES for [SLEEPSCHA], but "workday" was not piped into the question. (GitHub issue episphere/connectApp#205 )

After [SLEEP1M], I was not asked the Non-workday questions, [INTROSLESCH2], [SLEEP2A] - [SLEEP2N] and was brought directly from [SLEEP1M] to Sleep Habits.

[2021-08-31 15:40] meshferg opened #176 "Various Quest survey issues"
Date: 		8/25/2021
Environment:	dev
Ferguson running through the Quest module 1 survey:
•	Permits children to be older than participant
•	If you skip close-to-you contact entry, it still asks for the contact’s phone number
•	Intermittent rendering: First screen of “Tobacco and nicotine” had no text, just a “Next” button
•	No boundary limits on any “number of pills per day”. (It seems this was a gen

[2021-09-29 16:22] cusackjm opened #172 "Can enter 0 at PPLEHOUSE. Min response should be 1"
PPLHOUSE: How many people currently live in your household? **Please include yourself in the total number.** (Include students living away at school, deployed military, etc.), but participant is able to enter 0. Min should be set to 1

[2021-10-15 13:03] cusackjm opened #173 "Conditions/surgeries are not bolded in age of diagnoses questions for BREASTSUR0-9, BREASTDIS3, & BREASTDIS4"
![image](https://user-images.githubusercontent.com/85582895/137491048-c75f0ccd-d525-460b-9daf-b8bf40e3bfc2.png)

[2021-11-18 19:48] cusackjm opened #7 "Stuck in SIB/CHILD loop when not providing a response to SIB/CHILD"
I did not answer SIB (no response) and SIBCONFIRM said I have "0 undefined" siblings and then brought me through the sibling loop. I clicked back to see if this happened when I entered "0" at SIB and the loop did not happen (which is correct, so I think the loop issue only happens when the participant does not respond to SIB).
I tried duplicating this issue at CHILD and the same thing happened at

[2021-11-22 17:33] cusackjm opened #6 "Incorrect skip pattern for EMPLYERSRVCE1= No response"
When EMPLYERSRVCE1= No response I should be brought to WORK8, but instead I was taken to WORK7.

[2021-11-22 19:47] cusackjm opened #5 "Incorrect Skip pattern for INTRONONCISWOM or HORNONCISWOM"
Participant is SEX= 2, GEN=0 and did not see INTRONONCISWOM or HORNONCISWOM.
Instead was taken to TESTHER after ACIPSUP questions.

[2021-12-06 21:37] Davinkjohnson opened #1 "Module 2 Example"
Example of Module 2 issue, see label

[2021-12-06 21:39] Davinkjohnson opened #2 "Example Mod1,3,4 & Biospec"
See labels

[2021-12-06 21:49] Davinkjohnson opened #3 "2 - JSON "concept" text does not match harmonized text"
We did notice that some of the “concept” text does not match the harmonized text, which I believe is expected given our discussion on Wednesday. But I’m including a couple of examples here for reference:

[2021-12-06 21:50] Davinkjohnson commented on #3
![image](https://user-images.githubusercontent.com/87718852/144928306-0486fe2b-47a9-4be0-aa62-aa045e6f3b50.png)

[2021-12-06 21:52] Davinkjohnson opened #4 "2- Change in Concept IDs for source questions"
Jen: "I noticed that a large number of concept IDs for source questions and non-harmonized responses changed from the previous version that was used for the transformed markup that is now in testing. See examples here (the file on the left is the newly converted file, the file on the right is the one that was delivered for testing):"![image](https://user-images.githubusercontent.com/87718852/14492

[2021-12-13 22:09] Davinkjohnson commented on #3
Per @boyd-mj 's email, still seeing these issues.

- The harmonized concept ID for 55  = Other is incorrect for WORK2 (should be ‘181769837’, but is ‘121720893’)

- SIB2 has incorrect/the same information in the JSON as SIBNAME;  SIB2 is a multiple choice question

- Some other Module 1 concept IDs do not match what is currently used in the transformed markup that was released. The majority seem t

[2021-12-15 16:42] boyd-mj opened #28 "Concept ID for SIBNAME/SIB2"
Please see question concerning concept ID decision for SIBNAME and SIB2 in Module 1

From: "Boyd-Morin, Jennifer (IMS)" <Boyd-MorinJ@imsweb.com>
Date: Tuesday, December 14, 2021 at 4:45 PM
To: "Natarajan, Madhuri (NIH/NCI) [C]" <madhuri.natarajan@nih.gov>, "Gerlanc, Nicole (NIH/NCI) [E]" <nicole.gerlanc@nih.gov>, "Shen, Brian (NIH/NCI) [C]" <brian.shen@nih.gov>, "Johnson, Davin (NIH/NCI) [C]" <dav

[2021-12-17 22:31] huip-ims opened #29 "Questions on Module 4 – COVID-related contents changes"
Sent: Monday, November 15, 2021 6:55 PM
To: Gaudet, Mia (NIH/NCI) [E] mia.gaudet@nih.gov; Jones, Rena (NIH/NCI) [E] rena.jones@nih.gov; Gerlanc, Nicole (NIH/NCI) [E] nicole.gerlanc@nih.gov; Boyd-Morin, Jennifer (IMS) Boyd-MorinJ@imsweb.com
Cc: Freedman, Neal (NIH/NCI) [E] freedmanne@mail.nih.gov; Brotzman, Michelle (NIH/NCI) [E] michelle.brotzman@nih.gov; DePietro, Deanna (NIH/NCI) [C] deanna.depi

[2021-12-20 17:24] Davinkjohnson commented on #26
@boyd-mj

To resolve this, see the as-is/to-be for markup:

<b>As-is</b>
[SECTION3]\<b\>Physical Activity\<\/b\>

[INTROPA]
Next, we will ask you about different types of physical activities. We are interested in activities that you do during a usual day, including at work or around the house. We are also interested in activities that you do specifically for exercise or for fun.

Many of the quest

[2021-12-20 20:12] boyd-mj commented on #10
@cusackjm Per the comments above, the language is currently what's shown in the second example. Do you want us to update the markup to match what is in the questionnaire as shown in the first example? There are some comments between Alaina and Deanna in the document, but it looks like a resolution wasn't reached. Thanks.

[2021-12-20 20:14] boyd-mj commented on #12
IMS tested when this issue was created and could not replicate the issue. The issue was referred back to @naiyume for testing of piping issues with Quest.

[2021-12-20 20:15] boyd-mj commented on #13
IMS was unable to replicate this error

[2021-12-20 20:16] boyd-mj commented on #20
@Davinkjohnson it looks like this issue can be closed?

[2021-12-20 20:28] boyd-mj commented on #25
@Davinkjohnson & @naiyume this may be a Quest issue?

[2021-12-20 21:30] Davinkjohnson commented on #20
The comment on this issue is saying that Aileen was expecting to see "breastfeed" in blue but didn't.

Also, we believe Julie posted the issue to point out the misalignment of "breastfeed" and "shift work."

Unless we can verify that this is closed we should leave it open for now.

[2021-12-21 13:00] joshid-ims commented on #26
This change is not reflected in the Word document on Box. We will need to remove Quest IDs INTROMED, INTROPA and SLEEPINTRO from the document.

[2021-12-22 19:52] woodruffr opened #30 "Update CURWORKYR1 Text Box Values"
@cusackjm ,

Please update the Baseline Quex for Module 4 so that the text boxes are named CURWORKYR1_Month and CURWORKYR1_Year.

Sent: Tuesday, December 21, 2021 11:03 AM
To: Gaudet, Mia (NIH/NCI) [E] <mia.gaudet@nih.gov>; Woodruff, Rose (IMS) <WoodruffR@imsweb.com>; Cusack, Julie (NIH/NCI) [C] <julie.cusack@nih.gov>
Cc: Freedman, Neal (NIH/NCI) [E] <freedmanne@mail.nih.gov>; Brotzman, Michelle (

[2021-12-22 20:34] Davinkjohnson commented on #20
In Today's meeting with IMS Jen shared that their testing of this in the renderer it looked to be functioning, but it might be that the small misalignment of text is within the PWA. She will assign this back to Brian for further investigation.

[2021-12-22 20:58] boyd-mj commented on #20
Here's how it appears in the renderer when we test. The user needs to click on the button in order to see the explanatory text, which is expected.

![shiftwork](https://user-images.githubusercontent.com/80920570/147154321-ee5c9594-9223-4a78-9407-c8f15e6ed4e3.png)

[2021-12-22 21:09] freedmanne commented on #10
hi, I reviewed the documents. I think the concern would be that participants might think they would have to fill out both days per week and days per month. So how about this, "Please fill out either days per week or days per month."

[2021-12-22 21:10] freedmanne commented on #26
hi, yes I agree with this change.
best,
Neal

[2021-12-22 21:17] boyd-mj commented on #26
@joshid-ims to make these changes. Assigning back to IMS.

[2021-12-22 21:19] boyd-mj commented on #22
@cunnaneaq this is expected behavior. The max of the age range is current age + 1 to allow for the possibility that the participant has had a birthday since entering her age in Module 1 and completing a later module.

[2021-12-22 21:19] #22 closed

[2021-12-22 22:53] boyd-mj commented on #10
@freedmanne thanks. Should we then take out the line that says "Or, if it is easier to remember..."? So it would look like this:

D2.	 [PAINREL2] During the time(s) that you were taking [MED FROM PAINREL1], about how many days per week OR per month did you take it? Please fill out either days per week or days per month.
|__|__| #Days PER Week
Or:
|__|__| #Days PER Month

[2021-12-22 23:01] freedmanne commented on #10
sure!

[2021-12-23 17:11] boyd-mj commented on #10
@freedmanne these changes have been made in the mark-up. The questions now look like this:

![image](https://user-images.githubusercontent.com/80920570/147272357-eab25058-5c69-44bf-915f-517b4d5a8997.png)

@cusackjm can you please update the questionnaire on Box to reflect this when you are back in the office? Thanks.

[2021-12-27 16:29] boyd-mj commented on #26
These changes have been made and will be included in the next delivery

[2021-12-28 16:32] cusackjm commented on #10
Changes have been made to Box documents

[2021-12-28 16:32] #10 closed

[2021-12-29 15:04] cusackjm commented on #26
changes made to box documents

[2021-12-29 15:04] #26 closed

[2022-01-03 16:51] #1 closed

[2022-01-03 18:08] Davinkjohnson commented on #12
Julie and I reviewed this. Given that IMS could not replicate the issue, we are comfortable completing another round of testing and closing this if it's no longer an issue.

[2022-01-03 18:09] Davinkjohnson commented on #13
Julie and I reviewed this. Given that IMS could not replicate the issue, we are comfortable completing another round of testing and closing this if it's no longer an issue.

[2022-01-03 18:10] Davinkjohnson commented on #20
Julie and I reviewed this and agreed that it looks good in the renderer and is ready for another round of testing. We'll close if it works through this round.

[2022-01-03 18:12] Davinkjohnson commented on #25
This will require further testing and updates from Brian, Daniel, and the Quest collaborators.

[2022-01-03 18:14] Davinkjohnson commented on #11
This issue seems to be intermittent, and will require more focused troubleshooting (perhaps even some "caught-in-the-act" troubleshooting.

I'll check with Brian and Jonas on availability to jump on a call with Aileen or Julie if this is encountered in the next round of testing.

[2022-01-03 21:51] boyd-mj opened #31 "Address conditional question"
Hi @cusackjm  & @freedmanne, question for you concerning the home address section in Module 4. As you know the section presents a series of questions where the user can enter multiple addresses. They are first asked if they have lived anywhere else in the past 20 years and if they say yes, they are presented with the fields to enter the address:

[HOMEADDOTH2?] Within the <b>past 20 years</b>, hav

[2022-01-04 16:01] cusackjm commented on #31
We think the participant should not see the follow-up questions, as we are unsure how useful it is to gather that information if we don't know where the participant was living at the time.

[2022-01-05 14:41] cusackjm commented on #29
1. Yes, these should be changed to ‘where you worked’ and ‘did you used to get to’
2. No, I dont think we need to check for conditions before asking the previous job questions as everyone will be asked at least the first question PREWORKRES. WORK2019 responses determine if someone is going to get the current work commute or skip to the previous work commute (PREWORKRES) (which everyone should see)

[2022-01-05 14:52] cusackjm commented on #30
changes have been made to markdown

[2022-01-05 14:52] #30 closed

[2022-01-05 18:37] woodruffr commented on #30
@cusackjm  The Quest ID  for year should be CURWORKYR1_Year. I note you left the "2" after the "CURWORKYR".

R50.R51.[CURWORKYR1] In what month and year did you startcommuting to [insert address from CURWORK1 –CURWORK3/this address]?(IOr, if it easier to remember your age, enter that here.)[CURWORKYR1_Month] |__|__| Month [CURWORKYR2_Year]

[2022-01-05 21:32] woodruffr commented on #30
Hi @cusackjm,

Thank you for making that correction!

[2022-01-19 21:48] boyd-mj commented on #29
@huip-ims can this issue be closed?

[2022-01-19 21:51] huip-ims commented on #29
@boyd-mj  Yes, I'll close the issue now.

[2022-01-19 21:51] #29 closed

[2022-01-20 13:52] woodruffr opened #32 "HOMEADD1_3 to HOMEADD11_3 Wording"
@cusackjm @freedmanne

I believe we will need a Module 4 Questionnaire Word doc change for HOMEADD1_3 – HOMEADD11_3. For the first address it says something about where you live now. The 2nd and later addresses still say “before you moved to the place you live now?” That makes no sense for addresses 3-11.

We originally recommended against using 2nd, 3rd, 4th, etc. addresses if a street etc. was n

[2022-01-20 19:11] cusackjm commented on #32
Neal and I agree that we should not fill "before you moved to the place you live now" for 3rd, 4th, 5th, etc. addresses. We would like to instead fill the previous address that was reported.

[2022-01-21 18:40] boyd-mj commented on #32
Hi @cusackjm, our team reviewed the changes in the Word document and discussed further. Two follow-up questions:

1. Per your email, we only want to make these changes for addresses 3+, so for the second address, we should retain the previous language of "the place you lived before the place you live now", correct? If so, that probably should be tweaked in the Word doc.

2. How important is it tha

[2022-01-24 16:13] cusackjm commented on #32
Hi- for the purpose of these questions we need to know which address the person lived and the years that they lived there. We think it it easier to remember your next address if you are prompted with the address you previously listed before.

[2022-01-24 16:34] boyd-mj commented on #32
Hi Julie,

Thanks for the feedback. We will work on these changes.

Jen

[2022-01-25 22:47] boyd-mj opened #33 "Min values for"
Hi @cusackjm it looks like we never closed the loop on this issue. Should we update the minimum to year of birth for the three variables mentioned below? If so, could you add them to the range check document on Box please (it's locked for us) and then we will make the changes:
https://app.box.com/file/869524081027

From: Cusack, Julie (NIH/NCI) [C] <julie.cusack@nih.gov>
Sent: Monday, November 15,

[2022-01-25 22:53] boyd-mj commented on #14
@Davinkjohnson this is an issue that didn't get looked at in our last round as it's not marked as recurring, but it was grouped with some other recurring skip issues. We reported at the time that we believed this was functioning properly. Can this be closed?

[2022-01-25 22:58] boyd-mj commented on #15
@Davinkjohnson As reported on 7/28, IMS could not reproduce this issue

[2022-01-25 23:01] boyd-mj commented on #16
@Davinkjohnson as reported on 7/28 IMS was not able to replicate this error

[2022-01-26 14:50] cusackjm commented on #33
Hi Jen- we did not end up deeming an update to those range checks necessary, so they can remain set to 0.

[2022-01-26 14:50] #33 closed

[2022-01-26 17:42] boyd-mj commented on #33
Thanks!

[2022-02-01 22:13] boyd-mj commented on #32
Hi @cusackjm I just wanted to follow up on the question below. Do you want to update the relevant section of the questionnaire to reflect this decision? We've made the code changes.

Thanks,
Jen

[2022-02-02 06:10] huip-ims opened #34 "Questions on Biospecimen Questionnaire"
Hi Julie,

For several questions, you asked for numeric drop down lists for month, year, or # of times.  Currently, numeric drop downs are not supported.  I can work around these by using numeric text boxes, or did you want to discuss this with Daniel to see if he can add these features?

For grids, you listed variables names with underscores, but I believe this is currently not permitted.  Do you

[2022-02-02 15:09] cusackjm commented on #34
Hi Pete,
1. I will get back to you soon on using the numeric text boxes, or if we want to ask Daniel if he could add the drop down feature.
2. For the variable names, to my understanding I was following this naming convention:
![image](https://user-images.githubusercontent.com/85582895/152180545-51b2269a-7b65-4d50-a99b-064de1352ab3.png)
Is this different for Grids?
3. I will change the 77 response

[2022-02-02 15:19] cusackjm commented on #34
1. (UPDATE) We are ok with using the numeric text boxes

[2022-02-02 15:23] cusackjm commented on #32
Hi, no, we decided to please keep it as the directions state and fill the previous address for addresses 2-11.

[2022-02-02 17:09] danielruss commented on #34
First, drop down boxes are not supported.  I believe the rationale was that it was not 508 compliant.

Underscore SHOULD be allowed in question id's.  I just checked the code again Yes it accepts underscores.  It wont however take lowercase letters, so I'm shocked that SrvBlUCOV19A1v1r0 works for you (It does not for me).

Try the following in [quest](https://episphere.github.io/quest/)
[code]

[2022-02-02 18:11] huip-ims commented on #34
Hi Daniel - My apologies for the confusion. I did upcase all the letters prior to testing.

From your example, this is error I'm getting in the renderer whenever I select a response for 'Chew gum' that has the underscores in the variable name.

![image](https://user-images.githubusercontent.com/82978291/152212240-98a8cdc3-b322-48f6-a0b5-2d66bbdc6258.png)

[2022-02-02 19:48] danielruss commented on #34
@huip-ims  you have found out a bug in the code that is only exposed if the question id has an underscore.

[2022-02-02 20:15] danielruss commented on #34
Fix bug and the error no longer appears.

[2022-02-07 01:22] huip-ims commented on #34
@danielruss Thanks Daniel, the grid is working now after your bug fix.
@cusackjm Julie - For question 21 ([SrvBlU_COV6_v1r0] The [first/2nd/3rd/etc.] time you had COVID-19, did you have any symptoms?), the 'No' response is skipping to [SrvBlU_COV23_v1r0], which is question 44 and outside of the # times you had COVID-19 loop. Should it instead skip to question 24 ([SrvBlU_COV9_v1r0], septic shock)

[2022-02-07 14:32] cusackjm commented on #34
Hi @huip-ims, for question 21 ([SrvBlU_COV6_v1r0], if someone selects "no" they should be done with the loop. If you cant have them skip to [SrvBlU_COV23_v1r0], then they should skip to question 39 [SrvBlU_COVSUMMARY_v1r0].

[2022-02-07 22:21] huip-ims commented on #34
@cusackjm Hi Julie - For question 21 [SrvBlU_COV6_v1r0], I set the ‘no’ response to skip to question 39 [SrvBlU_COVSUMMARY_v1r0]. This will allow the loop the continue for the number of passes based on “# of times you had COVID-19”.  Below, I have some additional questions.

Should we set a value limit for the following numeric text boxes: # times you had COVID-19, # nights stay in hospital when y

[2022-02-08 15:07] cusackjm commented on #34
Hi!

We do not want a value limit for # times you had COVID-19 and # nights stay in hospital when you had COVID-19. We do want the value limit for the # of shots of vaccine did you get to be 10. Is it possible to set the value limit for # months take to recover from COVID-19 to be based on the response from question 18 COV3?

Yes, For # of days with oxygen (by mask or nose), # of days with a breat

[2022-02-09 22:14] boyd-mj opened #35 "Order of questions in mouthwash questionnaire"
Hi @cusackjm the mouthwash questionnaire is not ordered the way that we would expect based on the logic/skip patterns in previous modules, specifically in the section that ascertains oral hygiene product use. With the current order, it requires us to code some additional skip patterns that wouldn't otherwise be necessary. Would it be possible to make two changes so that the code flows a bit better

[2022-02-10 15:14] boyd-mj commented on #35
@cusackjm yes, that's correct

[2022-02-10 16:46] cusackjm commented on #35
@boyd-mj those changes are ok I will update the questionnaire word documents

[2022-02-23 19:48] boyd-mj commented on #35
IMS confirmed these changes were made and will update the markup accordingly.

[2022-02-23 19:48] #35 closed

[2022-02-25 16:59] boyd-mj opened #36 "Change "questionnaire" to "survey" in thank you"
[From:]() Boyd-Morin, Jennifer (IMS)
Sent: Friday, February 25, 2022 11:57 AM
To: Cusack, Julie (NIH/NCI) [C] <[julie.cusack@nih.gov](mailto:julie.cusack@nih.gov)>
Cc: Brotzman, Michelle (NIH/NCI) [E] <michelle.brotzman@nih.gov>; DePietro, Deanna (NIH/NCI) [C] <deanna.depietro@nih.gov>; Roberts, Amelia (NIH/NCI) [C] <amelia.roberts@nih.gov>
Subject: RE: Edit to 'Thank you' Message at end of Survey

[2022-02-25 18:41] cusackjm commented on #36
Closing remark "Thank you for completing this section of the survey" has been added to the Module 1, 2, 3, 4 Box documents.

Closing remark "Thank you for completing the survey" has been added to the biospecimen Box documents in DCEG and IMS folders and the SSN Box document in the DCEG folder. I have not found an IMS version of the SSN Box Document.

[2022-02-25 18:41] #36 closed

[2022-03-02 17:10] huip-ims commented on #34
@cusackjm @woodruffr  Hi Julie – For question #50 “[SrvBlU_COV29_v1r0] Here’s a summary of the information you shared about your COVID-19 vaccinations. If any of the information is incorrect, please select the “Back” button to update your responses. If all the information is correct, please select the “Next” button to move forward.”, currently this summary is outside of the loop for COVID-19 vacci

[2022-03-02 17:14] cusackjm commented on #34
Hi, Yes I agree. I can update the questionnaire word documents in box

[2022-03-02 17:14] #34 closed

[2022-03-03 03:54] huip-ims opened #37 "Text Box in Grids"
@boyd-mj @FrogGirl1123 Hi Julie - For the COVID-19 Symptoms grid [SrvBlU_COV19C_v1r0] and the Health Problems grid [SrvBlU_COV23B_v1r0], these are asking for "Other [Free text box]".  Quest currently does not have this functionality in grids.  Would NCI like to make Questionnaire changes or implement Quest changes?

[2022-03-03 04:03] huip-ims opened #38 "Piped Text in Grids"
@boyd-mj @FrogGirl1123 Hi Julie - For the COVID-19 Symptoms grid [SrvBlU_COV20A_v1r0] and the Health Problems grid [SrvBlU_COV24A_v1r0], these are asking for piped text from previous "Other [Free text box]" .  Quest currently does not have this functionality in grids.  Would NCI like to make Questionnaire changes or implement Quest changes?

[2022-03-03 18:09] cusackjm commented on #38
We can implement questionnaire changes. Waiting to finalize the question language/format. I will comment here when the Questionnaire Box document is updated

[2022-03-03 18:10] cusackjm commented on #37
We can implement questionnaire changes. Waiting to finalize the question language/format. I will comment here when the Questionnaire Box document is updated

[2022-03-03 19:03] woodruffr opened #39 "Typos"
@cusackjm We noticed two minor issues:

_47.	[SrvBlU_COV26_v1r0] How many shots of vaccine did you get?
__ [please have drop down (numeric)]
For each vaccination based on [SrvBlU_COV26_v1r0], [can we include an indicator of which shot?] i.e. for your first shot, for your second shot, for your third shot..._
As a matter of grammar, there should be a comma after the "i.e."

_56.	[SrvMw_HYGEINE_v1r0]

[2022-03-03 19:39] cusackjm commented on #39
I will update this in the same update for issue #37 and #38

[2022-03-03 21:02] woodruffr commented on #39
Hi Julie,

Another very minor change is the Connect Value for _[SrvBlU_MENSTARTDATE_v1r0] MM/DD/[YYYY]()
1 	This does not apply to [me]()_ should be a zero (0), not a 1. We are recommending that change in the data dictionary as well.

[2022-03-03 21:42] cusackjm commented on #39
added to update

[2022-03-04 17:53] cusackjm commented on #37
Questionnaire box document has been updated

[2022-03-04 17:53] #37 closed

[2022-03-04 17:53] cusackjm commented on #38
Questionnaire box document has been updated

[2022-03-04 17:53] #38 closed

[2022-03-04 17:53] cusackjm commented on #39
Questionnaire box document has been updated

[2022-03-04 17:53] #39 closed

[2022-03-11 16:00] joshid-ims opened #41 "isDefined not working with transformer software"
In a question like this:

[CIG9A?,displayif=equals(TOBACCO,0)]
On days that you |displayif=equals(isDefined(CIG5,0),0)|smoke||displayif=or(equals(isDefined(CIG5,0),1),equals(isDefined(CIG5,0),2))|smoked|, how many cigarettes |displayif=equals(isDefined(CIG5,0),0)|do||displayif=or(equals(isDefined(CIG5,0),1),equals(isDefined(CIG5,0),2))|did| you smoke <b>per day</b>? Please provide the number of ci

[2022-03-11 16:34] #23 closed

[2022-03-11 16:34] cusackjm commented on #23
closed 3/11/22 testing

[2022-03-11 16:35] cusackjm commented on #21
issue still open 3/11 testing

[2022-03-11 17:00] #14 closed

[2022-03-11 17:07] cusackjm commented on #25
![image](https://user-images.githubusercontent.com/85582895/157914069-6a8d0ec6-689b-439e-98b8-8878ea2a6e47.png)
3/11 screen when making the screen smaller.

[2022-03-11 18:27] cunnaneaq commented on #8
Looks good!

![Screen Shot 2022-03-11 at 1 27 12 PM](https://user-images.githubusercontent.com/83971268/157929134-7381b51a-66da-4bfb-824b-3a812a842467.png)

[2022-03-11 18:27] #8 closed

[2022-03-11 18:46] cunnaneaq commented on #18
Still present during testing on 3/11

[2022-03-11 18:54] cunnaneaq commented on #20
The informational text for breastfeeding worked well (and more recently added eclampsia/pre-eclampsia).  The alignment looks the same as above.  Potentially, a quest issue?

[2022-03-11 18:56] cunnaneaq commented on #24
Still present in 3/11 testing

[2022-03-11 19:06] cunnaneaq commented on #17
Saw [INTROWH] as Sex/gender=0 participant

![Screen Shot 2022-03-11 at 2 05 45 PM](https://user-images.githubusercontent.com/83971268/157934976-94d8c335-5ab1-40e2-8d89-f99c9c13c95f.png)

[2022-03-11 19:06] #17 closed

[2022-03-11 19:40] cunnaneaq commented on #16
3/11 tested WORK=1 and saw WORKACT grid questions

![Screen Shot 2022-03-11 at 2 39 45 PM](https://user-images.githubusercontent.com/83971268/157946008-8b1e1037-2085-41c9-884f-b2d1f12c8f87.png)

[2022-03-11 19:40] #16 closed

[2022-03-11 19:48] cunnaneaq commented on #13
3/11 - I am still experiencing this skip pattern issue.  I filled in that I completed all of the chores listed in [HOUSE1] but did not get the [HOUSE2] grid, instead I am brought directly to the screen "Lawn, Garden, and Home Repair"

[2022-03-11 20:15] cunnaneaq commented on #9
3/11 testing - fixed

[2022-03-11 20:15] #9 closed

[2022-03-11 21:11] #32 closed

[2022-03-11 21:14] #15 closed

[2022-03-11 21:34] cunnaneaq opened #42 "[TESTTHER3] [TESTTHER5] [PRESHOR3] Age Range Checks"
Upper limit for age range is 55.  The age I entered when I signed up is 54.

[2022-03-14 13:31] cusackjm commented on #27
issue still exists for WORK4

[2022-03-14 13:37] cusackjm commented on #5
issue still present tested 3/14

[2022-03-14 14:53] boyd-mj opened #43 "Well depth for child water"
Hi Julie,

If a participant indicates that the water source of their childhood home was a well (CHILDWTR1=2) should there be a corresponding question about well depth like there are for the home and seasonal addresses?

Thanks,
Jen

[2022-03-14 20:27] boyd-mj commented on #13
@cunnaneaq we took a look at this and this issue only occurs in the transformed version of the markup so it has something to do with the conversion. We're looking into it. If @naiyume or Daniel Russ have time to take a look at our code as well, that might be helpful. It does look to me like the concept ID being applied to the "1" in the equals conditional statements is not the correct concept ID,

[2022-03-15 15:53] cunnaneaq commented on #42
When testing on 3/15 - My age is 52 (from mod 1) and the upper limit check says 54.  Need to clarify where this is pulling from.  Screenshot below is from [PRESHOR3]

<img width="347" alt="Screen Shot 2022-03-15 at 11 52 08 AM" src="https://user-images.githubusercontent.com/83971268/158417967-48a17acf-1ad9-4a35-a9ca-820bbd8edcf9.png">

[2022-03-15 16:08] danielruss commented on #25
@Davinkjohnson Can you give me a minimal module that contains this (i.e. A simple question before, the grid, end)?  Also, please surround the text with 3 back ticks (key to the left of 1, 3 before and 3 after, not on the same line). This is tells the chat that code, not markdown follows.

[code]

[2022-03-15 19:05] boyd-mj commented on #13
@cunnaneaq we redelivered the transformed M2 markup to Box with a fix for this. Please test once the updated version is uploaded and close if the issue has resolved. Thanks!

[2022-03-15 19:41] Davinkjohnson commented on #13
@anthonypetersen Can you add this to your to-do's for this week and let us know when complete?

[2022-03-15 19:51] joshid-ims commented on #41
Created https://github.com/episphere/quest/issues/382

[2022-03-15 20:08] anthonypetersen commented on #13
@boyd-mj do you have a link to the file on Box?

[2022-03-15 20:16] anthonypetersen commented on #13
Questionnaire has been updated on GitHub

[2022-03-16 12:57] cunnaneaq commented on #5
Testing a participant who is SEX=2 (Intersex or other) and GEN=55 (other) and did not see [INTRONONCISWOM] and [HORNONCISWOM].  I was brought directly to [INTROWH].

It is correct that I should see [INTROWH] and subsequent questions, but I should also see the INTRO/HORNONCISWOM paragraph and question beforehand.

[2022-03-16 13:48] cunnaneaq opened #44 ""Never" responses missing additional language in the response"
<img width="817" alt="Screen Shot 2022-03-16 at 9 47 36 AM" src="https://user-images.githubusercontent.com/83971268/158604301-77ca07f8-9b13-4d44-8af4-2ac82b5e3822.png">

[2022-03-16 14:12] cunnaneaq opened #45 "[INTROSITTING] "Outside of work" excluded if [WORK] = 0?"
Should we exclude the phrasing "outside of work" in [INTROSITTING] like it is excluded from [SITTING] when [WORK] = 0?

<img width="610" alt="Screen Shot 2022-03-16 at 10 09 26 AM" src="https://user-images.githubusercontent.com/83971268/158608797-85d7a0a9-41ee-4551-a3b1-8e1d81bc0a6f.png">

<img width="1124" alt="Screen Shot 2022-03-16 at 10 11 26 AM" src="https://user-images.githubusercontent.com/

[2022-03-16 14:18] cunnaneaq commented on #13
Received the [HOUSE2] grid during testing with the appropriate choices based on the [HOUSE1] grid.  Thank you!

<img width="1126" alt="Screen Shot 2022-03-16 at 10 17 34 AM" src="https://user-images.githubusercontent.com/83971268/158610545-2faa904c-f0d7-4fcf-b598-ebc86f536134.png">

[2022-03-16 15:09] cusackjm opened #46 "PAINREL8 response "no" should be "never""
PAINREL8 responses in the PWA are no, sometimes, often, and prefer not to answer. the "no" response should be "never" (reflected in the box document)

[2022-03-16 15:42] cunnaneaq commented on #12
Potentially a content issue - Julie and Neal to review

[2022-03-17 18:51] boyd-mj commented on #5
We are looking into this

[2022-03-18 17:58] woodruffr commented on #46
Hi Julie, did you mean to assign this to someone?

[2022-03-21 14:58] cusackjm commented on #12
Keeping content as is. No changes to be made

[2022-03-21 14:58] #12 closed

[2022-03-21 17:06] boyd-mj commented on #20
@Davinkjohnson is someone looking into this on the Quest end? It doesn't sound like testing on our end is needed, but let me know if I'm mistaken.

[2022-03-21 20:48] cusackjm opened #47 "Biospecimen Content updates"
BIOSPECIMEN DD ISSUE
- changes have been made to the data dictionary and box questionnaire documents, and are uploaded in the Box Folder.
- Emailed 3/21 asking question about source questions for Grids (waiting on response)

[2022-03-21 21:10] cusackjm opened #48 "biospecimen content changes (menstrual history section)"
Made content changes to box questionnaire documents.

Ready for markup changes

[2022-03-22 13:29] cusackjm commented on #46
Hi- sorry for the confusion. That is correct. The documentation in Box indicates I changed it to "never" 44 following that email, which is a mistake.

Related to that question, Neal and I are wondering if we could change PAINREL8 from
"Did you ever use prescription pain relievers that contain opioids in any way not directed by a doctor?" to
"Have you ever used prescription pain relievers that cont

[2022-03-23 14:36] woodruffr commented on #47
Note: the questions added to support removing the text boxes from grids are included in these changes.
Also, since IMS cannot make changes to the Questionnaire, generally comments added to it are just for NCI.

The Source Question will need to be added above each grid and each will need its own Variable Name. I am investigating any possible negative effects of having three Source questions with di

[2022-03-25 20:26] woodruffr commented on #47
Hi Julie,

A few changes need to be made for the Questions that were pulled from the grids. Specifically:
1.	For COV19C6A, the 0 (No) response is missing a skip to question COV20. Currently, both 0 and 1 responses default to question COV19C6B.
2.	For COV20A17, it has "IF (SrvBlU_COV19C6A_v1r0 = 55)", which the 55 option no longer exists because it is now a 1.
3.	For COV23B8A, the 0 (No) response i

[2022-03-28 13:51] woodruffr opened #49 "Biospecimen Questionnaire HYGIENE Variable Names are out of order"
In the HYGIENE question, MW1 is listed as the Variable Name for "Floss". Subsequently, the next 4 responses all have the wrong Variable Names:

0	[SrvMw_BRUSH1_v1r0] Toothbrush
1	[SrvMw_MW1_v1r0] Floss
2	[SrvMw_FLOSS1_v1r0] Water-based flosser or pick/jet
3	[SrvMw_WTRPICK1_v1r0] Tongue Cleaner or Scraper
4	[SrvMw_TONGUE1_v1r0] Teeth-whiteners (strips, etc.)
5	[SrvMw_WHITE1_v1r0] Mouthwash

[2022-03-28 15:08] cusackjm commented on #49
Do you see this error in the box questionnaire document, DD, and/or question types documents?

[2022-03-28 15:14] woodruffr commented on #49
This is in the Questionnaire Word document on Box.

[2022-03-28 15:24] cusackjm commented on #49
changes have been made to all box questionnaire documents

[2022-03-28 15:24] #49 closed

[2022-03-28 15:30] woodruffr commented on #49
Hi Julie,

I have reviewed both the Research Appointment and Mouthwash Hygiene questions and can confirm the changes have been made.

Rose

[2022-03-28 15:51] cusackjm commented on #47
Hi Rose - the following changes are in Box:

1. For COV19C6A, the 0 (No) response is missing a skip to question COV20. Currently, both 0 and 1 responses default to question COV19C6B.
2. For COV20A17, it has "IF (SrvBlU_COV19C6A_v1r0 = 55)", which the 55 option no longer exists because it is now a 1.
3. For COV23B8A, the 0 (No) response is missing a skip to question COV24. Currently, both 0 and 1 r

[2022-03-28 18:26] woodruffr opened #50 "Skip Pattern Issues"
Hi Julie,

After a review of Skip Patterns, in addition to the two you already corrected today, we found these. Please let us know which you are updating in the Word document and if any need other attention.

Q_#9: [SRVBLU_MENST60_V1R0] – The ‘No’ response skips to PREGNANT but NR defaults to MENSTART.
Q_#17: [SRVBLU_COV1_V1R0]
    The ‘No’ and ‘Unsure’ responses should skip to COVSUMMARY, NOT COV

[2022-03-29 12:23] cusackjm commented on #43
No

[2022-03-29 12:23] #43 closed

[2022-03-29 15:12] woodruffr commented on #48
@cusackjm

These changes have been made in the Mark-up. They are ready to be made in the DD. Would you like to make them and I can confirm they are made:
Adding MENST60
Changing the question type and formatting for MENSTART, including deleting the removed row for "This does not apply to me."

[2022-03-29 17:22] woodruffr commented on #48
Note that MENSTART response is a Date function so the Variable Type should be Date.

![image](https://user-images.githubusercontent.com/81166095/160669570-6b7354da-2e3e-486d-a259-635280dc7b29.png)

[2022-03-29 17:48] cusackjm commented on #50
**Added "NO RESPONSE" directions to the following:**
Q_#8: [SrvBlU_MENSTPRD_v1r0]
Q_#9: [SrvBlU_MENST60_v1r0]
Q_#17: [SrvBlU_COV1_v1r0]
Q_#20: [SrvBlU_COV4_v1r0]
Q_#28: [SrvBlU_COV12_v1r0]
Q_#31: [SrvBlU_COV14A_v1r0]
Q_#33: [SrvBlU_COV15A_v1r0]
Q_#35: [SrvBlU_COV16A_v1r0]
Q_#37: [SrvBlU_COV17A_v1r0]
Q_#41: [SrvBlU_COV19C6A_v1r0]
Q_#48: [SrvBlU_COV23B8A_v1r0]
Q_#52: [SrvBlU_COV25_v1r0]
Q_#77: [SrvM

[2022-03-29 18:16] cusackjm commented on #48
Changes have been made and are uploaded in box

[2022-03-29 19:52] woodruffr commented on #50
Hi Julie,

This change for COV6 has not been made in the Questionnaire: https://github.com/episphere/questionnaire/issues/34#issuecomment-1031532720. It has been made in the Mark-up.

Thanks,
Rose

[2022-03-29 20:24] woodruffr commented on #48
Hi Julie,

MENSTARTDATE still has a Source Question on the Box DD. (Also, the row is too small to see all of the Source Question.) The Question text should be what is in the Source Question currently. The Variable Name should be MENSTART (based on the Questionnaire and Mark-up. Also, the format MM/DD/YYYY should be in the Column Q Connect Value, and it is currently in the Required column.

As for

[2022-03-30 13:32] cusackjm commented on #48
Changes have been made to DD and questionnaire documents and are in box

[2022-03-30 13:32] #48 closed

[2022-03-30 13:40] cusackjm commented on #50
Changes have been made to questionnaire documents in box

Best,
Julie

Julie Cusack [C] • Operational Development Coordinator
Division of Cancer Epidemiology and Genetics
National Cancer Institute, National Institutes of Health
9609 Medical Center Drive, Rockville, MD 20850
[C] N4 Solutions, LLC
E: ***@***.******@***.***>
P: 240-276-5861

From: woodruffr ***@***.***>
Sent: Tuesday, March 29, 2022

[2022-03-30 18:01] woodruffr commented on #48
I have reviewed the changed and confirm that they are as expected.

[2022-03-30 19:25] cusackjm opened #51 "Variable name prefixes"
updated in DD and biospecimen qx

[2022-03-30 20:19] #2 closed

[2022-03-30 20:29] woodruffr commented on #51
Hi Julie,

These changes were noted in the February 3 Questionnaire change log as "Updating variable name prefixes (mouthwash from “BioMwQ” to “SrvMw” and non-specific subsection questions (from “SrvBlU” to “SrvBio). To help us identify them, what is meant by "non-specific subsection questions"?

Thanks,
Rose

[2022-03-30 20:32] cusackjm commented on #51
hi rose,
the non-specific subsection questions are Q1 (SEX)- Q6 (WAKETIME)

[2022-03-31 13:03] cusackjm commented on #50
Due to the COV6 skip pattern changes from COV23 to COVSUMMARY, I have to edit the display skip logic for COV19. I will let you know when the changes have been made

[2022-03-31 18:22] cusackjm commented on #50
Changes to COV19 skip logic have been made and are in box

[2022-03-31 18:24] cusackjm opened #52 "Biospecimen Grids"
The following edits have been made to the Biospecimen Qx:
- Added variable names and intro question text for the following Grids: MED1, COV19A, COV19B, COV19C,COV23A, COV23B.
- Updated Grid variable names to include “GRID_” in the prefix

[2022-03-31 18:24] woodruffr commented on #50
Thank you. We’ll review for Mark-up or DD changes.

From: Julie Cusack ***@***.***>
Sent: Thursday, March 31, 2022 2:23 PM
To: episphere/questionnaire ***@***.***>
Cc: Woodruff, Rose (IMS) ***@***.***>; Author ***@***.***>
Subject: Re: [episphere/questionnaire] Skip Pattern Issues (Issue #50)

Changes to COV19 skip logic have been made and are in box

—
Reply to this email directly, view it on Git

[2022-03-31 19:47] woodruffr commented on #52
Thanks, for some reason it was still showing me V3 and didn't offer the update. Now I can see the latest one.

[2022-03-31 19:59] cusackjm commented on #52
Sorry I had to download the file and then re-upload it to box because box was not cooperating today. I usually provide a clean version of the document without the tracked changes anyways, so I’m wondering have you been able to see the changes previously? Or do you want a marked up version with the edits in color?

Best,
Julie

Julie Cusack [C] • Operational Development Coordinator
Division of Canc

[2022-03-31 21:40] woodruffr opened #53 "Possible Biospecimen Questionnaire Changes"
Hi Julie,

I was just comparing the Mark-up to the Questionnaire in search of anything that might conflict with the current DD. We are still working on the DD part, but have these questions for the Questionnaire:
1. SYMPTDAY has a number 5 in the Questionnaire and an 88 in our Mark-up. I believe it should be the harmonized 88 = none of the above in the DD, which could still be "88 [SrvBlU_NOSYMPTD

[2022-04-01 12:58] woodruffr commented on #53
Hi Julie,

1. Do you want to change that in the DD now or wait until you get the next set of DD updates from us?
2. That must have been a glitch in the comparison software versus the file formats. Please ignore that one.

[2022-04-01 13:27] cusackjm commented on #53
Wait for the next set of DD udpates

[2022-04-01 14:51] woodruffr commented on #51
Hi Julie,

While reviewing our Mark-up changes we noticed that the prefixes were not changed in the SYMPTDAY responses. Also, EATDRINKBEFORE (2) has a Go to statement that needs to have the prefix changed.

[2022-04-01 15:18] cusackjm commented on #51
changes have been made

[2022-04-01 17:18] woodruffr commented on #52
Hi Pete, these changes are highlighted in the current Box copy of the Questionnaire.

[2022-04-01 19:05] cusackjm opened #54 "Changing question type for MENSTPRD, MENST60, MENSTART from option to required"
- Removing No response option from MENSTPRD, MENST60, MENSTART
- changing question types from optional to required

These changes support the triggering for the Menstrual Cycle Survey

[2022-04-01 19:10] woodruffr commented on #54
LOL...We don't currently have a question type for Required Multiple Choice...I've thought for a while we really need to just Remove the Optional from that one. I guess now we will. The DD formatting is all the same but a Y instead of N in the Required column which we really hadn't filled out. The big difference is in the mark-up. A ? is for optional and a ! for required. I'll pass this to a coder.

[2022-04-01 19:13] woodruffr commented on #54
Oops, I assumed these were made in the Questionnaire doc. Please let me know when the changes have been made on the Questionnaire on Box, then I'll pass this to a coder.

[2022-04-01 19:17] cusackjm commented on #54
sorry still in a meeting, I will make the changes soon

[2022-04-01 19:31] cusackjm commented on #54
changes have been made

[2022-04-01 20:05] KELSEYDOWLING7 opened #55 "Testing Scenario 3 AC: Wrong choices selected and/or displayed"
(Flattened Module 2 in dev)

Update: with retest these errors were solved

[2022-04-01 20:45] zly2021 commented on #55
I just checked. As of current moment, I didn't see 798889867 in current Connect.participants table.

[2022-04-03 19:52] huip-ims commented on #52
Hi Julie,
For "Since your COVID-19 diagnosis, have you experienced any of the following symptoms?", I'm also seeing this text in COV19 (#40). Did you want to keep this in COV19 and also added to COV19AINTRO, COV19BINTRO, & COV19CINTRO?

For "Since the beginning of 2020, have you experienced any of the following symptoms?", I'm also seeing this text in COV23 (#50). Did you want to keep this in COV2

[2022-04-03 19:55] huip-ims commented on #54
Changes for MENSTPRD, MENST60, MENSTART have been made in the markup and will be passed on to internal testing.

[2022-04-04 12:51] cusackjm commented on #52
Hi, Yes. For each grid we would like to have the intro text question shown.

[2022-04-04 14:12] woodruffr commented on #47
Hi Julie,

I believe this can be closed as the work was picked up in #52.

[2022-04-04 16:46] FrogGirl1123 commented on #55
@cusackjm Could you and Aileen double check how you recorded what you selected during your Module 2 testing.  Multiple choice answers are coded starting with 0 in the data dictionary, but if you were just counting in the list presented in the Survey, you probably started counting at 1.  I want to make sure we are comparing apples to apples so to speak.

[2022-04-04 16:55] KELSEYDOWLING7 opened #56 "Testing Scenario 4 JC (2): Responses showing as null and answer doesn't match data dictionary"
Dev Environment, flattened Module 2 and recruitment

Have you ever taken any of these types of progestin-only prescription hormones? Select all that apply.(PROGHOR==1,55,other)(D_800943768_687050279, D_800943768_807835037, D_800943768_235516216 , D_800943768_535003378)  :  1 selected but not an option, answers are 0, 55, and 88; 2 options for other( _ ) in data dictionary, only one other option gi

[2022-04-04 18:24] cusackjm commented on #56
Not sure how this happened as this was a while ago, but I think this could be because of how I was testing certain issues.

For some questions I was submitting an answer, going forward, and then going back and changing my answers to see if/how the skip pattern changed. I don't know for sure if that was the case for these questions, as I didn't make records of when I changed a response, and to my u

[2022-04-04 19:46] cusackjm commented on #54
@woodruffr can I make updates to the question type/dd now?

[2022-04-04 19:52] woodruffr commented on #54
Yes, the changes have been added to the dd copy we are working with for recommended changes, but if you make them now, you won't need to make them later. I had an internal question here that I was waiting on, but it shouldn't keep you from changing the DD.

[2022-04-04 19:53] woodruffr commented on #54
You can certainly change the Question Types document.

[2022-04-04 20:06] cusackjm commented on #54
sounds good. I will udpate the question types document and make the changes to the DD when the other ones are ready

[2022-04-04 21:00] KELSEYDOWLING7 opened #57 "Testing Scenario 5 AC: Responses populating only as NA, and some not matching Test Scenario"
(DEV Environment, Mod 2 Flattened Data)

Variable in participants table and flattened Mod2 table, but populating "NA" results instead of submitted responses:
-Age first menstrual period (MENSHIS==44) (D_969451837 -nested concept only, full concept not in flattened)

[2022-04-05 15:17] KELSEYDOWLING7 opened #58 "Testing Scenario ACJC 6: Responses showing as NA and answers selected not matching test scenario"
DEV Environment, Module 2 flattened

How many days per week is your sleep schedule determined by your job, school, or other activities? (SLEEPSCHB==6) (D_168431681) : 4 chosen (5 days) instead of option 2 (3 days)

On non-workdays, do you wake up before the alarm rings? (SLEEP2L==0) (D_820694957): In participants data and flattened data, but populating as NA

Has a doctor or other health professio

[2022-04-05 18:38] woodruffr opened #59 "COV2 No Response Directions"
Hi Julie,

The Questionnaire has no instructions for what to do if someone answers COV1 "Have you ever had COVID-19?" with 1 Yes and has no response to COV2 "How many times have you had COVID-19?". I imagine if they are not sure how many times they've had it they might skip that. COV2 is what sets the number of loops. With no instructions, the questionnaire just stops. What should be the NR direct

[2022-04-05 18:41] cusackjm commented on #54
(qx type document has been updated)

[2022-04-05 18:44] woodruffr commented on #54
Hi Julie, I wanted to check since for MENSTART the DD says "mentrual period" but the Questionnaire just says "period". I believe all the other references (Module 2) say "menstrual period". Shall we change the data dictionary or was that a Questionnaire oversight?

[2022-04-05 18:45] cusackjm commented on #59
If someone selects COV1= 1 and no response at COV2 the person should be sent to COV3 and put through 1 loop.
I will add the following statement to the qx after COV2 "_NO RESPONSE --> GO TO COV3 AND SET LOOP TO 1 ITERATION_"
Does that make sense?

[2022-04-05 19:04] cusackjm commented on #54
Hi- we think update the qx, I will do that now

[2022-04-05 19:38] woodruffr commented on #59
Yes, It makes sense to me. Please let me know when you update the Questionnaire and I'll assign the Mark-up changes to Pete.

[2022-04-05 19:51] woodruffr opened #60 "Source Question Variable Names"
Hi Julie,

The Source Question Variable Names from the Questionnaire need to be added to the "Grid ID/Source Question Name" column. I note that we had talked about using "Grid ID/Source Variable Name" on the weekly call, but the master dictionary has "Source Question Name - Surveys Only"

Either way, the Variable Names need to be pulled from the Questionnaire and added to that column in the data d

[2022-04-05 19:56] cusackjm commented on #59
Changes made

[2022-04-05 20:06] zly2021 commented on #56
D_496539718 actually doesn't have data by itself, it only includes D_969451837 nested under it. For D_290126991, it seems that the queries were scheduled in the afternoon. I've adjusted them to run in the morning before 8:00 AM.

[2022-04-05 20:16] huip-ims commented on #59
@cusackjm Julie, I addressed this previously when coding the markup. You agreed to use a 'min=1' check, so the participant will have to enter a value and not leave COV2 as NR.

[2022-04-05 20:21] woodruffr commented on #59
Pete, I brought this up.

[2022-04-05 20:38] woodruffr commented on #59
Julie,

Sorry about this. We can close this. When I saw there were no instructions in the Questionnaire, I looked at the Mark-up and put it in the renderer, but did not grab the code all the way to the end of the loop. Now that I've included the code all the way to the end of the loop, I see that it is putting a 1 loop minimum there.

[2022-04-05 23:24] boyd-mj commented on #5
@cunnaneaq per the logic in the questionnaire, if you are SEX=2 and GEN=55 the participant should only see [INTRONONCISWOM] and [HORNONCISWOM]:
DISPLAY INTRONONCISWOMEN and HORNONCISWOM IF:

SEX= (01 “MALE” OR 023 “INTERSEX OR OTHER”) AND GEN= (002 “FEMALE”, 034 “TRANSGENDER FEMALE”, 045 “GENDERQUEER”, OR 5506 “ADDITIONAL GENDEROTHER”)

ELSE, DO NOT DISPLAY

[INTRONONCISWOM] OurThe next questions

[2022-04-06 03:45] huip-ims commented on #52
Intro text questions for grids COV19A , COV19B, COV19C, COV20A, COV23A, COV23B, & COV24A have been added in the markup and will be passed on to internal testing.

[2022-04-06 12:57] #59 closed

[2022-04-06 13:18] cusackjm commented on #5
Hi @boyd-mj, is it possible that we tested an older version of the module that did not have these updates?

[2022-04-06 13:46] KELSEYDOWLING7 commented on #56
So for age at first Mensural period I reran the query with the nested ID only and found it. Is there a reason that it was nested as D_496539718_969451837  in the participants but not in the flattened? Should I be looking out for that with other nested variables, appearing alone?

For combined estrogen plus progestin prescription hormones I'm seeing it in the flattened and participants but it's not

[2022-04-06 14:52] cusackjm commented on #52
Previously, the COV19 grids were displayed if a participant ever had COVID-19 (i.e., COV1=1). Now, you want the COV19 grids to only display if a participant ever had COVID-19 and had symptoms (i.e., COV6=1). Is this correct?
 **yes this is correct**

Also, COV6 is within the COVID-19 loop, so there is a COV6 response each time a participant had a COVID-19 infection. Should the COV19A-B-C grids onl

[2022-04-06 15:09] woodruffr commented on #52
Hi Julie,

Would you please add "Display COV19A-B-C if at least one of their COV6 responses is 1" to the Questionnaire. The GitHub issues are helpful, but the coder really works from the Questionnaire. Thanks!

[2022-04-06 15:22] KELSEYDOWLING7 commented on #5
It looks as though none of the test scenario participants populated data for this variable on the backend. It comes up as a NULL variable for each. Only for other people that took the test with other testing emails is data populating

[2022-04-06 15:44] cusackjm commented on #52
updates have been made

[2022-04-06 18:39] KELSEYDOWLING7 opened #61 "Testing Scenario AC1: MANY Responses showing as NA and Reponses not matching test scenario"
DEV Environment, Mod 2 flattened

RESPONSES THAT SHOULD HAVE POPULATED, VARIABLES IN PARTICIPANTS TABLE AND FLATTENED M2 TABLE, POPULATING AS NA:
(MENSHIS==16)( D_496539718 )
(ESTROHOR2_1==50)(D_856627601)
(ESTROHOR3_1==1)(D_801749224)
 (ESTROHOR5_1==4 years)(D_623759247 )
(COMBHOR==0,1 )(D_263785082)
(COMBHOR2_1==40) (D_824165133)
(COMBHOR3_1==0) (D_295472931)
(COMBHOR4_1==45) (D_728437398)
(COMB

[2022-04-06 19:16] KELSEYDOWLING7 opened #62 "Testing Scenario JC2: MANY Responses populated as NA, responses not matching test scenario"
DEV Environment, flattened Mod2

RESPONSES SHOULD HAVE BEEN GIVEN, IN PARTICIPANTS AND FLAT M2 TABLES, POPULATED ANSWERS OF NA:
(PAINREL1==3,4,5 )     (D_399982309_555555502 , D_399982309_800410166 , D_399982309_221645137 )
(PAINREL2_4==1) (D_614446276)
(PAINREL3_4==77) (D_646042915)
(PAINREL4_4==22 ) (D_270254670)
(PAINREL5_4==0  ) (D_861824298)
(PAINREL7_4==0,1,3,4,5,6,7) (D_630231395_323106499

[2022-04-06 19:55] zly2021 commented on #56
If the ID is a harmonized ID, it would require nesting (otherwise it will raise confusion), while if it is not a harmonized ID, either nesting or non-nesting would work. @FrogGirl1123 can explain the concept of harmonization better than me I guess.

I've scheduled the queries to run before 8:00 AM every day yesterday, and double check it later in the day would help too.

[2022-04-06 20:40] KELSEYDOWLING7 commented on #56
Oh ok I think I see what you mean when I look at the Data Dictionary

[2022-04-06 21:10] boyd-mj commented on #5
@cusackjm can we close this issue then, or do you want to test further?

[2022-04-07 19:06] cusackjm commented on #52
@woodruffr intro text for grids is now inside the grids

[2022-04-07 20:11] cunnaneaq opened #63 "Unable to enter values in questions requiring a time"
Erin from HP did testing for us for another purpose and had to run through the modules to complete testing.  In the process, she was unable to enter a time in questions requiring it.  See screenshot below.  Entering this GitHub issue to make sure we test this in the next round.

![Screen Shot 2022-04-07 at 12 07 23 PM](https://user-images.githubusercontent.com/83971268/162287773-4dda6971-0a3e-49ff

[2022-04-08 12:40] KELSEYDOWLING7 commented on #56
Confirmed D_290126991 is showing as null in the participants table after today's morning run

[2022-04-08 14:06] cunnaneaq opened #170 "Blank page between [ACNEMED3] and [FAMHISTINTRO]"
![Screen Shot 2022-04-08 at 10 05 16 AM](https://user-images.githubusercontent.com/83971268/162452135-2991ba81-a511-475d-ae83-f0e074d3938c.png)

![Screen Shot 2022-04-08 at 10 05 26 AM](https://user-images.githubusercontent.com/83971268/162452171-54856c2d-8213-40bf-80a7-c735c4dca514.png)

![Screen Shot 2022-04-08 at 10 05 41 AM](https://user-images.githubusercontent.com/83971268/162452221-09dc24d1

[2022-04-08 14:07] KELSEYDOWLING7 commented on #61
@FrogGirl1123  Confirmed all were NA in participants table after this morning's run

[2022-04-08 14:09] KELSEYDOWLING7 commented on #58
@FrogGirl1123  Confirmed showing as NA after this morning's run of participants table

[2022-04-08 15:10] cusackjm opened #64 "Menstrual Cycle Survey - Progress"
Menstrual Cycle Survey - Questionnaire Document is in the Biospecimens Folder (https://nih.box.com/s/ob9qmgexut0znk5yei9run6wbuw7wydw)

Menstrual Cycle Survey has information filled in in the Question Types Document, under the "Menstrual cycle" Tab

[2022-04-08 15:16] woodruffr commented on #64
The link above didn't work for my access permissions, but I can access it here. https://app.box.com/file/942632162714?s=ob9qmgexut0znk5yei9run6wbuw7wydw

Since this is separate from the other questionnaire, please notify Jen by email that it is available for coding and copy Nicole and Davin.

[2022-04-08 19:29] cusackjm commented on #64
Tab for Menstrual Cycle Survey DD added to Biospecimens DD: https://nih.box.com/s/8jwgcng4htgqi0t4kgj42ti4pt743dd2

[2022-04-08 19:44] huip-ims commented on #52
@cusackjm @woodruffr @boyd-mj Hi Julie, there are some questions and conditional display statements that are still referencing COV20 and COV24, which you have removed. Could you please update these in the Word document accordingly? Thanks!
Q44 (COV19C6A) has 'GO TO SrvBlU_COV20_v1r0', which should now be COV20A
Q45 (COV19C6B) has 'ELSE, GO TO SrvBlU_ COV20_v1r0]', which should now be COV20A
Q53 (C

[2022-04-11 12:59] #60 closed

[2022-04-11 13:18] cusackjm commented on #52
Hi @huip-ims,

changes made

[2022-04-11 15:51] FrogGirl1123 commented on #63
Assigning Davin and Brian in case this is a PWA issue.  Keeping Jen in the loop, in case this is something we need IMS to help us test.

[2022-04-11 15:59] FrogGirl1123 commented on #54
@cusackjm Please be sure to update the "Required" column in the Biospecimen DD for the responses that are now required as well as populating that column with No's where appropriate.

All the same columns should be populated for the questionnaire dictionaries as are populated for the master, including Required, PII, Dictionary (i.e. Biospecimen Survey), State (which will be "No" for all the questio

[2022-04-11 16:10] FrogGirl1123 commented on #56
@KELSEYDOWLING7 and @cusackjm Just to make sure I understand the current status.  The variable  D_290126991 exists in the participants table and in the flattened Module 2 data but isn't populated at all?  And for the other variables listed in this issue, they are populated with the wrong data relative to this scenario? If this is the case @cusackjm, I agree it could be from going back and changing

[2022-04-11 16:12] FrogGirl1123 commented on #57
@cunnaneaq and @cusackjm Do either of you remember any issues with this scenario?

[2022-04-11 16:16] FrogGirl1123 commented on #58
@cunnaneaq and @cusackjm Do you remember any issue with this scenario?

[2022-04-11 17:32] FrogGirl1123 commented on #62
@zly2021 I looked into the PAINREL questions in the participants table and I think the issue is with the flattening.  These (and I suspect the other ones on Kelsey's list) are "Select all that apply" questions.  It looks like the flattening code is unpacking the array of selected options and creating a column for each option, but is not populating the cells in the columns with 0s and 1s to match w

[2022-04-11 17:35] FrogGirl1123 commented on #56
@zly2021 I think the NAs in this issue may have the same cause as in issue #62 . Could you please check to see if these are "select all that apply" variables and adjust the flattening code as needed?

[2022-04-11 17:36] FrogGirl1123 commented on #57
@zly2021 Again could you check if any of the variables that are NA are "select all that apply" and adjust the flattening code as described in issue #62?

[2022-04-11 17:38] FrogGirl1123 commented on #61
@zly2021 I think the NAs in this issue may have the same cause as in issue https://github.com/episphere/questionnaire/issues/62 . Could you please check to see if these are "select all that apply" variables and adjust the flattening code as needed?

[2022-04-11 17:39] cusackjm commented on #54
Biospecimen DD updated

[2022-04-11 17:39] FrogGirl1123 commented on #58
@zly2021 I think the NAs in this issue may have the same cause as in issue https://github.com/episphere/questionnaire/issues/62 . Could you please check to see if these are "select all that apply" variables and adjust the flattening code as needed?

[2022-04-11 17:44] cusackjm commented on #56
@FrogGirl1123 I can test that in the next testing round.

Only other theory @cunnaneaq and I have is that this could be part of the issue we had in submitting the qx. In the last round of testing, Aileen submitted the module, but when the page refreshed, it appeared as if the module was not submitted. When going back into that module and trying to submit the module, she was taken to the end of the

[2022-04-11 17:45] cusackjm commented on #57
Aileen tested this scenario. I copied below from another issue vvv

Only other theory @cunnaneaq and I have is that this could be part of the issue we had in submitting the qx. In the last round of testing, Aileen submitted the module, but when the page refreshed, it appeared as if the module was not submitted. When going back into that module and trying to submit the module, she was taken to the

[2022-04-11 17:48] KELSEYDOWLING7 opened #65 "Mod 1 missing variables in participants and flattened mod1, answers not matching data dictionary"
Nested concept IDs (answers) not found in any data dictionary:
o	Sibling 2 cancer type
     -	d_578895128_2_2_496560214
     -	d_578895128_2_2_653059616
     -	d_578895128_2_2_844710773
     -	d_578895128_2_2_747086784
     -	d_578895128_2_2_197862400
     -	d_578895128_2_2_268302153

o	Type of business for longest held job
     -	d_530742915_6988140771

Missing variables from flattened mod1 that

[2022-04-11 17:50] cunnaneaq commented on #57
Yes @cusackjm is correct, this happened to me a few times during testing.  I have a note in my testing spreadsheet in this scenario's tab, that this submission issue happened to me at the end of Module 2.

[2022-04-11 18:00] KELSEYDOWLING7 commented on #56
@FrogGirl1123  The variable D_290126991 is in both the participants table and flattened Mod2 table. But when I search the variable's answer for this participant (email d_869588347="bernardblank6@gmail.com") in the participants table, it shows a "null" response instead of a response of 2

[2022-04-11 20:24] zly2021 commented on #62
I did see flat_M2 table has values too. It seems that it can update successfully once the original connect.participant table has values.

[2022-04-11 20:31] cunnaneaq commented on #63
I just tested module 2 on a tablet to see if I could replicate Erin's issue.  I see the same gray line as she does, in these questions, but if you click on the gray line a drop down appears where you can enter the time (see screenshots below).  It works, and you can enter a time, but I see how this could be misleading to participants.  It doesn't look like this when I complete module 2 on my lapto

[2022-04-12 21:05] #54 closed

[2022-04-12 21:35] boyd-mj commented on #5
@cusackjm we have not updated these questions since 3/14

[2022-04-12 21:53] boyd-mj commented on #50
@huip-ims @woodruffr can this issue be closed?

[2022-04-13 13:25] zly2021 commented on #61
Similarly to #62, I did see flat_M2 table has values. It seems that it can update successfully once the original connect.participant table has values.

[2022-04-13 13:36] zly2021 commented on #56
Similarly to #62, I did see flat_M2 table has values. It seems that it can update successfully once the original connect.participant table has values.

[2022-04-13 15:07] boyd-mj opened #66 "Large amounts of extra space in address displays"
Hi @cusackjm are you able to view this issue in the Quest Github:
https://github.com/episphere/quest/issues/374

We reported an issue a while back with large amounts of space that appear in the address sections due to the length of the code. It's just an aesthetics issue, but I'd like to determine if it's something your team wants fixed with this initial release. I've also posted a follow up in th

[2022-04-13 15:54] cunnaneaq commented on #5
4/13 Module 2 testing - I am testing as [SEX]=2 "Intersex or other" and [GEN]=0 "female" and I am not seeing [INTRONONCISWOM] and [HORNONCISWOM] questions.  I see the intro to the reproductive health questions and then am brought directly to [INTROWH]

[2022-04-13 16:21] boyd-mj commented on #5
@cusackjm we're looking at this again

[2022-04-13 17:16] cunnaneaq opened #67 "[HOUSE2] grid - showing incorrect choices"
[HOUSE2] grid is only supposed to include answer choices that don't = never in HOUSE1.  I answered 44='never' to "caring for pets" and "caring for children and adults" and these options were present in [HOUSE2].  See screenshots below

[HOUSE1]
![Screen Shot 2022-04-13 at 1 14 41 PM](https://user-images.githubusercontent.com/83971268/163234620-953ed402-8adb-4aeb-8bb1-4d1080321a7d.png)

[HOUSE2]
![

[2022-04-13 17:25] cusackjm commented on #66
I think if its just an aesthetics issue it is fine to leave as is for the initial release

[2022-04-13 17:55] woodruffr commented on #53
The change for SrvBio_NoSymptDay_v1r0 has been changed to 88.

[2022-04-13 17:55] #53 closed

[2022-04-13 18:00] woodruffr commented on #51
These changes were made in the Mark-up and in the Questionnaire as expected.

[2022-04-13 18:00] #51 closed

[2022-04-13 18:10] boyd-mj commented on #67
Looking into this

[2022-04-13 18:41] cusackjm commented on #5
@boyd-mj sounds good. I also just tested as [SEX]=2 "Intersex or other" and [GEN]=0 "female" and I am not seeing [INTRONONCISWOM] and [HORNONCISWOM] questions

[2022-04-13 19:04] zly2021 commented on #65
Hi, I've added these additional variables to the first list of Module 1 variables I received. Thank you!
Also want to mention that some variables such as D_338020179, D_607773106_6_6 and D_607773106_8_8 not presented in the schema of original participant table. Feel free to let me know if you have any additional questions.

[2022-04-13 19:11] cusackjm opened #68 "update to PREG5 skip logic"
updated PREG5 skip logic in box questionnaire documents

**"[IF PREG1 = 1, DO NOT DISPLAY PREG 5 FOR THE MOST RECENT PREGNANCY, GO TO PREG10]_(I.e., IF PREG4 = 1, GO TO PREG 10. IF PREG4 = 2, DISPLAY PREG5 FOR “FIRST” PREGNANCY, BUT SKIP TO PREG10 FOR “2ND” PREGNANCY)_"**

Let me know if they are unclear and need re-wording

[2022-04-13 21:03] boyd-mj commented on #67
@cunnaneaq could this be an issue with the PWA timing out like we discussed on our call today? We aren't able to recreate this issue:
![image](https://user-images.githubusercontent.com/80920570/163269905-90bc60eb-84e8-480d-98ed-c4a25e29713b.png)
![image2](https://user-images.githubusercontent.com/80920570/163269903-339e3047-12f2-4394-929f-9e34002810c4.png)

[2022-04-13 21:05] cunnaneaq commented on #67
I think it is possible.  I will make sure to check this when I go through module 2 tomorrow

[2022-04-14 13:06] KELSEYDOWLING7 commented on #65
@zly2021 Hi, it looks like the nested IDs for sibling 2 cancer type on the flattened Mod1 still aren't matching anything from the data dictionary. Do we know how/why that's happening? The concept IDs in the participants table are slightly different  for some reason- "D_578895128_2_2" and "D_957429734_2" both nested under D_578895128_2_2

[2022-04-14 14:27] huip-ims commented on #68
@cusackjm @boyd-mj Hi Julie - For PREG5 skip logic:
You referenced PREG4, which is age at each pregnancy. This should be PREG3 (# of pregnancies), correct? If so, please update the Word doc.
Also, for this skip logic, you just want the last iteration of the pregnancy loop to skip PREG5-PREG9, correct?  We're assuming the way the questions are phrased, the participants are providing their pregnanci

[2022-04-14 14:35] cusackjm commented on #68
@huip-ims yes sorry that was a typo. I will update it now.
Yes that is how we would like to implement the skip logic change.

[2022-04-14 15:40] huip-ims commented on #68
@cusackjm @boyd-mj Julie - For PREG10, there's a condition to only display this question if PREG5 = 0,1,2,3. For the last iteration of the pregnancy loop, you want now to skip to PREG10 without answering PREG5. Should PREG10 & PREG11 be asked on the last iteration, even though we don't have the pregnancy outcome response from PREG5?

[2022-04-14 15:41] woodruffr opened #69 "Biospecimens Questionnaire DESC Variable Names"
Although this was mentioned in an email related to Question Types, I'm creating a Github issue because it will involve a Questionnaire change. Questions with text boxes, other than Text Box Only, will need a Variable Name for the text box. In the Mark-up we call it the ID= value. In the DD, it is the Variable Name. In order to connect the text box with the Source Question, it is preferable to have

[2022-04-14 15:45] cusackjm commented on #69
changes have been made to DD and Questionnaire

[2022-04-14 18:22] woodruffr commented on #69
Hi Pete,
Please make these changes on the Mark-up when you have a chance. Work on all previous modules takes precedence.

[2022-04-14 18:28] cusackjm commented on #68
@huip-ims I am consulting with Mia on this and will get back to you

[2022-04-14 19:21] cusackjm commented on #68
@huip-ims we decided to change the skip logic to "[IF PREG1 = 1, DO NOT DISPLAY PREG 5 FOR THE MOST RECENT PREGNANCY, GO TO **PREGSUMMARY**]_(I.e., IF PREG3 = 1, GO TO PREG 10. IF PREG3 = 2, DISPLAY PREG5FOR “FIRST” PREGNANCY, BUT SKIP TO PREG10 FOR “2ND” PREGNANCY)_"

[2022-04-14 19:21] cusackjm commented on #68
I am updating this in the questionnaire documents now

[2022-04-14 19:34] huip-ims commented on #68
@cusackjm @boyd-mj Julie - You have [IF **_PREG1_** = 1, DO NOT DISPLAY PREG 5 FOR THE MOST RECENT PREGNANCY, GO TO PREGSUMMARY]. I don't see PREG1 in the Word doc. Could you please clarify which "PREG" it should be?

[2022-04-14 19:41] cusackjm commented on #68
sorry PREG. I will update that now

[2022-04-14 19:55] huip-ims commented on #68
@cusackjm @boyd-mj Julie - Just to confirm, based on your current skip logic:
If a participant is currently pregnant (PREG=1), the last iteration of the pregnancy loop will skip PREG5-PREG11 and go straight to PRESUMMARY. However, if a participant is not currently pregnant (PREG=0), PREG5-PREG11 will be asked for all pregnancies, including the most recent. Is this correct?

[2022-04-14 20:03] cusackjm commented on #68
@huip-ims Yes

[2022-04-14 20:23] cunnaneaq commented on #67
@boyd-mj We were able to resolve the timing out issue!  I re-tested module 2 today and was unfortunately still seeing the [HOUSE2] grid issue noted here.

[2022-04-14 23:13] huip-ims commented on #68
@cusackjm @boyd-mj Hi Julie - I've made these skip logic changes and sent the markup for our internal testing. However, I just noticed in the Word doc there are 2 [PREG] quest IDs. Could you please update the 2nd one (Are you currently pregnant?) to [PREG1]?  FYI- You then also need to update the PREG5 skip logic condition to 'IF **_PREG1_** = 1, DO NOT DISPLAY ....'. Once you've updated the Word

[2022-04-15 08:52] huip-ims commented on #69
@woodruffr Hi Rose - These variable name changes have been made in the markup.

[2022-04-15 08:52] #69 closed

[2022-04-15 12:24] cusackjm commented on #68
Ok I will update that in the questionnaire document now.

This error appears in the qx document (not the master DD), but does it occur anywhere else that needs the update?

[2022-04-15 13:09] woodruffr commented on #68
I have checked Question Types document and PREG is correctly not in there as it is text only with no backend storage, but PREG1 seems to be correctly listed. I believe everything is now synchronized: The DD, the Mark-up, the Questionnaire, and the Question Types document so the Quest ID issue is fixed. Julie, you can Accept the change in the Questionnaire document as the change/correct value is in

[2022-04-15 13:15] cusackjm commented on #68
@woodruffr The baseline module questionnaire documents have always had the tracked changes in the IMS document, do you want me to accept all tracked changes? or leave as is?

[2022-04-15 13:27] woodruffr commented on #68
@cusackjm That is a question for @boyd-mj .

[2022-04-15 14:33] cusackjm opened #70 "Not seeing CIGLIFE series"
My participant reported CIG1= 3 and CIG4= 0, but I did not see CIGLIFE series

[2022-04-15 14:34] guinevere83 commented on #67
Can we see your full path through the module to the grid? I want to see if perhaps something unanticipated is affecting what displays in HOUSE2.

[2022-04-15 14:56] cusackjm commented on #70
CIG4

[2022-04-15 14:56] #70 closed

[2022-04-15 15:16] cusackjm opened #71 "Seeing SECSMLF questions for ages older than my participant"
testing 4/15 participant is 55, but I am seeing SECSMLFG (ages 60-69) and SECSMLFH (ages 70 and older)

[2022-04-15 16:19] boyd-mj commented on #68
@cusackjm once @huip-ims confirms these changes, I think we can go ahead and accept all of the tracked changes so that we have a clean copy moving forward.

[2022-04-15 16:24] boyd-mj commented on #71
@cusackjm & @FrogGirl1123 we'll look into this, but I didn't think testing for M3 was supposed to start until the beginning of next week? FYI, there is an issue currently with the ALCLIFE grids in the transformed markup. I sent an email to Nicole and we'll be following up with a suggested DD change to address it. Once we have the updated JSON we will need to redeliver.

[2022-04-15 16:36] boyd-mj commented on #5
@cusackjm we've identified the change that needs to be made here, but we have a follow up question about the skip patterns as a result. There are cases where participants would meet the criteria for INTRONONCISWOM/HORNONCISWOM and INTROWH on:

SEX=2 (biological sex assigned at birth is Intersex/other)
SEX2=5 or 6 (body parts born with are Uterus/Ovaries)
GEN=0,4, or 55 (think of yourself as Female

[2022-04-15 16:52] cusackjm commented on #5
@boyd-mj Yes, it is possible for certain participants to see both. Would it make more sense for the "ELSE, DO NOT DISPLAY" statement to say "ELSE, GO TO INTROWH". So that INTRONONCISWOM/HORNONCISWOM and INTROWH are viewed as consecutive questions and not either/or questions?

[2022-04-15 17:23] guinevere83 commented on #71
Hmm, I'm not seeing that in my own testing:

![image](https://user-images.githubusercontent.com/75336502/163601468-e045d7db-aef5-4f5e-9a26-87c3a8349c0f.png)

Do you have a list of your response to previous questions in the module? I'll see if I can reproduce it if I know your testing path.

[2022-04-15 17:32] boyd-mj commented on #5
I think that makes more sense. We can proceed with the update in the meantime. Thanks!

[2022-04-15 18:08] cusackjm commented on #5
I updated the box qx documents

[2022-04-15 18:27] huip-ims commented on #68
@cusackjm @boyd-mj Julie - These skip logic changes have been made in the markup.

[2022-04-15 18:27] #68 closed

[2022-04-15 19:05] cusackjm commented on #68
@huip-ims @boyd-mj sounds good, i will accept all tracked changes now

[2022-04-18 15:17] huip-ims commented on #5
@cusackjm @boyd-mj Hi Julie - We're working on resolving this skip logic issue.  For [ACIDSUP], [ACIDSUP5], & [ACIDSUP6], there skips are going directly to INTRONONCISWOM, bypassing the Section 2 intro.  Shouldn't the Section 2 intro always be displayed?

[2022-04-18 15:37] cusackjm commented on #5
Hi @huip-ims yes I think the section 2 intro should be displayed. I don't see a variable name for the section 2 intro in the qx document, do you know what it is, or do I need to create one, so that participants see the the section 2 intro if they skip from any of the ACIDSUPs?

[2022-04-18 15:41] huip-ims commented on #5
@cusackjm @boyd-mj Julie, currently in the markup code, we're just using [SECTION2] to match the Word doc. If you would like to change this, just let us know the new variable name to use.

[2022-04-18 15:46] cusackjm commented on #5
@huip-ims that sounds good. I will update the ACIDSUP skip logic from INTRONONCISWOM to SECTION2 now

[2022-04-18 16:13] boyd-mj commented on #67
@cunnaneaq following up to make sure you saw Gwen's question above so that we can continue to investigate this issue. Thanks.

[2022-04-18 16:16] cusackjm commented on #71
@boyd-mj I saw it in Dev on 4/15 around 2:45 has any change been made since then?

[2022-04-18 16:17] boyd-mj commented on #71
No

[2022-04-18 16:35] cusackjm commented on #67
@guinevere83 Aileen is on PTO but our testing document has record of this issue when Aileen tested under irinainstitute@gmail.com Connect ID: 1654043404.

Is this the information you need? Do you want to see the testing document to see the previous responses that were selected?

[2022-04-18 21:01] cusackjm commented on #7
box questionnaire documents updated (from SIB and CHILD to SIB1 and CHILD1)

Master DD Updated (https://nih.app.box.com/file/932437849865?s=s58tyrx38k9xn1yn55vlfb47jaxjx91r) required column

[2022-04-18 21:02] woodruffr commented on #69
Hi Julie,
These Mark-up changes have been made. You can remove the highlighting from the Questionnaire when you have time.
Thanks,
Rose

[2022-04-18 21:08] woodruffr commented on #64
The DD formatting looks good. We can add the Concept ID for Survey - 129084651. I'd recommend asking Nicole for the Secondary Source. You can use the "Notes" column as you see fit. I note that you added a Required to that column for MENS2, but not MENS1. It seems redundant since their is a separate column for Required.

[2022-04-19 12:42] cunnaneaq commented on #67
@guinevere83 @boyd-mj I attached the excel sheet where I recorded my answers here.  I saw this issue in both scenarios/tabs (Testing Scenario 4_AC = cell 552) and (Testing Scenario 5_AC = cell 622)

[Module 2 Testing 04.12.22_HOUSE2 issue.xlsx](https://github.com/episphere/questionnaire/files/8513007/Module.2.Testing.04.12.22_HOUSE2.issue.xlsx)

[2022-04-19 13:36] KELSEYDOWLING7 commented on #71
I also saw it here: ivaniteb5@gmail.com
Connect ID: 4061436541

[2022-04-19 20:10] guinevere83 commented on #71
Could I see the values that were being entered for this testing? There was a document in this issue that was helpful in at least seeing the testing path: https://github.com/episphere/questionnaire/issues/67

Might help me see if there are unexpected variables affecting this grid.

[2022-04-20 15:26] cusackjm commented on #64
survey concept ID was added.

[2022-04-21 13:07] woodruffr opened #72 "Quest ID SEX and Variable Name SrvBio_SEX_v1r0 Have Same Question Text"
Both Quest ID SEX (line 1039 in DD M1 and SrvBio_SEX_v1r0 (line 6086 in DD Biospecimens) share the exact same text: "What was your biological sex assigned at birth?" Although the Questionnaire could keep both of these, the only other time we had this issue was with AGE (DD line 814 M1). Age was asked in a questionnaire before Module 1. That was handled by having the original age they presented pip

[2022-04-21 14:15] cusackjm commented on #72
We would like extra text added in the DD. (we can't do the piping since it is possible that someone could complete the biospecimens before doing the baseline modules)

[2022-04-21 14:19] #72 closed

[2022-04-21 15:11] cunnaneaq opened #73 "[HOMEADD3] Skipped Incorrectly"
Account Email: irinainstitute@gmail.com
Connect ID: 1654043404

Please see the cells in yellow for the situations in which [HOMEADD3] was skipped when I should have seen it

![Screen Shot 2022-04-21 at 11 08 15 AM](https://user-images.githubusercontent.com/83971268/164488653-a3cc64d9-c693-4e12-8240-659dbc7adf25.png)

Instructions for [HOMEADD3] from specs document:

![Screen Shot 2022-04-21 at 11

[2022-04-21 16:06] cunnaneaq opened #74 "All address details not included in [HOMEADD4]"
Email: irinainstitute@gmail.com
Connect ID: 1654043404

[HOMEADD1]: No information entered

[HOMEADD2]:
![Screen Shot 2022-04-21 at 11 25 20 AM](https://user-images.githubusercontent.com/83971268/164492240-ea9b0096-516b-44a8-a685-58ab99f54645.png)

[HOMEADD3]: Incorrectly skipped - see issue #73

[HOMEADD4]: "State/Province" information missing from summary
![Screen Shot 2022-04-21 at 11 26 37 AM]

[2022-04-21 16:10] cusackjm opened #75 "incorrect fill for CHILDADD5"
Testing 4/21 in dcegdaniel@gmail.com Connect ID: 4235365942

![image](https://user-images.githubusercontent.com/85582895/164503970-5efaeb4e-93c4-4da1-bade-0acf795ddd2a.png)
"childhood address" was filled at CHILDADD5. The potential fill text should either be: the address from CHILDADD1-CHILDADD3, or "your childhood home". Given that no address details were provided in my scenario, "your childhood

[2022-04-21 16:24] cusackjm opened #76 "PREWORKT2 responses are all shown: should only be responses selected in PREWORKT1"
PREWORKT2 responses are all shown: should only be responses selected in PREWORKT1

Testing 4/21 in [dcegdaniel@gmail.com](mailto:dcegdaniel@gmail.com) Connect ID: 4235365942. I selected PREWORKT1= 2 and 55 but still saw every response in PREWORKT2

[2022-04-21 20:18] KELSEYDOWLING7 commented on #65
@zly2021  Thank you! That helped. I just updated the list of missing variables. There are also 3 variables that are in the Mod1 flattened table, but that I'm getting error messages for when I try to query or summarize them in any way. Would you mind reviewing whenever you get the chance?

[2022-04-21 20:25] cusackjm commented on #76
same with CURWORK

[2022-04-21 20:33] cusackjm opened #77 "didnt see INTROCURSCH and STUDENT= 1"
tested 4/21 irinainstitute@gmail.com Connect ID: 1654043404

was taken to end of module after PREWORK section, shouldve seen INTROCURSCH

[2022-04-21 20:55] cunnaneaq commented on #67
@guinevere83 Please see the attached spreadsheet with all of the answer choices recorded for modules 1-3 for participant aqcunnane@aol.com (Connect ID: 1217779307).  This information is to help work through the [HOUSE2] grid issue here in module 2 and issue #71 that presents in module 3.  Cells with the issues are highlighted in yellow.  Thank you!

[Connect_Baseline Module Testing_IMS.xlsx](https

[2022-04-21 21:02] cunnaneaq commented on #71
I'm not sure if this helps, but when testing as a 44 year old, I noticed that the age ranges that aren't supposed to be showing are showing up as "50-**44**" and "60-**44**."  The "70 and older" is present too, but doesn't have a range.  (email: aqcunnane@aol.com, Connect ID: 1217779307)

![Screen Shot 2022-04-21 at 4 21 14 PM](https://user-images.githubusercontent.com/83971268/164551082-0649d4f4-

[2022-04-22 12:39] KELSEYDOWLING7 commented on #71
That is similar to what I was seeing as well. For one scenario Age 45 (as put in enrollment) was confirmed, and I saw age 45-60 for the second to last, and "70 and older for the last". The second scenario I answered no to age verification and entered "55". The third to last question said "50-54", the second to last said 54-60, and the last said "70 and older".

[2022-04-22 13:39] guinevere83 commented on #67
Here's HOUSE1
![image](https://user-images.githubusercontent.com/75336502/164724753-f60b941b-855a-44c9-9835-d0b8e59a38bf.png)
and HOUSE2
![image](https://user-images.githubusercontent.com/75336502/164724849-8174b5f0-2b0a-4cd7-a302-d0e2e57ebdde.png)

At this point, I'm pretty sure it has to be something to do with a difference in the renderers.

Here's my path and variables for reference:

![image]

[2022-04-22 14:02] FrogGirl1123 commented on #67
@Davinkjohnson, @danielruss, @anthonypetersen

It looks like there is something different in our rendering than in the renderer IMS is using.  If I am correct in that IMS @guinevere83 is using the most current version of the Quest renderer, then this might be an issue with the PWA

[2022-04-22 16:01] cunnaneaq opened #78 "Incorrect answer choice (5) for [DRINKSWTR2C/D/E]"
Currently they all say:
"I drink tap water in coffee but don't know how often"

The last answer choice should match the question.

[DRINKSWTR2C]:
"I drink tap water in hot tea but don't know how often"

![Screen Shot 2022-04-22 at 11 59 22 AM](https://user-images.githubusercontent.com/83971268/164751534-f443475b-f47a-4f90-a17f-a8cdfaf4d5d5.png)

[DRINKSWTR2D]:
"I drink tap water in iced tea but do

[2022-04-22 16:51] boyd-mj commented on #67
This is the renderer we are using: https://episphere.github.io/quest/

[2022-04-22 16:57] danielruss commented on #67
what module is this?

[2022-04-22 17:07] cusackjm commented on #67
module 2

[2022-04-25 03:58] boyd-mj commented on #65
@KELSEYDOWLING7 did you mean to assign this to me?

[2022-04-25 14:36] cusackjm opened #79 "Switching order of PREWORKRES and PREWORK"
For Module 4, we would like to switch the order of PREWORK and PREWORKRES so that PREWORK is asked first.

Participants who have never had a job _for pay_ are displayed "work commutes in the past" (the PREWORK section) because they may have had a "job" that is not for pay, such as volunteer work. Given that potential scenario, people that have never worked for pay still need to see that section, b

[2022-04-25 14:58] cusackjm commented on #79
Updates to qx document made using tracked changes

[2022-04-25 15:41] KELSEYDOWLING7 commented on #65
@boyd-mj Yes, Nicole mentioned it would be good to add you with the issue of missing variables in the participants table where it wouldn't be logical for so many participants to skip. For example, For example 2-7 participants answered that children 4,5,6 had cancer but there's no cancer type for children 4,5, or 6 in participants.

@zly2021  Thank you! D_236590500_1_1 is asking the age of child 1

[2022-04-25 16:11] boyd-mj commented on #5
Yes, this will be included in the next delivery

[2022-04-25 16:13] #77 closed

[2022-04-25 16:16] #31 closed

[2022-04-25 18:12] #46 closed

[2022-04-25 20:42] huip-ims opened #80 "No & DK for Select all that apply in Biospecimen Survey"
@cusackjm @boyd-mj @guinevere83  Hi Julie - For PERMTTHLOST and DENTURES, can you please confirm if selecting "No" or "Don't Know" should clear all other answers?

[2022-04-25 21:38] KELSEYDOWLING7 commented on #65
@boyd-mj Actually please disregard. Now that the additional variables have been added and today's data has loaded, the problem seems to be resolved. I was able to confirm which variables had a 0 response, where they would then not be in the participant table

[2022-04-25 21:52] KELSEYDOWLING7 commented on #65
@boyd-mj  Actually please disregard. With both the new added variables and rerun of the data today it appears the problem has been resolved. Many missing from the participants table were actually 0 in the answers or not applicable

[2022-04-26 13:04] cusackjm commented on #80
@huip-ims yes, selecting "no" or "don't know" should clear all other answers

[2022-04-26 14:27] huip-ims commented on #80
Markup has been updated and sent for internal testing.

[2022-04-26 14:27] #80 closed

[2022-04-26 15:30] huip-ims opened #81 "Biospecimen Survey: Should COV3 be required?"
@cusackjm @boyd-mj Hi Julie - During testing, we're finding that when no month/year are provided for COV3 (i.e., 1st/2nd/3rd/etc. time you had COVID-19), this causes display and logic issues in later follow-up questions. For example, COVSUMMARY and COV21 involve piped dates. Should COV3 be required so we have dates to fill in?

[2022-04-26 17:29] huip-ims opened #82 "Biospecimen Survey: Missing symptoms for COV19C6A & COV23B8A"
@cusackjm @boyd-mj Hi Julie - For COV19C6A & COV23B8A, if a participant answers 'Yes' but doesn't provide any symptoms in the text box, we can't pipe the response into the follow-up questions. This results in an incomplete question for COV19C6B & COV23B8B (i.e., "Are you still experiencing ?"). When the text box is left as null, should we phrase the follow-up question as "Are you still experiencin

[2022-04-26 17:55] joshid-ims commented on #79
Ok, Thanks!

[2022-04-26 17:58] cusackjm commented on #82
@huip-ims I like this suggestion:
When the text box is left as null, should we phrase the follow-up question as "Are you still experiencing these other symptoms"? And, we'll replace "these other symptoms" with piped symptoms if the text box is filled in.

Unless it is possible to make it a requirement to enter text in the text box (i.e., making the text box required if "yes" is selected), without

[2022-04-26 18:09] huip-ims commented on #81
@cusackjm @boyd-mj @woodruffr Julie - I'll proceed with making COV3 required in the markup. Please make any necessary changes in the Word doc and/or DD.

[2022-04-26 18:24] huip-ims commented on #82
@cusackjm @boyd-mj Julie - We cannot make the text box within a response required but leave the question itself optional. We can make a content change by adding a new question to check if 'Yes' was selected with text box left null, and if so, require the participant to enter symptoms into a new text box. Or, use my original suggestion to phrase the question with added generic text if the text box

[2022-04-26 19:10] guinevere83 commented on #76
Was not able to reproduce this. Potentially any fixes made in https://github.com/episphere/questionnaire/issues/67 might resolve this.

[2022-04-26 19:11] guinevere83 commented on #74
Not able to reproduce this one on our end. Might be resolved with renderer fixes for https://github.com/episphere/questionnaire/issues/67

[2022-04-26 20:10] boyd-mj commented on #7
@cusackjm we've made these changes, but the master DD on Github still shows these as not required. Could you please update?

[2022-04-27 12:24] cusackjm commented on #81
@huip-ims @boyd-mj Updates have been made to the DD and Question Types Doc

[2022-04-27 12:27] cusackjm commented on #82
@huip-ims @boyd-mj We can go with your original suggestion and phrase the question with added generic text if the text box was left null, otherwise, pipe in the symptoms if the text box was filled in. I will make updates to the Qx document and DD now.

[2022-04-27 12:57] cusackjm commented on #7
Yes just updated CHILD1. SIB1 was listed as required.

[2022-04-27 14:40] huip-ims commented on #82
@cusackjm @boyd-mj Julie - FYI these other symptoms are also piped into COV20A17 & COV24A14. Could you please also update the Qx document for these 2 questions? I've updated the markup for COV19C6B, COV23B8B, COV20A17, and COV24A14.

[2022-04-27 15:06] cusackjm commented on #82
@huip-ims updates made in box qx documents and DD

[2022-04-27 18:50] joshid-ims commented on #79
This is done.

[2022-04-27 18:50] #79 closed

[2022-04-27 20:34] joshid-ims commented on #21
Should min value be changed to 1?

[2022-04-27 20:34] guinevere83 commented on #42
Haven't been able to reproduce this on our end. Might be related to renderer differences.

[2022-04-27 20:48] guinevere83 commented on #27
Hmm was not able to reproduce this. We've seen differences in how our renderers deal with age values. I wonder if this is related?

[2022-04-27 21:15] boyd-mj commented on #45
@cusackjm is this a content change that NCI would like us to make? If so, has the questionnaire been updated?

[2022-04-28 16:04] cusackjm commented on #45
leaving as is

[2022-04-28 16:04] #45 closed

[2022-04-28 19:02] joshid-ims commented on #21
@cusackjm @boyd-mj What do I do here? Change min value to 1 instead of 0?

[2022-04-28 19:21] cusackjm commented on #21
@joshid-ims hi yes the min should be 1

[2022-04-28 19:30] joshid-ims commented on #21
Made change. Testing at our end.

[2022-04-29 13:35] cusackjm commented on #28
can we close this issue?

[2022-04-29 15:14] cusackjm commented on #6
When going through the rest of the qx with Non-responses, I realized that this skip pattern DOES work properly (which was not expected). The following is what I saw:
EMPLRYSRVCE1= NR
WORK7= NR _(I should've gone to WORK8)_
OCCUPTN2= NR
EMPLYR2= NR
BSNSSTYP2= NR
EMPLYRSRVCE2= NR
WORK8= NR _**(this is what should happen at EMPLRSRVCE= NR)**_

[2022-04-29 15:18] cusackjm commented on #21
issue still present in testing 4/29/22
account: 609-576-3460
Connect ID: 9393372061

[2022-04-29 15:19] cusackjm commented on #44
issue still present in testing 4/29/22
account: 609-576-3460
Connect ID: 9393372061

[2022-04-29 15:22] cusackjm opened #83 "88 "I have none of these conditions" or "none of the above" responses are not saved when logging out and back in the PWA"

[2022-04-29 15:26] cusackjm commented on #27
Issue fixed for HORMED2_5 and HORMED4_5
4/29/22 for account: 609-576-3460 and Connect ID: 9393372061.

Waiting to test WORK4 before closing issue

[2022-04-29 15:27] boyd-mj commented on #21
Hi Julie, we haven't redelivered Module 2 yet so the issue will still occur during testing on the PWA

[2022-04-29 15:29] cusackjm commented on #42
Issue fixed 4/29/22 for account: 609-576-3460 and Connect ID: 9393372061.

[2022-04-29 15:29] #42 closed

[2022-04-29 15:32] boyd-mj commented on #28
Yep!

[2022-04-29 15:32] #28 closed

[2022-04-29 16:27] cusackjm commented on #44
@Davinkjohnson is this grouped in with the aesthetic issues that will be addressed later on?

[2022-04-29 16:28] cusackjm commented on #71
issue still present in testing 4/29/22
account: 609-576-3460
Connect ID: 9393372061

[2022-04-29 16:36] cusackjm commented on #73
issue still present in testing 4/29/22
account: 609-576-3460
Connect ID: 9393372061

[2022-04-29 16:39] cusackjm commented on #76
issue still present in testing 4/29/22
account: 609-576-3460
Connect ID: 9393372061

[2022-05-02 18:23] cusackjm commented on #83
looks fixed in testing on 5/2/22

[2022-05-02 18:23] #83 closed

[2022-05-02 19:27] Davinkjohnson commented on #62
@KELSEYDOWLING7 Can you please see if these are being populated now?

[2022-05-02 19:28] Davinkjohnson commented on #61
@KELSEYDOWLING7  Can you please check these as well?

[2022-05-02 19:29] Davinkjohnson commented on #56
@KELSEYDOWLING7 can you check these as well? (similar to the other issues)

[2022-05-02 20:13] cusackjm commented on #44
Mod 2 Variables missing additional jargon in their "never" responses:
- CIG3 “Never smoked on a regular basis”
- ECIG3 “Never used them on a regular basis”
- CIGAR3 “Never smoked on a regular basis”
- CHEW3 “Never used them on a regular basis”
- HOOKAH3 “Never smoked on a regular basis”
- PIPE3 “Never smoked on a regular basis”
- SMMAR3 “Never smoked on a regular basis”
- TOMAR “Never smoked on a

[2022-05-02 20:14] KELSEYDOWLING7 commented on #62
@Davinkjohnson  Many are now populating but a few are still NA/null. I updated the list of variables not populating answers

[2022-05-02 20:27] KELSEYDOWLING7 commented on #61
@Davinkjohnson Updated the list of unpopulated responses

[2022-05-02 20:32] KELSEYDOWLING7 commented on #56
@Davinkjohnson  Responses for nearly every variable are now populating as NA/null, including the two variables listed above

[2022-05-03 19:06] FrogGirl1123 commented on #62
@Davinkjohnson We'll need to keep this issue open until we retest and see if the fixes for the data saving issues remedy this issue.

[2022-05-03 19:06] boyd-mj commented on #21
This change has been completed on our end and will be included in the next delivery

[2022-05-03 19:06] #21 closed

[2022-05-03 19:07] FrogGirl1123 commented on #57
@Davinkjohnson We'll need to keep this issue open until we retest and see if the fixes for the data saving issues remedy this issue.

[2022-05-03 19:08] FrogGirl1123 commented on #56
@Davinkjohnson We'll need to keep this issue open until we retest and see if the fixes for the data saving issues remedy this issue.

[2022-05-04 14:13] woodruffr opened #84 "SrvBlU_COV22_DAYS_v1r0 Variable Length"
Noticing that Biospecimens COV22 has a Variable Length of 2, it seems that the intent is to have the respondent use both the months and days text boxes. I just want to confirm that you don't expect your respondents to put a days response bigger than 99. For example, not fill out the months, but put 365 in the Days text box. Do you need to add min max or clarifying instructions?

[2022-05-04 14:30] woodruffr commented on #84
There is no min max in the Questionnaire. The Mark-up currently has a max of 30. If the max is 30, the Variable Length of 2 works. If the max should be changed to 365, that would need to be changed in the mark-up and the DD would need a Variable Length of 3.

[2022-05-04 14:33] cusackjm commented on #84
Ok I can update the DD to change the variable length to 3

[2022-05-04 14:37] woodruffr commented on #84
If you want the Max to be 365 please add it to the Questionnaire as we will need to change it in the Mark-up.

[2022-05-04 14:53] woodruffr commented on #84
The default is they are not mutually exclusive unless the question or the directions say they are to be. That note is sufficient for the coder.

[2022-05-04 14:57] cusackjm commented on #84
Ok I will update the rest of the questionnaire documents

[2022-05-04 19:15] boyd-mj commented on #44
@FrogGirl1123

[2022-05-04 22:09] huip-ims commented on #84
@woodruffr @cusackjm Rose and Julie - I've updated the markup and sent it along for internal testing.

[2022-05-04 22:09] #84 closed

[2022-05-05 05:58] naiyume commented on #76
@cusackjm This should be resolved now. Please check this in the next batch of testing

[2022-05-05 05:58] naiyume commented on #67
@cusackjm, @cunnaneaq  This should be resolved now. Please check this in the next batch of testing

[2022-05-05 06:00] naiyume commented on #18
@cunnaneaq  Does this issue still show up?

[2022-05-05 13:25] naiyume commented on #25
@cunnaneaq @cusackjm This should be addressed on the PWA now.

[2022-05-05 17:08] KELSEYDOWLING7 commented on #56
With retesting, SEPHOR2 / D_290126991 no longer shows in either flattened mod2 or participants table

[2022-05-05 17:18] joshid-ims opened #85 "Message when required question is not answered"
The default message that shows up when any required question is not answered by user is:

![image](https://user-images.githubusercontent.com/64986739/166977288-48cd22e5-2a41-47b3-bcf1-c0bdd568ce8c.png)

But the document for Menstrual Cycle Survey says:

[error message if someone clicks NEXT without entering a date]: Please use the calendar to select the date that your next menstrual period started

[2022-05-05 17:23] danielruss commented on #85
What module is this in?

[2022-05-05 17:26] joshid-ims commented on #85
This is the new Menstrual Cycle Survey.

[2022-05-05 20:50] #55 closed

[2022-05-06 16:52] cusackjm opened #86 "Spacing Between Paragraphs and responses"
*aesthetic issue to be addressed later on

Need larger space between first 2 paragraphs - should be same size as the space between paragraph 2 and 3
![image](https://user-images.githubusercontent.com/85582895/167177340-ef4d46f6-725c-4f1e-9e22-cbf5b0c99c79.png)

Qx document for reference:
![image](https://user-images.githubusercontent.com/85582895/167177416-920a1127-7688-4bc3-b267-8a100a36dbbd.png)

[2022-05-06 16:54] cusackjm commented on #18
@naiyume Yes

[2022-05-06 16:55] cusackjm commented on #18
The heading and intro text are also on different pages for the follow variables:

Module 1:
[SECTION 1] and [AGECOR]

[2022-05-06 17:25] cusackjm opened #87 "Missing Headings in Module 1"
* aesthetic issues to be updated at a later date

Module 1 Missing Headings:
- "Depression" Should be on same page as [DEPRESSINTRO]
- [SECTION 4] "Family History" Heading should be on same page as [FAMHISTINTRO]

[2022-05-06 17:44] cusackjm opened #88 "Formatting for text boxes is on same line as text"
Text box should be on a different line from the supporting response text for CHILD and SIB's cancer date of dx questions
![image](https://user-images.githubusercontent.com/85582895/167186507-54b21caf-e49e-43bd-9403-246d16a81131.png)

[2022-05-06 18:38] cusackjm commented on #88
Should look like this:
![image](https://user-images.githubusercontent.com/85582895/167198354-11d267de-4a6b-47a0-9b2e-a15e285a6d90.png)

[2022-05-06 18:42] cusackjm commented on #27
WORK4 still present in testing on 5/6/22

[2022-05-06 20:33] cusackjm opened #89 "remove display logic for HRMED2= 1, so that all participants see this response"

[2022-05-09 12:54] joshid-ims commented on #89
@cusackjm I do not see these changes in the Word document on Box.

[2022-05-09 13:03] cusackjm commented on #89
@joshid-ims I had power outage problems and it must've not saved! Will make the updates now

[2022-05-09 13:04] joshid-ims commented on #89
Thanks!

[2022-05-09 14:44] cusackjm commented on #86
![image](https://user-images.githubusercontent.com/85582895/167435342-7bcafe0b-3613-4067-bdba-8d524baeded2.png)

[2022-05-09 14:55] cusackjm opened #90 "Able to enter age of Dx that is greater than family member's age"
Ex) said dad died at 20, but can say he was diagnosed with cancer at 31

Age range check does not work, but the year range check does work

[2022-05-09 18:09] cusackjm commented on #89
change was made

[2022-05-09 19:43] joshid-ims commented on #89
Thanks

[2022-05-10 13:31] #81 closed

[2022-05-10 13:33] #82 closed

[2022-05-10 14:30] cusackjm commented on #81
no worries, i will accept the tracked changes

[2022-05-10 14:38] #11 closed

[2022-05-10 14:39] #4 closed

[2022-05-10 14:46] cusackjm commented on #18
@boyd-mj markup issue

[2022-05-10 14:46] cusackjm commented on #88
markup issue

[2022-05-10 14:49] #25 closed

[2022-05-10 17:53] cusackjm commented on #90
markup issue. Max should be AGE

[2022-05-10 17:55] cusackjm commented on #27
markup issue- max needs to be AGE

[2022-05-10 17:56] cusackjm commented on #24
markup issue

[2022-05-10 19:10] boyd-mj commented on #85
Hi @danielruss any updates on this?

[2022-05-10 19:19] danielruss commented on #85
looking

[2022-05-10 19:27] cusackjm opened #91 "Heading not on same page as the intro text"
MED "Medications" heading should be on same page as MED1 grid text

![image](https://user-images.githubusercontent.com/85582895/167706838-d43902dc-e02b-48b1-a46d-b02fdf005a4c.png)

[2022-05-10 19:32] danielruss commented on #85
So you want to change the message?   This might create ugly(ier) markup.

[Q1!]  Question with default message

Would something like this work?
[Q2] |date|min=x max=y required|
where a red box appears under the calendar and says "please fill out this field?"

[2022-05-10 19:51] joshid-ims commented on #73
We need this logic to correct this HOMEADD3 being skipped:

displayif=(noneExist("STNUM","FULLST") and someExist("CITY_FOLLOWUP","ST_FOLLOWUP","ZIP_FOLLOWUP","COUNTRY_FOLLOWUP","CITY","ST","ZIP"COUNTRY"))

Not working as is.

[2022-05-10 19:56] joshid-ims commented on #85
@huip-ims is that acceptable?

[2022-05-10 19:57] cusackjm opened #92 "Need Minimum of range to be 1 for COV14B, COV15B, COV16B, COV17B"
Currently allowed to respond 0 for COV14B, COV15B, COV16B, COV17B and it doesnt make sense to report 0 days when someone indidcates in the previous question that they spent at least 1 day with the treatment

[2022-05-10 20:15] joshid-ims commented on #85
Actually, this question is for @cusackjm. Is Daniel's suggestion acceptable? If so, do we need to update the Word document?

[2022-05-10 20:15] cusackjm opened #93 "incorrect skip pattern for follow-up questions from HYGIENE"
selected HYGIENE= 0 (BRUSH1),1 (FLOSS1), 2 (WTRPICK1) and correctly saw BRUSH2, FLOSS2, WTRPICK2, but I still saw TONGUE2, WHITE2, and MWUSE, which i should not have seen because i didnt select 3 (TONGUE1), 4 (WHITE1) or 5 (MW1) in HYGIENE

[2022-05-10 20:19] cusackjm opened #94 "incorrect skip logic for PERMTTHLOST"
selected PERMTTHLOST= 1 and correctly saw TEETHLOSTAI, but still saw TEETHLOSTD (when I didnt select 2 at PERMTTHLOST)

[2022-05-10 20:25] cusackjm commented on #85
@joshid-ims just to clarify, this is the suggestion:

[SrvBlU_MENS2_v1r0] Please provide the first day that your next menstrual period started. This information helps researchers figure out where your body was in the menstrual cycle on the day you donated samples. If you do not remember the exact day, please make your best guess.

and on the next screen is:
"<Calendar to indicate date __/___/___>"

[2022-05-10 20:29] joshid-ims commented on #85
@danielruss is that what you meant?

[2022-05-10 21:14] danielruss commented on #85
![image](https://user-images.githubusercontent.com/3767675/167722989-a8642d82-5449-4796-8a88-fc05f4954635.png)

[2022-05-10 23:08] danielruss commented on #85
If this is ok, Just want to let you know you can use.  Fix not pushed yet.  Waiting to hear if this is ok.

[code]

[2022-05-11 13:25] cusackjm commented on #85
@danielruss yes that option looks good

[2022-05-11 14:16] guinevere83 commented on #74
Still not able to reproduce this one in the non converted file nor the converted file.

[2022-05-11 14:39] cusackjm opened #95 "Need to base MIN range check for subsequent COV27 responses based off previous COV27 responses"
able to report a date at the 2nd COV27 (2nd covid shot) that is before the date of the 1st covid shot

[2022-05-11 14:43] cusackjm opened #96 "Incorrect skip pattern following COV19A-C and COV19C6A= 0"
Selected 0 for all responses in COV19A, COV19B, COV19C grids and COV19C6A. Should have gone to 20A, which has DISPLAY directions that would route the participant to not see COV20A and go to COV25, but instead I was incorrectly routed to COV21 and COV22

[2022-05-11 15:06] cunnaneaq opened #97 "[TONGUE2] add "use" to the question"
[TONGUE2] Currently says, "In the last month, how often did you a tongue cleaner or scraper?"  Need to add the word "use" between "you" and "a"

Note: This is correctly written in the other followup questions after HYGIENE.

![Screen Shot 2022-05-11 at 10 48 03 AM](https://user-images.githubusercontent.com/83971268/167893825-c3aa6236-445d-415f-9c7c-221141b506ea.png)

[2022-05-11 15:53] cunnaneaq opened #98 "[COV27] - update wording of question"
Question states, "When were you vaccinated?" and text fills 1st/2nd/3rd shot in the loop based on response to COV26.  Altogether in the PWA it reads, "When were you vaccinated for your 1st shot?"

Suggested edit - "When did you get vaccinated [with your 1st shot]?"  And subsequently, "...with your 2nd shot?" and "...with your 3rd shot?"

![Screen Shot 2022-05-11 at 10 42 53 AM](https://user-images

[2022-05-11 16:14] cunnaneaq opened #99 "[COVSUMMARY] ; placement for symptoms list"
[COV8] = 7,10,12,15

[COVSUMMARY] Symptoms: list begins with a colon when the first choice in [COV8] is not selected

![Screen Shot 2022-05-10 at 5 09 38 PM](https://user-images.githubusercontent.com/83971268/167896998-4703613b-ad1f-4e1e-9cb1-2ea4b567323a.png)

[2022-05-11 16:23] boyd-mj commented on #75
@cusackjm my apologies for not updating sooner. This issue has been fixed and will be included in the next delivery.

[2022-05-11 16:30] cusackjm commented on #75
@boyd-mj sounds good. I will test this the next round of testing

[2022-05-11 16:37] cunnaneaq commented on #86
[PREGSUMMARY] spacing off when number of infants, method of delivery, and breastfeeding questions are not shown to the participant

![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/83971268/167901815-37e47cfb-1372-4546-a64c-17a7c99f755f.png)

[2022-05-11 16:39] cusackjm opened #100 "Adding DISPLAY directions for COVSUMMARY"
I would like to edit the questionnaire document and add display directions for COVSUMMARY. "*DISPLAY IF COV3, COV4, COV6, COV8A, COV8B, COV8C, COV12 WERE DISPLAYED TO THE RESPONDANT]"

Similar to PREGSUMMARY:
![image](https://user-images.githubusercontent.com/85582895/167901756-563881a8-7c87-4534-8dbb-f97adff425ff.png)

I'm assuming this is possible because it was in PREGSUMMARY, but will wait to

[2022-05-11 17:34] naiyume commented on #63
@cunnaneaq this should be fixed on the pwa side for now. Please let me know if you continue to run into this issue.

[2022-05-11 17:45] danielruss commented on #85
Pushed.  Please Test.

[2022-05-11 17:48] boyd-mj commented on #85
@danielruss thanks! Just a heads up that since this is for the menstrual cycle we likely won't test for a bit given other priorities. We will make sure to update/close the issue once we do.

[2022-05-11 18:28] FrogGirl1123 commented on #44
Jen and I reviewed these a while ago while working on the harmonization.  From our perspective (@boyd-mj correct me if this is not your recollection), repeating part of the question in the "Never" response isn't necessary.  Did you drink on a regular basis? Never.  In the context of answering that specific question "Never" means the same things as "Never on a regular basis".  However, given that t

[2022-05-11 18:34] FrogGirl1123 commented on #90
@danielruss I seem to recall you were working on this, but there was a syntax issue.

[2022-05-11 18:35] cusackjm commented on #44
@FrogGirl1123 Neal does want it to be changed

[2022-05-11 18:36] FrogGirl1123 commented on #27
@boyd-mj if still an issue after mark-up change, reach out to Daniel.  It may relate to issue #90 which I believe Daniel was working on.

[2022-05-11 18:36] danielruss commented on #90
You would need to calculate age at death.  What if dad is not dead?

[2022-05-11 18:41] danielruss commented on #90
@FrogGirl1123   You are pushing a lot of QA on the question.  Can you assure that quest knows the age?  You would need to specify  ageCancer < age and ageCancer< ageDeath

[2022-05-11 18:44] cusackjm commented on #90
@danielruss the participant answers either DADAGE or DADDEATH

[2022-05-11 18:49] boyd-mj commented on #78
This issue has been fixed and will be included in the next delivery

[2022-05-11 18:53] boyd-mj commented on #44
@FrogGirl1123 yes, your recollection is correct. Here's the decision from way back when:

From: Gerlanc, Nicole (NIH/NCI) [E] <nicole.gerlanc@nih.gov>
Sent: Tuesday, November 9, 2021 8:56 AM
To: Boyd-Morin, Jennifer (IMS) <Boyd-MorinJ@imsweb.com>
Subject: Resolution of the Nevers

Hi Jen,

The rest of the team is in agreement with how we would like to differentiate the “Never”s. For Questions like

[2022-05-11 18:56] cunnaneaq opened #101 "Able to submit even when all grid answers are not completed"
For the grid questions in mod 2 and the biospecimen module, you are able to submit the page without answering all of the questions in the grid.

Is it possible to have a "Answer the question" "Continue without answer" modal pop up?

[2022-05-11 19:04] cunnaneaq commented on #63
@naiyume checked this today, and still seeing the same thing on my iPad

[2022-05-11 19:20] cusackjm commented on #101
@naiyume is this a quest or markup issue?

[2022-05-11 19:27] cusackjm commented on #74
@naiyume could this be a quest issue?

[2022-05-11 19:41] danielruss commented on #90
The markdown for DADCANCE3e (as an example) has `|__|__|__|xor=DADCANC3E id=DADCANC3E_AGE min=0 max=125`.   This should be changed to  `|__|__|__|xor=DADCANC3E id=DADCANC3E_AGE min=0 max=valueOrDefault("DAD_AGE","DADDEATH_NUM",125)| `.

There is a small bug that pops up when the user goes forwards and backwards (If you go back and change the AGE/DEATHAGE, the validation doesn't change).   I am loo

[2022-05-11 19:43] danielruss commented on #90
Here is a SSCE

[code]

[2022-05-11 19:56] boyd-mj commented on #87
This issue has been fixed and will be included in the next delivery

[2022-05-11 20:16] danielruss commented on #73
When I run it I see HOMEADD3_1 as expected. However i dont see HOMEADD3_3.  This is because the logic that @joshid-ims  uses in only on HOMEADD3_1.

Notice you see HOMEADD3_1 in the tree, but not HOMEADD3_3.  Of course there is no HOMEADD_2_2 or 3_2 because HOMEADD2_1 contains all the info.

[code]

[2022-05-11 20:29] cusackjm commented on #100
Display directions have been added to the questionnaire documents and are denoted in tracked changes

[2022-05-11 20:30] cusackjm commented on #98
waiting for Neal's opinion on the potential change

[2022-05-11 20:35] cusackjm commented on #97
Edit made in the questionnaire documents and are denoted in tracked changes

[2022-05-11 20:37] boyd-mj commented on #71
After additional review, we could not identify the issue or recreate the error. We are wondering if it has something to do with the way the valueordefault function is performing:

|grid?|id="GRID_SECSMLF2"|Thinking about your usual adult life, about how often were you around the tobacco smoke of others, for example in your home, work, or school?|[

[SECSMLF2A] Age 0 to {$e:min(17,valueOrDefault("A

[2022-05-11 20:47] cusackjm commented on #98
Edit made in the questionnaire documents and are denoted in tracked changes

[2022-05-11 21:00] boyd-mj commented on #73
@joshid-ims

[2022-05-11 21:24] boyd-mj commented on #90
@FrogGirl1123 the changes to the age at diagnosis code have been made (we're currently testing the changes). Please let us know if we can consider this issue complete barring any testing issues, or whether you are still investigating options for the year of diagnosis fields. Thanks!

[2022-05-11 22:42] danielruss commented on #71
![image](https://user-images.githubusercontent.com/3767675/167959237-3102392c-a412-4fbe-8664-d4ee64fddb3c.png)

[2022-05-11 22:48] danielruss commented on #71
![image](https://user-images.githubusercontent.com/3767675/167959640-e6331032-31e9-48be-8591-87b52e4b8141.png)

QUEST is working exactly as expected when you give it both age and AGE.
From the markdown `{$e:min(17,valueOrDefault("AGE","age",100)) }`. <- valueOrDefault picks AGE, if AGE doesnt exist, it choose age, if that doesn't exist  then return 100.

[2022-05-12 15:45] boyd-mj commented on #27
This issue has been fixed and will be included in the next delivery

[2022-05-12 18:05] joshid-ims commented on #73
To be specific, I see in developers screen that someExist does not get evaluated.

![image](https://user-images.githubusercontent.com/64986739/168140138-a3bac0ad-59b0-47de-89ba-3b4df900d173.png)

In this code:

[HOMEADD3_1?,displayif=noneExist("STNUM","FULLST") and someExist("CITY_FOLLOWUP","ST_FOLLOWUP","ZIP_FOLLOWUP","COUNTRY_FOLLOWUP","CITY","ST","ZIP","COUNTRY")] Please provide the cross stree

[2022-05-13 13:13] joshid-ims commented on #96
@cusackjm The display condition for 20A in the document is:

[DISPLAY GRID_SRVBLU_COV20A_V1R0 IF (SrvBlU_COV19A_v1r0=1, 2), (SrvBlU_COV19B_v1r0=1, 2), (SrvBlU_COV19C_v1r0=1, 2)

ELSE, GO TO SrvBlU_COV25_v1r0]

It is not to be displayed when the responses are 0. Do we need to change the document? Am I missing something?

[2022-05-13 13:24] joshid-ims commented on #101
Is the pop up not showing if none are answered or some are not answered? Also is it showing for Module 3?

[2022-05-13 13:39] KELSEYDOWLING7 opened #102 "Module 1 in stage- QAQC errors"
TEST 1 (taratdrp@gmail.com, 2252696519, 5/6 stage testing)
-QAQC crossvalid1 less than with explanation: (may be an error with QAQC code) claims that D_403258164(Ever worked for pay) was answered as 978204320 (Grade school grades 1-8). D_403258164 was never asked of the participant as they are currently working, and D_367803647 (Education level) was the question answered with 978204320

QAQC probl

[2022-05-13 13:44] cusackjm commented on #96
@joshid-ims  No the document is right, just not sure if I was clear enough in it. For my test I did the following:

COV19A, COV19B, COV19C= 0

COV19C6A= 0 **--> GO TO COV20A**

COV20A's DISPLAY directions are "[DISPLAY GRID_SRVBLU_COV20A_V1R0 IF (SrvBlU_COV19A_v1r0=1, 2), (SrvBlU_COV19B_v1r0=1, 2), (SrvBlU_COV19C_v1r0=1, 2) ELSE, GO TO SrvBlU_COV25_v1r0]"

So I should've gone straight to COV25, bu

[2022-05-13 13:46] joshid-ims commented on #96
Oh ok, I thought you said it should have gone to 20A. I will look into this. Thanks!

[2022-05-13 15:53] cunnaneaq commented on #18
Heading and [PREG] intro text look good!  Going to leave this open until we check [SECTION1] and [AGECOR] in mod 1.  I'll change the label from mod 2 --> mod 1

![Screen Shot 2022-05-13 at 11 51 39 AM](https://user-images.githubusercontent.com/83971268/168320880-a50d0a3d-2524-4d0e-ba48-e2ea81469311.png)

[2022-05-13 16:24] cunnaneaq opened #103 "[COVSUMMARY] & [PREGSUMMARY] responses to question are on new line"
![Screen Shot 2022-05-13 at 12 19 29 PM](https://user-images.githubusercontent.com/83971268/168325468-c8aa1532-c962-41a2-848c-90741521b305.png)

All of the options are listed below for clarity

*Instructions:  [display if PREG6-PREG11 were displayed to respondent]

Pregnancy number:
Age when pregnancy began: [response from PREG4]
Outcome of pregnancy: [response from PREG5]
Number of infants: [resp

[2022-05-13 16:51] cunnaneaq opened #104 "[PREG8] Breastfeeding informational text - available for some and not others"
I entered that I have had 3 pregnancies.

Pregnancy loop 1
[PREG5] = 0=Live birth: single infant
[PREG6] = skipped (correct logic)
[PREG7]  = 1=Vaginal
[PREG8] = 'breastfeeding' in blue with the informational text modal

![Screen Shot 2022-05-13 at 12 08 56 PM](https://user-images.githubusercontent.com/83971268/168327115-de1f6490-0861-4b09-ab46-6e2b867959c1.png)

Pregnancy loop 2 -
[PREG5] = 3=Liv

[2022-05-13 19:24] boyd-mj commented on #71
This issue is being addressed here: https://github.com/episphere/quest/issues/403

[2022-05-13 19:26] boyd-mj commented on #94
This issue has been fixed and will be included in the next delivery

[2022-05-13 19:28] boyd-mj commented on #98
This issue has been fixed and will be included in the next delivery

[2022-05-13 19:29] boyd-mj commented on #97
This issue has been fixed and will be included in the next delivery

[2022-05-13 19:30] boyd-mj commented on #93
This issue has been fixed and will be included in the next delivery

[2022-05-13 19:40] boyd-mj commented on #90
Delivered

[2022-05-13 19:40] boyd-mj commented on #89
Delivered

[2022-05-13 19:40] boyd-mj commented on #88
Delivered

[2022-05-13 19:41] boyd-mj commented on #87
Delivered

[2022-05-13 19:42] boyd-mj commented on #6
Delivered

[2022-05-13 19:44] cusackjm commented on #90
want to retest to confirm fix

[2022-05-13 19:45] cusackjm commented on #89
want to reopen for retest to confirm fix

[2022-05-13 19:46] cusackjm commented on #88
want to reopen for retest to confirm fix

[2022-05-13 20:03] danielruss commented on #73
@joshid-ims  This is a problem that has been popping up often.  I am going in the middle of fixing it, but we may need to talk the team the runs converts the question id to concept ids.  This may take a while.

[2022-05-13 20:17] boyd-mj commented on #92
This issue has been fixed and will be included in the next delivery

[2022-05-16 17:21] joshid-ims commented on #95
<loop max=25>

[SRVBLU_COV27_V1R0?,displayif=greaterThanOrEqual(SRVBLU_COV26_V1R0,#loop)] When did you get vaccinated with your {##} shot?

Month |__|__|id=SRVBLU_COV27_MONTH_V1R0 min=1 max=12|
Year |__|__|__|__|id=SRVBLU_COV27_YEAR_V1R0 min=2020 max=#currentYear|

These variables are inside a loop. So I do not know how to use month/year entered in the previous iteration for min/max values, if at

[2022-05-16 17:42] joshid-ims commented on #101
@cunnaneaq should the pop up show for all questions?

Currently, if user answers one question, pop up is not shown.

Also, not sure if this is something Daniel can add as a functionality.

[2022-05-16 17:56] cusackjm commented on #101
@joshid-ims the pop up shows up if none are answered, but doesn't show up once one is answered

[2022-05-16 18:12] zly2021 commented on #102
Variables added

[2022-05-16 18:57] joshid-ims commented on #101
Yes, exactly. So should it should up for all unanswered ones in grid? That might be something Daniel will need to add.

[2022-05-16 19:05] cusackjm commented on #95
@danielruss is this possible?

[2022-05-16 19:10] joshid-ims commented on #101
@cusackjm I think Daniel will need to confirm this.

[2022-05-16 19:42] cusackjm commented on #67
confirmed fix during testing 5/16/22
taratdrp@gmail.com CONNECT ID: 2252696519

[2022-05-16 19:42] #67 closed

[2022-05-16 19:53] cusackjm commented on #63
@cunnaneaq i dont see the gray box, does this have to do with me testing on a desktop PC?

[2022-05-16 19:57] cunnaneaq commented on #63
@cusackjm yes, the issue only occurs on tablets and phones as far as I've seen.  No issue with the time on a PC.  @naiyume made the size of the box bigger and we discussed leaving it as is for now until the higher priority issues are taken care of, since participants are able to enter a time if they click on the box.

[2022-05-16 20:59] huip-ims commented on #5
@cusackjm @joshid-ims @woodruffr Hi Julie, per the Word doc, HORNONCISWOM is displayed for SEX= (01 “MALE” OR 02 “INTERSEX OR OTHER”) AND GEN= (00 “FEMALE”, 03 “TRANSGENDER FEMALE”, 04 “GENDERQUEER”, OR 55 “OTHER”).
Could you clarify what you were using for GEN?

[2022-05-17 12:44] cusackjm commented on #5
sorry GEN=0, I made the edit above

[2022-05-17 13:34] KELSEYDOWLING7 commented on #102
@zly2021  Thank you! Only a few more

[2022-05-17 13:35] cusackjm commented on #103
@boyd-mj @woodruffr @joshid-ims @huip-ims this is a low priority issue

[2022-05-17 13:52] cusackjm opened #105 ""RESET ANSWER" & "NEXT" buttons overlap when screen is made smaller"
![image](https://user-images.githubusercontent.com/85582895/168826962-30f98c0e-a310-4b91-8a6f-848aba25db2c.png)

only happens when screen is a certain size, once made small enough the buttons eventually stack on top of each other

(happens in all modules)

[2022-05-17 13:56] cusackjm opened #106 "Open-ended response Text is not saved when going back in PWA"
The response selection is saved (see picture of blue highlighted response), but the text box entry is not saved. I noticed this when going back into a partially complete module 2, but am not sure if this happens in other modules.

![image](https://user-images.githubusercontent.com/85582895/168828115-91e5416b-56c4-4e8f-8719-9c3bd0b5dcfe.png)

[2022-05-17 14:25] naiyume commented on #101
@cusackjm we have pushed a fix for this. Could you check on it?

[2022-05-17 15:05] joshid-ims commented on #100
@cusackjm So the individual details in the summary should be displayed of the corresponding question was displayed, right? And does that mean the we need to check if the question was only displayed and not worry about how they answered it (or it is NR)? So basically the summary detail for that question will be displayed but left blank if it is NR?

Also, are we displaying only A, B, C responses fr

[2022-05-17 15:39] naiyume commented on #106
@cusackjm This should be resolved now. Please try it out when you have time

[2022-05-17 16:17] cusackjm commented on #27
confirmed fix during testing 5/17/22 in ivaniteb5 CONNECT ID: 9052791267

[2022-05-17 16:17] #27 closed

[2022-05-17 16:20] cusackjm commented on #101
confirmed fix during testing on 5/17/22 in ivaniteb5 CONNECT ID: 9052791267

[2022-05-17 17:46] joshid-ims commented on #85
The date widget is allowing invalid dates.

![image](https://user-images.githubusercontent.com/64986739/168877255-f0dadcce-ca2c-4d04-9899-b723e1c19e42.png)

[2022-05-17 18:57] cusackjm commented on #105
confirmed fix in 5/17/22 testing

[2022-05-17 19:02] cusackjm commented on #106
confirmed fix in 5/17 testing

[2022-05-17 19:02] #106 closed

[2022-05-17 19:03] huip-ims commented on #5
@boyd-mj @woodruffr @joshid-ims @cusackjm Hi Julie, I think you might be testing on an older version. We're working on delivering a most recent version of Module 2 for you to try.

[2022-05-17 19:57] danielruss commented on #95
yes,

[code]

[2022-05-17 19:59] danielruss commented on #95
I think so, let me check.

[2022-05-17 20:06] woodruffr commented on #5
@cusackjm, What value are you using for SEX2 when testing this?

[2022-05-17 20:13] danielruss commented on #95
Sorry,  This is not currently a feature.  However, it seems like a really good idea.  I'll look into fixing it with @naiyume.

[2022-05-17 20:17] cusackjm commented on #5
SEX2= 5,7

[2022-05-17 20:18] woodruffr commented on #5
Thanks, Gwen has not been able to reproduce what you were seeing so we wanted to match your SEX2 answer.

[2022-05-17 20:20] cusackjm commented on #5
@woodruffr just want to confirm that INTRONONCISWOM and INTROWH are being treated as independent questions

[2022-05-17 20:56] woodruffr commented on #5
They are coded totally independently. Each has a lot of Displayif logic that is similar.

[2022-05-18 12:30] joshid-ims commented on #100
@cusackjm, sorry one question. I thought I would be able to show blank response for NR but actually data (or empty string) is not stored in the background if the response is NR (in case of text boxes, it can be compared with "").

So for NR, is it ok to not display the summary option?

[2022-05-18 13:11] cusackjm commented on #100
@joshid-ims Yes, if a question does not have a response to it, it is ok to not show it in the summary

[2022-05-18 14:35] joshid-ims commented on #100
Thanks

[2022-05-18 16:52] cusackjm commented on #5
@naiyume @danielruss
 is this possible?

[2022-05-18 18:26] cusackjm commented on #5
@danielruss If you are an intersex participant (SEX=2) and your gender identity is (GEN=  02 “FEMALE”, 03 “TRANSGENDER FEMALE”, 04 “GENDERQUEER”, OR 55 “ADDITIONAL GENDEROTHER”), the participant should see INTRONONCISWOM, but they currently are not.

If those same participants have (SEX2= 5 "UTERUS", OR 6 "OVARIES"), they should then be prompted to INTROWH, but they currently were not.

This issue

[2022-05-18 18:41] danielruss commented on #5
@naiyume   I think I understand what we need to look @cusackjm.  Can you look at how you pass in the variables and SEX,SEX2, GEN  into quest.  I think it needs to be an object that is

[code]
and not
[code]
While you do that, I will make sure that current logic handles passed in variables appropriately.  I'd be shocked if that is the problem.  We should have seen that bug lonnnnnnnnnnnng ago.

[2022-05-18 19:18] danielruss commented on #5
@cusackjm   I cant find the question INTROWH or HORNONCISWOM

[2022-05-18 19:41] naiyume commented on #5
@danielruss We have found the issue and it is now resolved on dev.

[2022-05-18 19:44] naiyume commented on #5
@danielruss This was a PWA issue. GEN is being stored differently from the other questions since it has an other selection. We just changed the data that was piped into module 2 and it is now functioning as expected.

[2022-05-18 19:54] danielruss commented on #5
@joshid-ims   I never found the question.  But using the info above, I re-created the three question using the "new" displayif question.  Curious to see if you like them...

[code]

[2022-05-19 02:12] huip-ims commented on #104
@cusackjm @woodruffr @joshid-ims Hi Julie, I've updated PREG8, and it's currently going through internal testing. Could you please confirm if "breastfeed" in PREG9 should also have information text? If so, we'll update this as well.

[2022-05-19 13:06] cusackjm commented on #104
@huip-ims yes

![image](https://user-images.githubusercontent.com/85582895/169300409-4630efbc-eacc-4968-a3e8-54d0bbb9b062.png)

[2022-05-19 13:49] danielruss commented on #73
I don't think it should.  The problem I fixed related to quotes and space.
(this is made up, it may not actually work) `|displayif=valueIsOneOf("name", "Daniel", "Dan") | Oh, it's you Daniel |`

When this is rendered into html the quotes would end the html attribute.
`<span `**displayif='valueIsOneOf('**`  name","Daniel,Dan)>Oh, it's you Daniel`

I change the style to emphasize the displayif attri

[2022-05-19 13:51] naiyume opened #107 "The date widget is allowing invalid dates."
The date widget is allowing invalid dates.

![image](https://user-images.githubusercontent.com/64986739/168877255-f0dadcce-ca2c-4d04-9899-b723e1c19e42.png)

_Originally posted by @joshid-ims in https://github.com/episphere/questionnaire/issues/85#issuecomment-1129148035_

[2022-05-19 13:55] naiyume commented on #85
@joshid-ims I have opened a new issue for this
https://github.com/episphere/questionnaire/issues/107

[2022-05-19 13:56] naiyume commented on #63
The code for the fix is currently not on stage yet if that is where you found this issue.

[2022-05-19 14:10] cusackjm commented on #63
@naiyume ok that was where i saw it

[2022-05-19 14:13] naiyume commented on #86
@danielruss Didn't we add a basic fix for this?
https://github.com/episphere/quest/commit/899046a45ac017c0f6aff7b8a0ff7ae5da26a8e0
Still might need to recursively remove brs after the display:none questions.

[2022-05-19 14:15] danielruss commented on #86
I thought we did.  Can you take a look at this?

[2022-05-19 14:28] joshid-ims commented on #73
@FrogGirl1123 I will still need to make markup changes in Module 4 in many other places similar to HOMEADD3_1.

[2022-05-19 14:30] naiyume commented on #107
@joshid-ims

[2022-05-19 14:49] #19 closed

[2022-05-19 18:53] woodruffr commented on #107
@danielruss Our tester Gwen got that error testing the Menstrual Cycle Survey using a Chrome browser.

[2022-05-19 19:57] naiyume commented on #107
@woodruffr
[code]
This is the markup. There is no indication of min or max. Are you expecting that the max that you can set is current day?

[2022-05-19 20:02] woodruffr commented on #107
I believe that is what our tester was expecting. With these types of questions we were not expecting future dates.

[2022-05-19 20:29] naiyume commented on #107
@danielruss is this an option that we have in the markup? If not, I think it might be worth our time to add this in. Current date maxes as an option sounds pretty standard.

[2022-05-19 20:32] danielruss commented on #107
add you want to add the equivalent of  "min=5-19-2022 max=6-19-2022". This might be addressable as today and today+30.  Let me test...

[2022-05-19 20:35] danielruss commented on #107
ok, there is no today variable.  creating one #today

[2022-05-19 20:41] danielruss commented on #107
new issue https://github.com/episphere/quest/issues/405

[2022-05-19 21:53] danielruss commented on #107
Try this:
[code]

You can adjust the number of days.  If you don't need the future, use #today or #today-1 if you want yesterday.

[2022-05-19 22:07] danielruss commented on #107
@naiyume

I think this needs to be a quest feature.  Of course, you have the ability to whatever you want in the PWA.  I would never see it.

[2022-05-20 14:06] KELSEYDOWLING7 opened #108 "Mod2 Stage Testing- NA/missing responses, unmatching responses, missing variables"
VARIABLES MISSING FROM PARTICIPANTS TABLE
-D_798889867  (HORNONCISWOM)
-D_837412550_D_765748316

VARIABLES MISSING FROM FLATM2 TABLE
-D_745223146_D_785412329
-D_215455305_D_434243220
-D_623759247_D_970604592
-D_597869478_D_434243220
-D_578176688_D_434243220
-D_101144925_D_970604592
-D_753416375_D_101310722
-D_266752903_D_765748316
-D_305195766_D_434243220
-D_618482103
-D_635874413
-D_697661603_D_7

[2022-05-20 15:46] cunnaneaq commented on #91
Issue still present in 5/20 dev testing

[2022-05-20 16:02] cunnaneaq opened #109 "[COVSUMMARY] not all symptoms selected are present"
[COV8]

![Screen Shot 2022-05-20 at 11 57 31 AM](https://user-images.githubusercontent.com/83971268/169567006-c2bbef79-1936-4ba5-8cf8-5b808721d254.png)

[COVSUMMARY]

![Screen Shot 2022-05-20 at 11 59 32 AM](https://user-images.githubusercontent.com/83971268/169567062-e0983383-43f5-4c8d-a112-3e2155aa71e9.png)

160627865 "Weakness or fatigue (tiredness)" missing from the symptom list

Not sure if t

[2022-05-20 16:04] cusackjm commented on #91
@cunnaneaq this hasn't been fixed yet and is low priority

[2022-05-20 16:16] #92 closed

[2022-05-20 16:21] cunnaneaq opened #110 "[COV26] word after text box is "times" should be "shot(s)""
![Screen Shot 2022-05-20 at 12 20 21 PM](https://user-images.githubusercontent.com/83971268/169570565-d0f80e52-c7e8-4a22-9470-3cb31884dc2b.png)

[2022-05-20 16:22] cusackjm commented on #105
Seeing issue in biospecimen testing on 5/20
![image](https://user-images.githubusercontent.com/85582895/169570817-0ee45589-5153-4ce6-9ea8-f9d6833ba406.png)

[2022-05-20 16:28] cunnaneaq commented on #105
Mine is working fine - using regular Chrome on a Mac

![Screen Shot 2022-05-20 at 12 27 44 PM](https://user-images.githubusercontent.com/83971268/169571673-8eac41e1-26b8-40bc-9f9b-ae9b2e450855.png)

![Screen Shot 2022-05-20 at 12 27 55 PM](https://user-images.githubusercontent.com/83971268/169571709-1eaaaadc-6da1-4e88-8129-22b5becc0186.png)

[2022-05-20 16:32] cunnaneaq commented on #98
Looks good!

![Screen Shot 2022-05-20 at 12 31 35 PM](https://user-images.githubusercontent.com/83971268/169572288-afafd14d-39f2-464d-8121-4774f4081ea2.png)

[2022-05-20 16:32] #98 closed

[2022-05-20 16:34] cusackjm commented on #105
@naiyume This is only happening to me in the Grid questions

[2022-05-20 16:37] cunnaneaq commented on #97
Looks good!

![Screen Shot 2022-05-20 at 12 37 41 PM](https://user-images.githubusercontent.com/83971268/169573295-eb8a8d4f-86b7-4f9c-bd11-c86875820941.png)

[2022-05-20 16:37] #97 closed

[2022-05-20 16:41] cunnaneaq commented on #93
Selected HYGIENE = 0(BRUSH1), 1(FLOSS1), AND 3(TONGUE1) and only saw BRUSH2, FLOSS2, AND TONGUE2.  Looks good, but will leave open until we're done with testing to try other responses.

[2022-05-20 16:42] cusackjm commented on #93
testing 5/20 confirmed fix

[2022-05-20 16:42] #93 closed

[2022-05-20 16:46] cunnaneaq commented on #94
Fixed 5/20

[2022-05-20 16:46] #94 closed

[2022-05-20 17:43] cusackjm opened #111 "Incorrect skip logic following COVSUMMARY"
I entered the following info:

COV1= 1
COV2= 1
COV3= 6/2022
COV4= 0
COV5= 0
COV6=0
COVSUMMARY (displayed correct information) --> COV19

**correctly did not see COV19, but instead of going to COV23, I went to COV27**
![image](https://user-images.githubusercontent.com/85582895/169583188-04f111a1-de3c-4135-8f44-96ccf075d4e3.png)

**Should have seen COV23 based on display logic and responses I entere

[2022-05-20 18:06] cunnaneaq commented on #109
To provide more information, in another scenario I selected 8= Sore throat, 9 = Cough, and 15= Vomiting (throwing up) at [COV8] and none of my selections appeared in [COVSUMMARY]
![Screen Shot 2022-05-20 at 2 05 18 PM](https://user-images.githubusercontent.com/83971268/169587259-fc5617ae-0df4-4930-888c-1473bff1a48d.png)

[2022-05-20 18:54] cusackjm opened #112 "Incorrect skip logic following COV1"
Entered the following responses:
COV1= 0 --> COV23

**Should have gone to COV23, but instead went to COV27**
![image](https://user-images.githubusercontent.com/85582895/169593845-f57f800f-c5c8-4805-a1bd-07fbbfb41851.png)

[2022-05-20 19:06] cunnaneaq opened #113 "[PERMTTHLOST] - [DENTURE] loop due to response at [HYGIENE]"
[HYGIENE] 0=Toothbrush, 4 = teeth-whiteners, 5 = Mouthwash
[BRUSH2] 2 = 3-5 times/week
[WHITE2] 0 = less than once per week
[MWUSE] 3 = Fluoride, 4 = Peroxide
[MWFLOURIDE] 1 = once or twice per week
[MWPEROX] 0= less than once per week
[PERMTTHLOST] 0 = NO
[DENTURE] 4 = dental implants

I had to click "NEXT" twice when submitting [DENTURE].
Then, I was brought back to [PERMTTHLOST] and my "NO" ans

[2022-05-20 19:07] cusackjm commented on #112
same thing happens when COV1= non-response

[2022-05-20 19:10] cunnaneaq opened #114 "[MWUSE] response "Flouride" should be "Fluoride""
In [MWUSE], response 3 should read "Fluoride mouthwash (such as ACT)"
Spelling in question for [MWFLOURIDE] is correct.

![Screen Shot 2022-05-20 at 3 08 06 PM](https://user-images.githubusercontent.com/83971268/169595713-21c0b09d-df77-4df6-a029-793a78f05546.png)

[2022-05-20 19:22] naiyume commented on #113
<img width="1275" alt="image" src="https://user-images.githubusercontent.com/27040828/169596665-17aef386-58ef-4950-9792-bab9bcb0ff45.png">

PERMTTHLOST is referenced here and also in the SRVMW_MWUSE_V1R0.

<img width="993" alt="image" src="https://user-images.githubusercontent.com/27040828/169596943-992842c6-095e-49c9-bed8-6e46bdaf8dfc.png">

I believe that this leads to the PERMTTHLOST question g

[2022-05-20 19:48] cusackjm commented on #100
fixed in 5/20 testing but leaving open because of spacing

[2022-05-23 15:08] boyd-mj commented on #96
@cusackjm this should have been fixed with the latest delivery. Could your team please retest? Thanks.

[2022-05-23 15:10] cunnaneaq commented on #71
Looks good to me in testing 5/23 - @cusackjm @KELSEYDOWLING7 can you confirm before closing?

[2022-05-23 15:21] cusackjm commented on #71
confirmed testing 5/23/22

[2022-05-23 15:21] #71 closed

[2022-05-23 15:34] woodruffr commented on #71
Julie,

Has the spacing issue in Quest Github 403 been resolved? Is the "Loos good" just refer to the age ranges themselves or the age ranges and spacing of the age ranges?

Thanks,
Rose

[2022-05-23 15:44] cusackjm commented on #71
the spacing issue looked resolved to me and aileen

[2022-05-23 16:07] KELSEYDOWLING7 commented on #87
Still seeing "Depression" header missing on 5/23/testing for Connect_ID 4164883179 (Test Scenario 3).
"Family History" was added successfully

[2022-05-23 16:17] KELSEYDOWLING7 commented on #90
Error still presenting in 5/23 testing for Connect ID 4164883179. Was able to enter both age and year out of range for mom's cancer diagnosis (marked not living, death at 50, year of diagnosis 2022 and age at diagnosis of 57, both worked)

[2022-05-23 17:22] KELSEYDOWLING7 opened #115 "ECIGLIFE/CIGARLIFE/CHEWLIFE/HOOKAHLIFE/PIPELIFE/SECSMLF/SMMARLIFE/ALCLIFE: Incorrect age ranges displayed"
Module 3 DEV testing   (5/23 testing, connect ID 4164883179)
(For reference I put that I started smoking cigarettes on a regular basis at 21- seems to have caused all other grids to start at 21 whether the smoking started for that product then or not)

ECIGLIFE: For e-cigarettes I marked age first used at 40, and on a regular basis at age 45. I'm seeing:
"On days that you used e-cigarettes or othe

[2022-05-23 17:26] KELSEYDOWLING7 commented on #71
Looks good for me as well

[2022-05-23 21:04] cunnaneaq opened #116 "[CIG10] & [CIG11] Wording of question error in PWA"
Response at [CIG5] = 0 "In the past month"

[CIG11] in the PWA

<img width="540" alt="Screen Shot 2022-05-23 at 4 58 25 PM" src="https://user-images.githubusercontent.com/83971268/169905080-951de512-8d11-4c57-984d-b9b56635453c.png">

Based on the specs document, the question should read:

<img width="634" alt="Screen Shot 2022-05-23 at 4 59 01 PM" src="https://user-images.githubusercontent.com/839

[2022-05-23 21:47] huip-ims commented on #113
@naiyume @cunnaneaq @boyd-mj Hi Brian-For PERMTTHLOST, we previously tried:
![image](https://user-images.githubusercontent.com/82978291/169907669-749bf0e3-6102-4073-8a5f-3b43c41b33f2.png)
This resulted in the issue addressed in #94. If we take out the '#NR', then DENTURES is called twice.

Similar with HYGIENE:
![image](https://user-images.githubusercontent.com/82978291/169909449-4db6a5fb-bd47-431

[2022-05-24 14:20] naiyume commented on #115
This might require some data dictionary changes.
Currently, the concept id 408696162 is being harmonized for every question that asks how old people are when they began using some substance.
This is causing issues because the questions are text box answers (which need to be unique for the sake of quest iirc)

[2022-05-24 17:46] cunnaneaq opened #117 "[EYECOLORINTRO] click "next" twice to move on"
To move from [EYECOLORINTRO] to [EYECOLOR] I had to click the "Next" button twice.  Similarly, if clicking back, I had to click the "back" button twice.  This happened consistently in testing two different scenarios.  Once I clicked "Next" twice, I was able to move on to the next question without an issue.

Not sure if this is a mark up, quest, or PWA issue - assigned IMS and NCI.  I imagine this

[2022-05-24 18:26] cunnaneaq commented on #116
[CIG10] Similar issue with wording as above.  Not pulling "[do/did]" into the sentence.

PWA:
![Screen Shot 2022-05-24 at 2 24 32 PM](https://user-images.githubusercontent.com/83971268/170105880-596ff824-f49e-4b13-8e4e-5cf789d860b4.png)

Specs doc:

![Screen Shot 2022-05-24 at 2 25 59 PM](https://user-images.githubusercontent.com/83971268/170106145-bb26bffe-4b8e-4bab-8026-bc38a01cb92e.png)

[2022-05-24 18:41] cunnaneaq opened #118 "[ECIG1] typo for company name "blu" in first sentence"
Specs doc: The company name is "blu"

![Screen Shot 2022-05-24 at 2 34 30 PM](https://user-images.githubusercontent.com/83971268/170107676-174b3121-ce7d-4ebe-9db9-c11def78cad9.png)

PWA: The company is listed as "blue"

![Screen Shot 2022-05-24 at 2 34 42 PM](https://user-images.githubusercontent.com/83971268/170107697-e3f33cc9-8685-439e-bd67-776ebbb6f2af.png)

Low priority issue

[2022-05-24 19:04] cunnaneaq opened #119 "[SECMLF] incorrect ranges from [AGE] in mod 1"
In Mod 1, I responded 0=No at [AGECOR] when it asked if I was 59 (the age calculated based on DOB entered in the user profile 12/6/1962) and typed in that I was 50 at [AGE].

In Mod 3, for [SECMLF] section.  I saw, "age 50 to age 59"

![Screen Shot 2022-05-24 at 3 01 07 PM](https://user-images.githubusercontent.com/83971268/170112383-b72ceaab-7334-4406-a43c-14b8ffe61093.png)

[2022-05-24 19:25] cunnaneaq commented on #119
Same for [ALCLIFE] intro and ranges:

![Screen Shot 2022-05-24 at 3 23 14 PM](https://user-images.githubusercontent.com/83971268/170115941-77648781-f6ac-4525-926a-4c84e2f79393.png)

![Screen Shot 2022-05-24 at 3 24 23 PM](https://user-images.githubusercontent.com/83971268/170116103-28c3e60b-c33e-499f-aa8b-c58490e64dc3.png)

[2022-05-24 19:34] KELSEYDOWLING7 commented on #6
Still seeing error on 5/24 testing, connect ID 4242162341

[2022-05-24 21:19] huip-ims commented on #109
@cusackjm @cunnaneaq @joshid-ims @boyd-mj Hi Aileen, IMS had initially coded the markup to show all selected symptoms in COVSUMMARY. However, from the display changes addressed in issue #100, COVSUMMARY was recently updated to only show selected symptoms COV8A (Fever), COV8B (Body chills), and COV8C (Body or muscle aches). If you would like to display additional selected symptoms in the summary, p

[2022-05-25 12:50] cusackjm commented on #109
@huip-ims the box questionnaire document has been updated so that the symptoms are responses from COV8

[2022-05-25 13:24] cusackjm commented on #119
@naiyume is this related to this issue: https://github.com/episphere/questionnaire/issues/115?

[2022-05-25 15:00] cusackjm opened #120 "Able to enter an age of doing something that is less than the age the person started doing something"
Min for PIPE9D (age stopped smoking everyday) should be PIPE2 (age first smoked a pipe) response.

Was able to enter PIPED9D= 17, when I reported PIPE2= 33

**This is a low priority issue.**

[2022-05-25 17:20] joshid-ims commented on #91
For this to happen, we will need to remove ID [SRVBLU_MED_V1R0] from the code. Is that ok?

[2022-05-25 17:29] woodruffr commented on #114
@cusackjm The Questionnaire for this has the spelling as Flouride. If you want the American "Floride" please update the Questionnaire and put a comment here. Thanks

[2022-05-25 17:39] cusackjm commented on #91
@FrogGirl1123 is removing ID [SRVBLU_MED_V1R0] ok to do?

[2022-05-25 18:11] cusackjm commented on #73
@joshid-ims was this in the latest delivery/is this ready for testing?

[2022-05-25 18:15] joshid-ims commented on #73
@cusackjm yes.

[2022-05-25 18:21] cunnaneaq commented on #74
Issue posted above is fixed and I see the city, state, zip, and country in [HOMEADD4] that I entered in [HOMEADD2].  However, the instructions state that the cross streets entered in [HOMEADD3] should also be shown in [HOMEADD4].  I don't see [HOMEADD3] in the [HOMEADD4] summary page (last screen shot)

![Screen Shot 2022-05-25 at 2 18 39 PM](https://user-images.githubusercontent.com/83971268/1703

[2022-05-25 18:22] #73 closed

[2022-05-25 18:53] joshid-ims commented on #111
Issue https://github.com/episphere/quest/issues/407 is created for this.

[2022-05-25 18:54] joshid-ims commented on #112
Issue https://github.com/episphere/quest/issues/407 is created for this.

[2022-05-25 19:11] boyd-mj commented on #107
@joshid-ims or @huip-ims please test Daniel's solution

[2022-05-25 19:18] cunnaneaq commented on #78
Issue fixed in 5/25 testing for all answer choices: hot tea, iced tea, and other beverages (example below)

<img width="587" alt="Screen Shot 2022-05-25 at 3 15 39 PM" src="https://user-images.githubusercontent.com/83971268/170350138-acc9f993-f26d-46c1-9756-447f7dd70ab8.png">

[2022-05-25 19:18] #78 closed

[2022-05-25 19:25] joshid-ims commented on #107
What should be the limits for date? Do we need to update the Word document for this?

For now, we are testing with |date|min=#today-30 max=#today|

[2022-05-25 19:32] boyd-mj commented on #109
This issue has been fixed and will be included in the next delivery

[2022-05-25 19:32] boyd-mj commented on #110
This issue has been fixed and will be included in the next delivery

[2022-05-25 19:40] cusackjm commented on #74
I saw the same thing testing irinainstitute@gmail.com on 5/25

[2022-05-25 19:49] boyd-mj commented on #74
Could we start a new issue for this since the original issue was resolved?

[2022-05-25 20:01] cunnaneaq opened #121 "[HOMEADD3] streets not present in [HOMEADD4] summary"
Cross streets entered in [HOMEADD3] should also be shown in [HOMEADD4] summary page (last screen shot)
@cusackjm saw same issue in testing 5/25

![Screen Shot 2022-05-25 at 2 18 39 PM](https://user-images.githubusercontent.com/83971268/170337978-e192d1f7-99fd-4b7d-baa0-2f8b266acf5e.png)

[HOMEADD1] - *ALL FIELDS LEFT BLANK*

[HOMEADD2]
<img width="340" alt="Screen Shot 2022-05-25 at 2 13 47 PM" sr

[2022-05-25 20:02] cunnaneaq commented on #74
@boyd-mj Yes, sorry about that.  New issue posted here https://github.com/episphere/questionnaire/issues/121

[2022-05-25 20:04] joshid-ims commented on #107
Tagged Julie. Could not tag Neal.

From: boyd-mj ***@***.***>
Sent: Wednesday, May 25, 2022 3:51 PM
To: episphere/questionnaire ***@***.***>
Cc: Joshi, Deepti (IMS) ***@***.***>; Assign ***@***.***>
Subject: Re: [episphere/questionnaire] The date widget is allowing invalid dates. (Issue #107)

Hi Deepti,

This is a content question. Please tag Julie in your message and assign to Julie and Neal.

J

[2022-05-25 20:16] cusackjm commented on #107
Shoulf be 60 (instead of 30) because this question is for participants who have had a menstrual period in the last 60 days
|date|min=#today-**60** max=#today|

[2022-05-25 21:08] cunnaneaq opened #122 "Address from [HOMEADD1] is not piped into [CHILDADD]"
![Screen Shot 2022-05-25 at 5 06 23 PM](https://user-images.githubusercontent.com/83971268/170367282-20aad74e-6f77-479c-8249-d1ef5872879f.png)

<img width="640" alt="Screen Shot 2022-05-25 at 5 06 37 PM" src="https://user-images.githubusercontent.com/83971268/170367333-243e90f8-0cdc-4738-9f7f-09f4c4d8ca4e.png">

Tagged everyone - not sure if mark up, quest, or PWA issue

[2022-05-25 21:14] cunnaneaq commented on #75
Fixed in testing 5/25

[CHILDADD1] - *continue without answering*
[CHILDADD2] - *continue without answering*
[CHILDADD5]
<img width="394" alt="Screen Shot 2022-05-25 at 5 13 32 PM" src="https://user-images.githubusercontent.com/83971268/170368325-4ab19284-d0f1-45a4-bb77-61ab28e695d3.png">

[2022-05-25 21:14] #75 closed

[2022-05-26 13:37] cunnaneaq commented on #122
@naiyume OK thanks!  I'll test clicking "I lived at a previous address already entered" and make sure the addresses are listed on the next screen

[2022-05-26 14:07] cusackjm commented on #114
@woodruffr Spelling is changed to "fluoride" in the qx documents.

Should I also change the spelling of the variable name?

[2022-05-26 14:14] #85 closed

[2022-05-26 15:00] cunnaneaq opened #123 "[HOMEADD2_3] State/Province not present in [HOMEADD4_3]"
This is for my third home address in [HOMEADD] loop - "NV" entered as the state in [HOMEADD2_3] is not present in [HOMEADD4_3] summary

[HOMEADD1_3]
![Screen Shot 2022-05-26 at 10 55 27 AM](https://user-images.githubusercontent.com/83971268/170514571-fb1f5556-9949-4f5b-81d9-2d33f9d79b61.png)

[HOMEADD2_3]
![Screen Shot 2022-05-26 at 10 56 03 AM](https://user-images.githubusercontent.com/83971268/1

[2022-05-26 15:10] boyd-mj commented on #119
@cusackjm @naiyume we were unable to reproduce this issue in either version of the markup

[2022-05-26 15:11] cunnaneaq commented on #122
This is working correctly!  Thanks again @naiyume

![Screen Shot 2022-05-26 at 11 09 28 AM](https://user-images.githubusercontent.com/83971268/170517286-b0d9a7c6-81c7-4754-b33d-4007d43da24d.png)

![Screen Shot 2022-05-26 at 11 09 42 AM](https://user-images.githubusercontent.com/83971268/170517329-9c7bccb3-a9cc-4a7e-babe-7a76818c7c72.png)

[2022-05-26 15:11] #122 closed

[2022-05-26 15:31] boyd-mj commented on #6
Hi @KELSEYDOWLING7 I just want to confirm that this issue IS still occurring? I got an earlier message that it wasn't present during testing:

From: KELSEYDOWLING7 <notifications@github.com>
Sent: Monday, May 23, 2022 12:23 PM
To: episphere/questionnaire <questionnaire@noreply.github.com>
Cc: Boyd-Morin, Jennifer (IMS) <Boyd-MorinJ@imsweb.com>; State change <state_change@noreply.github.com>
Subjec

[2022-05-26 15:46] cunnaneaq commented on #76
[PREWORKT2] grid FIXED in 5/26 dev testing - Selected "motorcycle" and "other" in [PREWORKT1] and only saw those two selections in the [PREWORKT2] grid. Screenshots below.  Unable to test CURWORK grids in this scenario.

[PREWORKT1]
![Screen Shot 2022-05-26 at 11 42 17 AM](https://user-images.githubusercontent.com/83971268/170523427-dd489a82-c9b0-47d5-a99a-c481a82169e9.png)

[PREWORKT2]
![Screen S

[2022-05-26 15:58] cunnaneaq opened #124 "PREWORKT3] question should have [PREWORK1 - PREWORK3] address filled in"
Full address entered at [PREWORK1] - address should be piped into this question rather than say "this address"

![Screen Shot 2022-05-26 at 11 53 59 AM](https://user-images.githubusercontent.com/83971268/170525695-38ab60c6-2627-482b-9963-1837ab72d36e.png)

<img width="647" alt="Screen Shot 2022-05-26 at 11 56 22 AM" src="https://user-images.githubusercontent.com/83971268/170526240-426d2282-b384-48

[2022-05-26 16:22] KELSEYDOWLING7 commented on #6
@boyd-mj  Yes, I apologize. I hadn't realized it was an NR response for EMPLYERSRVCE1 that was causing the incorrect skip logic when I tested on 5/23.  So when we retested on 5/24 I skipped the question and was brought to Work7 instead of Work8

[2022-05-26 16:41] cusackjm opened #125 "did not see CHILDADD3"
I left the STREET NUMBER AND STREET NAME BLANK IN CHILDADD1 BUT COMPLETED THE CITY and STATE FIELDS IN CHILDADD2 and was not shown CHILDADD3

Is this a markup issue or quest/data pulling issue? @naiyume @boyd-mj

[2022-05-26 19:34] cusackjm commented on #87
confirmed fix tommytesterdceg@gmail.com on 5/26

[2022-05-26 19:34] #87 closed

[2022-05-26 19:37] cusackjm commented on #88
still there on 5/26 for WEIGHT
![image](https://user-images.githubusercontent.com/85582895/170564070-6195955d-4432-4d4c-8c70-2f559cd7f035.png)

[2022-05-26 19:41] cusackjm commented on #90
confirmed fix in 5/26 testing

[2022-05-26 19:41] #90 closed

[2022-05-26 19:47] cusackjm commented on #6
confirmed fix in testing 5/26

[2022-05-26 19:47] #6 closed

[2022-05-26 19:54] #89 closed

[2022-05-26 19:57] cusackjm commented on #76
confirmed fix 5/26

[2022-05-26 19:57] #76 closed

[2022-05-27 15:10] naiyume commented on #113
@huip-ims I want to double check the logic that we are going for here. If we want the question to always go to SRVMW_DENTURES_V1R0 after the SRVMW__TEETHLOSTAI_V1R0 and SRVMW_TEETHLOSTD_V1R0 resolve, then just take out the SRVMW_DENTURES_V1R0 pointer from the 0 response. In the end, it should look like this
<img width="859" alt="image" src="https://user-images.githubusercontent.com/27040828/170726

[2022-05-27 16:00] #56 closed

[2022-05-27 16:13] KELSEYDOWLING7 commented on #57
closed issue #57 5/27

[2022-05-27 16:13] #57 closed

[2022-05-27 20:30] boyd-mj commented on #121
This issue has been fixed and will be included in the next delivery

[2022-05-27 20:31] boyd-mj commented on #125
This has been fixed and will be included in the next delivery

[2022-05-27 20:56] boyd-mj commented on #124
This issue has been fixed and will be included in the next delivery

[2022-05-31 14:06] naiyume commented on #119
@cusackjm a fix has been pushed to dev, please test this out when you have a chance.

[2022-05-31 14:13] huip-ims commented on #113
@naiyume @boyd-mj Thanks Brian - I've made some changes to the markup, and it's currently going through internal testing.

[2022-05-31 19:34] KELSEYDOWLING7 opened #126 "Mod3 DEV testing- Test scenario not saving in Connect"
Note: All participants info from test scenarios have been saving in Connect.participants for all environments. Query for Connect.participants ran smoothly as scheduled this morning and during all Module 3 DEV testing

TEST SCENARIO 1 (taratdrp@gmail.com / Connect_ID= 2314222519):
-None of the responses for Test Scenario 1 saved to the Connect.participants table
-Some answers are in recruitment.par

[2022-05-31 20:37] cusackjm commented on #119
fixed in testing (tommytesterdcge@gmail.com) on 5/31

[2022-05-31 20:37] #119 closed

[2022-06-01 12:20] naiyume commented on #126
Checked ALCLIFE2C and ALCLIFE2E for scenario 2 and both were found in firestore under D_633553324 along with D_164707243 and D_818310825. ELMAR10 also seems to have 437269318 stored in firestore.

[2022-06-02 15:35] cusackjm commented on #44
MENSHIS & MENSHIS2 "never" responses are fixed in stage mod 2 testing 6/2/22

[2022-06-02 16:08] boyd-mj commented on #99
This issue has been fixed and will be included in the next delivery

[2022-06-02 16:45] KELSEYDOWLING7 commented on #63
Was able to enter times for all questions on 6/2 testing

[2022-06-02 16:53] KELSEYDOWLING7 commented on #20
Still seeing in 6/2 testing.
taratdrp@gmail.com connect id: 6537895747

[2022-06-02 18:46] cusackjm commented on #103
Same with SLEEP2N
![image](https://user-images.githubusercontent.com/85582895/171703709-9259a33d-490b-4258-9c72-4daefc78a300.png)

[2022-06-02 19:42] cusackjm commented on #91
"MARIJUANA" [SECTION2] on different page from [INTROMAR]

[2022-06-02 22:34] cunnaneaq opened #127 "CIGARLIFEA-H not seeing questions when "Never" responded at CIGAR3"
CIGAR1 = 3 "100 or more"
CIGAR2 = 35
CIGAR3 = 44 "Never smoked on a regular basis"
CIGAR4 = 3 "Yes, everyday"
CIGAR9A = 2
CIGAR10 = 0 "Cigar", 1 "Cigarillo", 2 "Little filtered cigar"

Based on the specs document I should see CIGARLIFEA-H based on these responses:
![Screen Shot 2022-06-02 at 6 22 52 PM](https://user-images.githubusercontent.com/83971268/171748185-4c77bf36-15d4-441f-bad5-5acf633530

[2022-06-03 13:01] cusackjm commented on #127
@boyd-mj this is a high priority issue

[2022-06-03 13:16] huip-ims commented on #112
@cusackjm @joshid-ims @boyd-mj Hi Julie, Should COV23 be asked if COV1 = non-response, and if so, could you please update the Word doc?  Currently, it has to display if COV1 = 1, 77.

[2022-06-03 13:34] joshid-ims commented on #127
@cusackjm This is going to happen for all products as we have used the age started using product regularly for all of them. So this will be a code change for all products. This will take some time for coding and the whole module will need to be tested thoroughly.

By when should this be done?

[2022-06-03 14:07] cusackjm commented on #127
@joshid-ims this is a low priority issue and will be revisited after the initial launch

[2022-06-03 14:40] cusackjm commented on #112
@huip-ims yes it should. I am updating the word documents now

[2022-06-03 15:01] #118 closed

[2022-06-03 15:12] cusackjm commented on #44
tested and fixed in mod 3 on 6/3

[2022-06-03 15:12] #44 closed

[2022-06-03 15:59] cunnaneaq opened #128 "AGECOR/AGE from Mod 1 not correct in LIFE questions in Mod 3"
Stage re-test of mod 3 scenario 3 on 6/3, Connect ID: 9857825959

Original age from user profile = 47
Mod 1
AGECOR = NO
AGE = 48

In the LIFE grids for mod 3, the max age I am seeing is 47.

Not sure if a PWA, Quest, or mark up issue

[2022-06-03 16:01] cunnaneaq commented on #115
Unharmonized ages in LIFE questions is fixed.  I had the same issue as Kelsey in her comment about AGECOR/AGE and entered a new issue to track it https://github.com/episphere/questionnaire/issues/128

[2022-06-03 16:01] #115 closed

[2022-06-03 17:06] KELSEYDOWLING7 commented on #108
Resolved in 6/2 testing

[2022-06-03 17:37] cusackjm commented on #121
tested and fixed on 6/3/22

[2022-06-03 17:37] #121 closed

[2022-06-03 18:02] cusackjm commented on #125
tested and fixed on 6/3/22

[2022-06-03 18:02] #125 closed

[2022-06-03 18:43] cunnaneaq commented on #124
Fixed in stage testing 6/3

![Screen Shot 2022-06-03 at 2 42 28 PM](https://user-images.githubusercontent.com/83971268/171926721-8c1177b4-eb3e-43bb-8872-00742aec52a8.png)

[2022-06-03 18:43] #124 closed

[2022-06-03 19:43] cunnaneaq commented on #123
Fixed 6/3 stage testing

![Screen Shot 2022-06-03 at 3 42 49 PM](https://user-images.githubusercontent.com/83971268/171938762-c28d547e-7e1d-411a-80b1-71c729e17303.png)

[2022-06-03 19:43] #123 closed

[2022-06-06 14:55] cusackjm opened #129 "Not seeing school commuting section (CURSCH*) & STUDENT=1"
**this is a high priority issue**

selected STUDENT=1 in mod 1 and was not displayed the school commuting section in module 4

@woodruffr @naiyume is this a markup, PWA, or quest issue?

[2022-06-06 18:24] FrogGirl1123 commented on #129
@naiyume  Hi Brian, could you please check this issue and confirm it's a render issue and if so the timeline for fixing?

[2022-06-06 18:45] danielruss commented on #128
@cunnaneaq, when I run this setting "AGE" to 48 and "age" to 47,  I get the expect result.

![image](https://user-images.githubusercontent.com/3767675/172225573-5c43cb6d-97c0-474a-9ab2-df0cb15afdda.png)

This is exact what is expected from the code in module 2.  `Age 40 to age {$e:min(49,valueOrDefault("AGE","age",100)) };`.  The `{$e:...}` is replaced by the minimum of 49 OR the value of "AGE".

[2022-06-06 19:05] cunnaneaq commented on #128
Thank you @danielruss.  Consulted with the team and this is a low priority issue

[2022-06-06 20:33] KELSEYDOWLING7 opened #130 "Mod4 Stage testing- nonmatching responses/skip logic error and one missing variable"
(Ran backend testing without using the flattened table; reviewed straight from the participants table)

DATA DICTIONARY ISSUE:
-DAYSWORK is listed twice, D_774087638 in Mod 4 and D_842657297 in Mod1. D_842657297 works, so it should be changed to Mod4 in the dictionary and D_774087638 needs to be removed

General issues within test scenarios:
TEST SCENARIO 1 ISSUES: (email= taratdrp@gmail.com , Con

[2022-06-06 21:01] #58 closed

[2022-06-07 13:09] KELSEYDOWLING7 commented on #61
These problems aren't presenting themselves in Stage. May be able to close this issue

[2022-06-07 13:09] KELSEYDOWLING7 commented on #62
These problems aren't presenting themselves in Stage. May be able to close this issue

[2022-06-07 13:10] FrogGirl1123 commented on #130
@boyd-mj  @danielruss  @naiyume Could you please review as soon as possible to evaluate what might be markup issues vs quest issues.  None of these are flattening issues as Kelsey is running her code on the raw data.

[2022-06-07 13:15] danielruss commented on #130
What are the Scenarios?

[2022-06-07 13:25] boyd-mj commented on #130
@danielruss the DAYS WORK issue seems unlikely to be a markup issue so that might be a good place for you to start

Scenarios 1&3 may be harmonization issues. We'll take a look at those and test the skip patterns and report back.

[2022-06-07 13:36] FrogGirl1123 commented on #130
@KELSEYDOWLING7 could you please post a link to the scenario document for Daniel to see.

[2022-06-07 13:38] FrogGirl1123 commented on #130
@boyd-mj do you have access to the scenarios?  Would it be helpful for you to if you don't?

[2022-06-07 13:45] KELSEYDOWLING7 commented on #130
Yes, @danielruss  this is where all the answers are store https://nih.app.box.com/file/965975750266 . The Connect ID and email are listed on the top right, as well as on the issue description above

[2022-06-07 14:18] naiyume commented on #129
This is fixed in dev and @cunnaneaq is testing it in stage.

[2022-06-07 15:06] guinevere83 commented on #130
For the skip pattern problems, I might need some clarification. What questions were displayed or not displayed in these cases? Or were your responses for some questions being stored as responses to other questions? I was having trouble telling from the post.

[2022-06-07 15:25] boyd-mj commented on #130
@FrogGirl1123 I don't have access to that document. It must be a different Box folder that we don't have access to. Could someone share it on our Box? Or alternatively if you want to grant us access to the existing location, could you please give access to me, Gwen, Deepti, and Pete? This may help Gwen to proceed with testing of these skip pattern issues as well. Thanks!

[2022-06-07 15:27] KELSEYDOWLING7 commented on #130
For Test Scenario 3 as well, if they answer CHILDCITY or CHILDST there should be no follow up questions of CHILDCITY_FOLLOWUP and CHILDST_FOLLOWUP, as those specifically state that city and state were skipped and asks the participant to enter an answer. However here, City and State are answered (when they should not have been, testing says no responses were given) , and yet the follow-up questions

[2022-06-07 15:32] #129 closed

[2022-06-07 15:38] danielruss commented on #130
@KELSEYDOWLING7   @naiyume @boyd-mj    The Commuting section (where DAYSWORK) is located is a very simple section.  The DAYSWORK question actually does not depend on any other response.

Was this tested with after concept-ids were add (in other words, Kelsey could you have the wrong concept id during testing?)

[code]

![image](https://user-images.githubusercontent.com/3767675/172422039-745dfd6e-2

[2022-06-07 15:40] FrogGirl1123 commented on #130
@boyd-mj I'll see if I can invite you and the others to the document.  I don't want to try to maintain it in more than one place.

@cusackjm @cunnaneaq @KELSEYDOWLING7  do you remember which browser you were using for these scenarios?

[2022-06-07 15:56] KELSEYDOWLING7 commented on #130
@danielruss  @FrogGirl1123 DAYSWORK was previously in Mod1 as D_842657297. It was removed from the markup but its apparently still in the Data Dictionary twice as D_842657297 in Mod1 and D_774087638 in Mod4. The concept ID in Mod4 populates nothing, but if I use the concept ID for DAYSWORK from Mod1 I now see the right answers populate

[2022-06-07 15:58] KELSEYDOWLING7 commented on #130
SEASADDSUM1 problems seems to be a confusion with the skip logic and wrong responses marked on the Box response file. I'll remove those issues

[2022-06-07 16:41] naiyume commented on #130
<img width="1265" alt="image" src="https://user-images.githubusercontent.com/27040828/172436681-dca1a9ef-e854-4736-808d-69bd74e6044b.png">
The doesNotEqual here seems to always be returning true if the question D_203943120 is not answered/seen at all. Just wanted to double check if this is the intended behavior.

[2022-06-07 16:48] naiyume commented on #130
Checked with @danielruss and this seems to be intended behavior from the quest side. If you want these to not show up in the grid then the markup needs to be changed. @KELSEYDOWLING7

[2022-06-07 16:53] KELSEYDOWLING7 commented on #130
The logic for CURWORKT10 is: IF CURWORKT7=NO, then display rows ONLY for responses marked in CURWORKT9. IF
 CURWORKT8=NO, then also display responses marked in CURWORKT2.

She answered no to bothCURWORKT7 and CURWORKT8. Is that why all CURWORKT2 chosen transportation methods are asked in CURWORKT10 as opposed to CURWORKT9 transportation methods?

[2022-06-07 17:00] danielruss commented on #130
If the question is not seen/answered use isDefined.   My preference is for you NOT to use the old functions.  They have proven to be quite buggy and difficult to use.  I would help you modify the logic, but because the old function were so poorly designed (my bad, sorry) I have a hard time understanding what they are doing.

[2022-06-07 19:46] KELSEYDOWLING7 commented on #62
With these problems not presenting in 6/2 stage testing and recent pushes, will be closing this issue for now

[2022-06-07 19:47] KELSEYDOWLING7 commented on #61
With these problems not presenting in 6/2 stage testing and recent pushes, will be closing this issue for now

[2022-06-07 19:47] KELSEYDOWLING7 commented on #126
With this problem not presenting in 6/2 stage testing and recent pushes, will be closing this issue for now

[2022-06-07 19:47] #126 closed

[2022-06-07 21:08] huip-ims commented on #130
@KELSEYDOWLING7 Could you please summarize what issues you are having with CURWORKT10?

[2022-06-08 12:41] KELSEYDOWLING7 commented on #130
@huip-ims Sure, I believe CURWORKT10 should only be asking about the time it takes to get home using the transportation methods listed in CURWORKT9 (aka CURWORKT10F and CURWORKT10G for biking and walking) . Instead, it is also asking about the time it takes to get home for all transportation methods listed in CURWORKT2 (aka CURWORKT10A-E and CURWORKT10H)

[2022-06-08 12:58] huip-ims commented on #130
@KELSEYDOWLING7 Thanks for the summary. I don't have permission to access your testing responses for CURWORKT1-CURWORKT9. Could you please provide those here, so I can follow where the skip logic failed and led to the summary you provided?

[2022-06-08 13:13] FrogGirl1123 commented on #130
@huip-ims you should have access to the file, please check your email for an invite from Box

[2022-06-08 13:33] huip-ims commented on #130
@FrogGirl1123 @KELSEYDOWLING7 OK, thanks! Just found them in the Stage M2 Questionnaire Testing excel file. Will take a look and get back to you.

[2022-06-08 14:15] cunnaneaq commented on #130
RESPONSE:
Tested again with @naiyume and @KELSEYDOWLING7.  We think this is an error cause by entering city/state in CHILDCITY and CHILDST and then going back and deleting this info, which triggered the skip logic to display CHILDCITY_FOLLOWUP and CHILDST_FOLLOWUP.  The deleted entry for CHILDCITY/ST was not deleted on the back-end, so Kelsey saw answers for both questions (which is incorrect).  T

[2022-06-08 14:41] huip-ims commented on #130
@KELSEYDOWLING7 It looks like the Questionnaire Word doc and M4 markup will need to be updated. The skip logic is failing when handling NR for CURWORKT7 and CURWORKT8.

CURWORKT9 is asked when CURWORKT7=0 (NO) or NR. However, the conditional display for grid CURWORKT10 states **'IF CURWORKT7=NO, then display rows ONLY for responses marked in CURWORKT9.'** Should this be 'IF CURWORKT7=NO or NR, the

[2022-06-08 15:08] danielruss commented on #127
no mixing off old and new functions.  BUT remember we are using mathjs to make life easier....

valueOrDefault("CIG3_AGE","CIG2",1)>= 0  (note: this is always true)
valueOrDefault("CIG3_AGE","CIG2",0) < 0

[2022-06-08 15:13] joshid-ims commented on #127
Sorry, not sure how I would use that here in example I gave.

[2022-06-08 15:13] danielruss commented on #127
I'll make an example...

[2022-06-08 15:32] danielruss commented on #127
[code]

[2022-06-08 15:35] joshid-ims commented on #127
Ok, thanks. Let me try in my scenario.

[2022-06-08 16:41] cusackjm commented on #130
@huip-ims I've added your suggestions to the qx document: https://nih.box.com/s/o816d6804w154fqf5y161ii7ngvcezqg

Let me know if this is correct, or if further edits need to be made

[2022-06-08 17:05] huip-ims commented on #130
@cusackjm Hi Julie, if CURWORKT8 is skipped (which will also result in CURWORKT8=NR), we should NOT display responses marked in CURWORKT2, is this correct?

[2022-06-08 17:17] KELSEYDOWLING7 commented on #99
Not seeing this issue in 6/8 testing

[2022-06-08 17:18] KELSEYDOWLING7 commented on #100
Seems fixed in 6/8 testing

[2022-06-08 17:41] KELSEYDOWLING7 commented on #114
Spelling is correct on 6/8 testing

[2022-06-08 18:14] cunnaneaq commented on #109
Agree with Kelsey - 1. seeing all of the symptoms selected in COV8 in COVSUMMARY and 2. not seeing questions in the summary that weren't asked (i.e. hospitalization)
![Screen Shot 2022-06-08 at 2 13 25 PM](https://user-images.githubusercontent.com/83971268/172687682-02bf8297-0c14-4d4b-8a91-75c2225eeb5d.png)

![Screen Shot 2022-06-08 at 2 08 01 PM](https://user-images.githubusercontent.com/83971268

[2022-06-08 18:14] #109 closed

[2022-06-08 18:17] cunnaneaq commented on #100
Agreed - fixed, but still has spacing issue
![Screen Shot 2022-06-08 at 2 17 15 PM](https://user-images.githubusercontent.com/83971268/172688338-abc5d38c-5977-43d2-833e-e819abe7c23b.png)

[2022-06-08 18:27] cusackjm commented on #130
@huip-ims no, we should display responses marked in CURWORKT2

[2022-06-08 18:34] #111 closed

[2022-06-08 18:38] #96 closed

[2022-06-08 18:40] cunnaneaq commented on #110
fixed in 6/8 stage testing

![Screen Shot 2022-06-08 at 2 40 11 PM](https://user-images.githubusercontent.com/83971268/172692258-0095066b-3e75-4005-bd2e-2d219f70976b.png)

[2022-06-08 18:40] #110 closed

[2022-06-08 18:50] cusackjm commented on #114
madhuri also confirmed fix on 6/8

[2022-06-08 18:50] #114 closed

[2022-06-08 18:58] #113 closed

[2022-06-08 19:18] huip-ims commented on #130
@cusackjm I've made the markup updates to address display issues for CURWORKT10. It's currently going through internal testing.

[2022-06-08 19:46] FrogGirl1123 commented on #91
@cusackjm @boyd-mj Yes, removing ID [SRVBLU_MED_V1R0]  is OK, as well as any other markup/content edits needed to resolve the heading issues

[2022-06-08 20:03] cunnaneaq commented on #112
Fixed for COV1= 0 and NR; brought directly to COV23 (scenarios 6 & NR in testing spreadsheet)

[2022-06-08 20:03] #112 closed

[2022-06-08 20:20] boyd-mj commented on #130
The CURWORKT logic has been updated and will be included in the next delivery, along with the skip pattern fix for the CHILD address section. Note that we are now seeing that backend issue that @naiyume is looking into for CHILDCITY & CHILDST.

Per our conversation today, @cusackjm will update the DD to remove the duplicate DAYSWORK entry.

That leaves the PREWORKRES issue. We aren't able to ident

[2022-06-08 20:30] KELSEYDOWLING7 commented on #130
Great, thank you! @boyd-mj  it is likely that PREWORKRES was simply a mistype when recording the answers. They said they answered no when instead they answered yes

[2022-06-08 20:33] cusackjm commented on #105
appears fixed in COV24 grid

[2022-06-08 20:33] #105 closed

[2022-06-09 14:59] cunnaneaq commented on #86
"Urinary and Reproductive System" section looks great!

![Screen Shot 2022-06-09 at 10 58 46 AM](https://user-images.githubusercontent.com/83971268/172878511-8f27cfb4-4696-44ff-b80e-1e19e97d8d7e.png)

[2022-06-09 16:16] cusackjm commented on #130
@boyd-mj the old DAYSWORK was removed from the DD and is in github

[2022-06-09 18:55] joshid-ims commented on #116
@cunnaneaq Is it a PWA issue? In markup, same logic is used to display current/past tense in other questions 10.

[2022-06-09 19:44] joshid-ims commented on #120
None of the stop using product age questions are based on that min. They all have min =0. Should all be changed?

[2022-06-09 20:27] cunnaneaq commented on #130
Similar issue to CURWORK happening in PREWORK

PREWORKT1 - 1 "commuter rail, subway, metro"
PREWORKT4 - 0 "No"
PREWORKT5 - correctly skipped due to logic
PREWORKT6 - 1 "Taxicab"

Seeing both "commuter rail" and "taxicab" in PREWORKT7 grid, but shouldn't based on the first line of instructions in PREWORKT7

Issue likely do to the "If PREWORKT5 = NO, then display rows marked in PREWORKT1"

![Screen

[2022-06-09 20:30] cunnaneaq opened #131 "PREWORKT7 grid showing incorrect responses"
Similar issue to CURWORK happening in PREWORK (#130)

PREWORKT1 - 1 "commuter rail, subway, metro"
PREWORKT4 - 0 "No"
PREWORKT5 - correctly skipped due to logic
PREWORKT6 - 1 "Taxicab"

Seeing both "commuter rail" and "taxicab" in PREWORKT7 grid, but shouldn't based on the first line of instructions in PREWORKT7

Issue likely do to the "If PREWORKT5 = NO, then display rows marked in PREWORKT1"

![

[2022-06-09 21:44] cunnaneaq commented on #130
CURWORKT issue looked good in testing of scenario 4 in the PWA

[2022-06-10 13:01] FrogGirl1123 commented on #131
@boyd-mj Hi Jen, do you have an update on this issue this morning?

[2022-06-10 13:13] FrogGirl1123 commented on #130
Good news!

[2022-06-10 13:58] cusackjm opened #132 "Incorrect skip logic for CHILDADD"
Aileen and I both selected an address at CHILDADD, so we should have gone to CHILDADD4, but instead we were taken to CHILDADD1.

[2022-06-10 14:35] cunnaneaq opened #133 "incorrect skip logic for CURWORKT11-13"
CURWORK10F: 1 - "16 to 30 minutes"
CURWORK10G: 2 - "31-59 minutes"

Should see CURWORKT11 - CURWORKT13, but am skipping to CURWORKT14

I think there's an issue with the instructions in the specs doc:
![Screen Shot 2022-06-10 at 10 32 25 AM](https://user-images.githubusercontent.com/83971268/173088312-14136b38-c294-482b-9742-b8f138918050.png)

should say, "ASK CURWORKT11 - CURWORKT13 IF ANY CURWORK

[2022-06-10 14:35] boyd-mj commented on #131
This issue has been fixed and will be included in the next delivery

[2022-06-10 14:38] boyd-mj commented on #133
@cusackjm could you confirm/update the questionnaire document if a change is needed?

@huip-ims please keep an eye on this issue, thanks.

[2022-06-10 15:02] cunnaneaq opened #134 "Concept IDs displaying in question text"
If I log out and log back into the PWA and then click back, the concept IDs display in the question text instead of the address entered.  If I click back to the question where the address is entered, my responses are saved and then it works correctly going forward.

This is happening for all questions that are meant to display an address (e.g., CURWORK1 and CHILDADD)

See below screenshots:

![Scr

[2022-06-10 15:52] cusackjm commented on #133
@huip-ims @boyd-mj questionnaire document is updated

[2022-06-10 15:57] cusackjm commented on #131
@huip-ims qx document is updated

[2022-06-10 16:57] joshid-ims commented on #132
@danielruss, Could this be a quest issue? CHILDTEST is being checked in the question but it is not showing as checked in developer's screen. Details below:

The question is:

[CHILDADD2?,displayif=and(equals(isDefined(CHILDTEST,-1),-1),and(or(isNotDefined(CHILDCITY,false),isNotDefined(CHILDST,false)),or(isNotDefined(CHILDZIP,false),isNotDefined(CHILDCOUNTRY,false)))]
Please provide the following i

[2022-06-10 17:01] joshid-ims commented on #132
@FrogGirl1123 @naiyume @danielruss, what would you like us to do?

[2022-06-10 17:49] danielruss commented on #132
@joshid-ims  looking at it

[2022-06-10 18:06] danielruss commented on #132
@joshid-ims  works for me.  Did you add and address in Child address 1?

[2022-06-10 18:18] danielruss commented on #132
@joshid-ims  try this logic:
`[CHILDADD2?,displayif=not allExist("CHILDCITY","CHILDST","CHILDZIP","CHILDCOUNTRY")]`

[2022-06-10 18:29] joshid-ims commented on #132
I have tried noneExist("CHILDTEST","CHILDCITY","CHILDST","CHILDZIP","CHILDCOUNTRY"). Is that wrong?

So is this a Quest issue?

[2022-06-10 19:12] boyd-mj commented on #133
This issue has been fixed and will be included in the next delivery

[2022-06-10 19:14] danielruss commented on #132
I think the issue is misaligned parentheses.

[2022-06-10 19:26] danielruss commented on #132
when I change:
[code]
to
[code]

![image](https://user-images.githubusercontent.com/3767675/173136167-0cebc71c-117c-496a-89a0-fd45c843fa12.png)

[2022-06-10 20:18] joshid-ims commented on #132
Let me try that.

[2022-06-10 20:53] boyd-mj commented on #130
@naiyume @danielruss has this issue been fixed or is it ongoing? Just want to be aware one way or the other as we test this section for the other fix. Thanks.

[2022-06-10 20:58] danielruss commented on #134
@naiyume I think the PWA is not getting the values from firestore.  I'll try to run this in quest.

[2022-06-13 02:08] huip-ims commented on #128
@danielruss Daniel- Since the code and Quest are working as expected, is this a PWA issue then?

[2022-06-13 12:26] danielruss commented on #128
Not sure @huip-ims .  I would think this would be the same in the PWA as in quest.  @naiyume If the PWA is not getting the value of AGE from firestore, it would fall back to age.  Can you check that it is passed into the module.

[2022-06-13 13:34] cusackjm commented on #131
@huip-ims @boyd-mj hi what is the status on this

[2022-06-13 13:36] cusackjm commented on #132
@joshid-ims @boyd-mj hi what is the status on this

[2022-06-13 14:04] boyd-mj commented on #131
Hi Julie, per my comment above the issue is fixed and will be included when we redeliver M4.

[2022-06-13 14:05] boyd-mj commented on #132
This is in progress.

[2022-06-13 17:16] cusackjm commented on #133
fixed during testing 6/13

[2022-06-13 17:16] #133 closed

[2022-06-13 17:28] cusackjm commented on #131
tested and fixed on 6/13

[2022-06-13 17:28] #131 closed

[2022-06-13 18:32] joshid-ims commented on #127
@danielruss, did you get a chance to look into this?

[2022-06-13 19:42] danielruss commented on #127
You don't check that TOBACCO==0. CIGLIFEA should not be be displayed.    Let me try with cigarettes.

[2022-06-13 20:26] danielruss commented on #127
I think this is logic.  Please double check...
[code]

[2022-06-13 20:35] danielruss commented on #127
I think the logic is wrong.  I think 7B should equal 1 not 0, and 8C should equal 1 not 0.

[2022-06-13 20:44] danielruss commented on #127
@FrogGirl1123  There is unnecessary repeated logic in cigarette/cigar/.... logic

[code]

This will lead to unneeded extra variables, and extra complexity checking the values.   Can we please discuss with the questionnaire content team ways to refactor the questions?

[2022-06-13 20:54] KELSEYDOWLING7 opened #135 "HOMEADD1_1 including HOMEADD1_2 responses, SEASADD1_1 including SEASADD2_1 responses"
Mod 4 Stage environment
Answers recorded here: https://nih.app.box.com/integrations/officeonline/openOfficeOnline?fileId=967634648469&sharedAccessCode=

Test Scenario 1 (email= samslowatemail@gmail.com, Connect_ID=3181204174)
- Recorded answers are: HOMEADD1_1= Williams Street ;  HOMEADD1_2= Viena, Austria
- Answers populating seem to be incorrectly combined: HOMEADD1_1= Williams Street Viena, Aus

[2022-06-13 21:09] danielruss commented on #130
@boyd-mj  going back and forth can cause problems because we grab variables from the html elements.  We don't clear the HTML elements because we want to allow the users to go back and forth while keeping there old responses.  @naiyume, I think we need to clean the DOM on stepping BACK (or only use LF to get the responses, this would be a major, not my preferred option). What do you think?

[2022-06-14 13:53] huip-ims commented on #24
@cusackjm Hi Julie - could you please update the M2 Word doc for PAINREL2, CHOLHTN2, METFOR2, INSULIN2, and ACIDSUP2 to show how 'PER' should be displayed?

[2022-06-14 15:14] naiyume commented on #130
@cunnaneaq or @cusackjm issue should be fixed, could you retest when you have the chance?

[2022-06-14 15:58] cusackjm commented on #24
@huip-ims changes made to qx doc

[2022-06-14 16:49] joshid-ims commented on #127
@cusackjm can you please confirm what Daniel is saying is correct for 7B and 8C? If so, please make the change in the Word document. Then I will try the code he is suggesting.

[2022-06-14 16:52] danielruss commented on #127
@joshid-ims  My suggestion would change the ordering of the questions.  This would need approval from people at the PI level (Neal possibly?)

[2022-06-14 18:17] danielruss commented on #127
The same pattern is in CIGARS and the other smoking forms.

[2022-06-14 18:50] cunnaneaq commented on #134
Checked this for HOMEADD, SEASADD, and CHILDADD and did not see concept IDs when click back for any of them.  Spoke with @naiyume about my comment above, this is the intended function of the PWA/Quest

[2022-06-14 18:50] #134 closed

[2022-06-14 18:52] cunnaneaq commented on #130
6/14 testing - I entered all address fields for CHILDADD and then went back and deleted the city and state.  Received CHILDADD2 and entered f/u city and state here.   Piped address in following questions looked good. @KELSEYDOWLING7 I made notes in the testing spreadsheet, please let me know if you need clarification about what I did.  Thanks!

[2022-06-14 19:48] KELSEYDOWLING7 commented on #130
I'm still seeing the deleted city and state in CHILDADD1 as well as the city and state entered in the follow up CHILDADD2 on the back end

[2022-06-14 20:44] cusackjm commented on #127
@danielruss @joshid-ims Neal would like the following changes implemented. Let me know that these make sense on your end and I will update the questionnaire documents.

1. Update the CIGARLIFE skip logic from:
"IF (CIGAR1 = 3 AND CIGAR4 = 3) OR (CIGAR1 = 3 AND CIGAR7B = **0**) OR(CIGAR1 = 3 AND CIGAR8C = **0**), GO TO CIGARLIFEA IF CIGAR3 **IS NULL**, GO TO CHEW1ELSE, GO TO CHEW1 (I.E. CIGAR1 = 2,

[2022-06-15 13:30] KELSEYDOWLING7 commented on #135
[https://github.com/episphere/questionnaire/issues/130](url)

SEASADD1_1 and SEASADD2_1 seems to be the exact same issue as we same in issue 130 with CHILDCITY/CHILDST AND CHILDCITY_FOLLOWUP/CHILDST_FOLLOWUP with deleted answers still showing up in the backend

@naiyume  saw a difference in the way Viena Australia was typed in HOMEADD1_1 and HOMEADD1_2, so that may have been an error in the record

[2022-06-15 15:04] boyd-mj commented on #135
We completed our markup review and could not identify any issues. We also could not reproduce the issue in testing.

[2022-06-15 19:06] danielruss commented on #127
[code]

renders appropriately for me + the logic appears correct

[2022-06-15 19:24] boyd-mj commented on #128
@naiyume believes a change made 9 days ago addressed this. Per @FrogGirl1123 please re-test

[2022-06-15 19:29] boyd-mj commented on #120
Per discussion on call on 6/15, minimum age should be changed for all products to when they started using the product

[2022-06-15 19:48] naiyume commented on #116
@joshid-ims
[code]

This is the code that shows up for do/did

Shouldn't it look more like this?

[code]

[2022-06-15 19:52] joshid-ims commented on #127
No, that is not working. One it is not recording CIG2 = 25 that I entered and the logic is wrong. I had only selected Tobacco =0.

![image](https://user-images.githubusercontent.com/64986739/173915072-7e44b0af-81db-4dbf-896f-713e72781f68.png)

[2022-06-15 19:52] boyd-mj commented on #91
This issue has been fixed and will be included in the next delivery

[2022-06-15 19:53] joshid-ims commented on #127
Not sure why it is going to CIGARLIFE.

[2022-06-15 19:55] boyd-mj commented on #24
This issue has been fixed and will be included in the next delivery

[2022-06-15 20:00] joshid-ims commented on #127
Yes, I realized that but why should it go to CIGARLIFEC when I only selected Tobacco= 0 (only CIG questions should be displayed.).

CIG2 = 25 was entered. It is not being saved.

[2022-06-15 20:02] danielruss commented on #127
you finished the CIG questions.  The logic on CIGARLIFEC is wrong.

[2022-06-15 20:02] danielruss commented on #127
I did not got passed the CIGLIFE question

[2022-06-15 20:05] danielruss commented on #127
looking into this.

[2022-06-15 20:36] danielruss commented on #127
CIG2 is being saved now.

[2022-06-15 21:04] cunnaneaq opened #136 "Single response text inputs, not deleting in firestore"
For questions with single text boxes, if a participant goes back and deletes a response, the response is not deleted in firestore.

Example Question from Mod 2:
![Screen Shot 2022-06-15 at 5 04 02 PM](https://user-images.githubusercontent.com/83971268/173929544-b7504c11-e915-422f-8b01-593e6b10df25.png)

[2022-06-15 21:13] cunnaneaq commented on #130
Seems fixed in dev, meeting with @naiyume and @KELSEYDOWLING7 6/16 AM to check in stage/Firestore/BQ

[2022-06-16 12:27] joshid-ims commented on #127
Did you make any change? Have you pushed it to production? Or do I need to change something? I still see CIG2 not being saved.

[2022-06-16 12:47] cusackjm commented on #127
@danielruss

[2022-06-16 17:59] boyd-mj commented on #18
These have been updated and will be included in the next deliveries

[2022-06-17 14:25] joshid-ims commented on #127
CIG2 is still not storing for me.

![image](https://user-images.githubusercontent.com/64986739/174317751-0fb2c06f-ea47-443e-8545-a4fe40dc131b.png)

[2022-06-17 14:41] cunnaneaq opened #137 "Responded to MENS1&2 - not getting correct end message"
MENS1 - YES
MENS2 - 06/07/2022

Message should say "Thank you for completing the survey." and should be able to submit

Instead, the screen says "Thank you.  We will check back in with you soon."

![Screen Shot 2022-06-17 at 10 38 10 AM](https://user-images.githubusercontent.com/83971268/174320035-8730835a-5ee7-4db5-b49a-72e0eec501f4.png)

On the dashboard, the survey is still available and in the

[2022-06-17 14:59] cunnaneaq opened #138 "MENSINTRO - not pulling date from MENSTART in Biospecimen Survey"
2nd paragraph of MENSINTRO in specs document says:
![Screen Shot 2022-06-17 at 10 45 52 AM](https://user-images.githubusercontent.com/83971268/174321351-3e18da1f-b596-4994-92ff-2c57a9834035.png)

In the biospecimen survey, I entered "5/20/2022" at MENSTART, and MENSINTRO looked like this (see green box):

![Screen Shot 2022-06-17 at 10 47 11 AM](https://user-images.githubusercontent.com/83971268/1

[2022-06-17 15:32] cunnaneaq opened #139 "Each module should start at the top of the page"
When beginning a new module, please make it so the user is brought to the top of the page each time

(@naiyume made this change to the consent form)

[2022-06-17 16:10] cunnaneaq opened #140 "Scroll to error message in all modules"
When there is an error, please make it so the page scrolls up to where the error message is located rather than staying on the "back"/"next" view

Issue noticed in Module 4 on a mobile device

[2022-06-17 16:26] cusackjm commented on #127
@boyd-mj @joshid-ims @huip-ims I updated the product sections and also noticed other errors in the PRODUCT4 responses and corresponding skip logic. Everything is marked in tracked changes. Let me know if you have any questions.

[2022-06-17 16:35] FrogGirl1123 commented on #127
@joshid-ims Could your team please make the necessary updates to the transformed markup and redeliver?

[2022-06-17 19:02] cunnaneaq opened #141 "PREG10 & PREG11 asked for each pregnancy"
PREG10 and PREG11 should be asked for each pregnancy in the loop.

Mia noticed this in stage testing 6/17

[2022-06-17 20:38] guinevere83 commented on #141
I tried all the options for PREG5 and those two questions seemed to have behaved as expected at least for me. What scenarios caused this?

[2022-06-21 19:14] cusackjm commented on #127
@joshid-ims yes that is correct

[2022-06-21 19:18] joshid-ims commented on #127
Ok, thanks!

[2022-06-22 20:05] cusackjm commented on #141
@guinevere83 there is no issue. pwa was functioning as intended

[2022-06-22 20:05] #141 closed

[2022-06-22 20:36] #128 closed

[2022-06-22 20:43] cusackjm opened #142 "Incorrect error message shown"
![image](https://user-images.githubusercontent.com/85582895/175132283-8226f555-dcc0-4e17-b8ad-7fc63d228c9f.png)

Noticed in Mod 2: MENSHIS section and Mod 3: CIG section

[2022-06-22 20:44] cusackjm commented on #142
![Picture1](https://user-images.githubusercontent.com/85582895/175132593-dd48c4b8-55ce-4147-942f-e4790189ffe4.png)

[2022-06-22 20:44] cusackjm commented on #142
![image](https://user-images.githubusercontent.com/85582895/175132668-9a42031b-b56d-49ac-b62a-aaea32efe74c.png)

[2022-06-22 20:46] cusackjm opened #143 "Max # value is incorrect, looks like 1 is added to the value max should be"
![image](https://user-images.githubusercontent.com/85582895/175132784-00690dec-0133-4318-b6bf-d5d485447d2f.png)
Participant is 45, but the error message is 46 and console looks like 1 is being added to it

[2022-06-22 21:24] naiyume commented on #142
@cusackjm Should be fixed and ready for retesting.

[2022-06-22 21:27] naiyume commented on #143
@boyd-mj
Please assign to IMS. This ended up being a markup issue.
<img width="364" alt="image" src="https://user-images.githubusercontent.com/27040828/175141285-6f3517f9-e3c5-4960-a8d5-b79a334d25b8.png">
Unsure what the reason for this +1 is for, but this is causing the max age to be one larger than the age they give you. Picture above is just an example of this showing up from another question.

[2022-06-23 13:29] cusackjm commented on #104
@huip-ims what is the status on this?

[2022-06-23 13:30] cusackjm commented on #116
@joshid-ims what is the status on this?

[2022-06-23 13:30] cusackjm commented on #120
@joshid-ims what is the status on this?

[2022-06-23 13:43] huip-ims commented on #104
@cusackjm @boyd-mj Hi Julie - this has passed IMS internal testing. Jen will be including this fix in the next delivery.

[2022-06-23 13:46] boyd-mj commented on #107
Hi Julie, this is the only issue for this survey so we can redeliver anytime.

[2022-06-23 13:47] cusackjm commented on #136
kelsey saw issues in mod 3

[2022-06-23 13:47] #130 closed

[2022-06-23 13:47] #135 closed

[2022-06-23 13:54] cusackjm commented on #107
@boyd-mj please wait and deliver them together

[2022-06-23 13:58] KELSEYDOWLING7 commented on #102
@FrogGirl1123 do we want to look at this QAQC code while we're updating the others? I think this is just an error in the coding that allowed this to slip through

[2022-06-23 15:02] danielruss commented on #63
@naiyume   Would setting a default value solve the problem?

Try:
[code]

[2022-06-23 15:10] danielruss commented on #63
on my android phone:

<img width="431" alt="screenshot" src="https://user-images.githubusercontent.com/3767675/175332446-c118f0bf-cb3a-4522-ac3a-1560e02f3850.png">

[2022-06-23 20:26] cunnaneaq commented on #137
@anthonypetersen fixed in dev - able to submit the survey when MENS1 = YES

[2022-06-23 20:35] cunnaneaq opened #144 "End message when MENS1=YES is incorrect"
MENS1 = YES
MES2 = 06/07/2022

![Screen Shot 2022-06-23 at 4 21 23 PM](https://user-images.githubusercontent.com/83971268/175393796-197797f7-e40c-450f-b2fc-b1c62ed48536.png)

When MENS1 = YES, message should say, "Thank you for completing the survey."

[2022-06-23 20:35] #137 closed, assigned to anthonypetersen, boyd-mj, cusackjm

[2022-06-23 20:42] anthonypetersen commented on #137
I think this still needs to go to IMS

[2022-06-23 20:44] cunnaneaq commented on #137
I created a new issue to keep prevent confusion - https://github.com/episphere/questionnaire/issues/144

[2022-06-24 13:31] woodruffr opened #145 "TOBACCO and ECIG Brand Language"
This small language change for TOBACCO and ECIG1 adds “some if the most popular brands” so that the trademark symbols are not required. This change does not involve any data dictionary changes.

From: Cusack, Julie (NIH/NCI) [C] <julie.cusack@nih.gov>
Sent: Thursday, June 23, 2022 11:08 AM
To: Woodruff, Rose (IMS) <WoodruffR@imsweb.com>
Cc: Freedman, Neal (NIH/NCI) [E] <freedmanne@mail.nih.gov>; B

[2022-06-24 13:59] joshid-ims commented on #120
Actually, our tester asked about why we are using CIG3 age as I have coded as min=valueOrDefault("CIG3_AGE","CIG2",0), like use age in 3 or in 2 or 0 (in that order). Is this ok or just age in 2 should be used?

[2022-06-24 14:53] cusackjm commented on #120
Please leave as is @joshid-ims

[2022-06-24 17:58] joshid-ims commented on #127
@cusackjm, for X limit in LIFE questions, the current criteria is based only on CIG3 age. But now we are displaying the LIFE questions when CIG3 = 44. So should a criteria be added there using CIG2 age as well? If so, could you please update the Word document?